<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chitter</title>
  </head>
  <body>
    <h1><%= @current_user.username %>'s Peeps</h1>
    <p>Peeps</p>
    <p><%= Peep.all_by(@current_user.id).count %></p>
    <p>Luvs</p>
    <p><%= Luv.where(user_id: @current_user.id).count %></p>
    <table>
      <% Peep.all_by(@current_user.id).reverse.map.with_index do |peep, i| %>
        <tr>
          <td>
            <div><%= @current_user.username %></div>
            <%= peep.body %>
            <p>Peeped at <%= peep.timestamp %></p>
          </td>
          <td>
            Luvs <%= Luv.all_for peep %>
            <form action="/handle-luv" method="POST">
              <input type="submit" id="luv-peep-<%= i + 1 %>" name="<%= peep.id %>" value="Luv">
            </form>
          </td>
        </tr>
      <% end %>
    </table>
    <% if @current_user.logged_in %>
      <form action="/send-peep" method="POST">
        <input type="textarea" class="new-peep" name="new-peep">
        <input type="submit" id="send-peep" value="Send Peep">
      </form>
      <a href="/peeps">Main Feed</a>
    <% end %>
    <a href="/log-out">Log Out</a>
  </body>
</html>
