<form action="/chitter/logout" method="post">
  <input type="submit" value="Log Out">  
</form>

<form action="/chitter/account/<%= @user.username %>/post_peep" method="post">
  <textarea name="peep_body" placeholder="What's on your mind, <%= @user.full_name.split.first %>?" cols="40" rows="10" max_length="280"></textarea>
  <br>
  <input type="submit" value="Peep">
</form>

<% unless @feed.empty? %>
  <% @feed.each do |feed_entry| %>
    <%= feed_entry.user.full_name %> @<%= feed_entry.user.username %> <%= feed_entry.peep.time_date %>
    <br><br>
    <%= feed_entry.peep.body %>
    <br><br>
  <% end %>
<% end %>
