<h1> This is the flow index page </h1>

<% if @id %>

Welcome! Your user id is: <%= @id %>

<% end %>

<br>
<br>

<% @messages.each do |message| %>

  Message content is:
  <br>
  <b> <%= message.content %> </b>
  <br>

  Message id is:
  <%= message.id %>
  <br>

  Message time and date are:
  <%= message.time %>
  <br>

  User id for message is:
  <%= message.user_id %>
  <br>
  <br>

<% end %>
