<% if current_user && @user == current_user  %>
  <h1>Hi <%= current_user.name %>, here are your Peeps</h1>

  <form id='peep' method='POST' action='/peeps'>
    <input type='text' name='peep' />
    <input type='submit' value='Peep' />
  </form>

<% elsif current_user %>
  <form id='home' method='GET' action='/sessions/new'>
    <input type='submit' value='Home' />
  </form>
<% end %>

<% if !@peeps.empty? %>
  <ul id='peep_list'>
  <% @peeps.each do |peep| %>
    <p style='font-size: 70%'><b><%= @user.name %>  </b><a style='color: gray'>@<%= @user.username %>: <%= peep.time_stamp.strftime('%b %e') %></a></p>
    <li>
      <%= peep.text %>
    </li>
  <% end %>
  </ul>
<% elsif current_user %>
    <p>Post your first peep!</p>
<% else %>
  <p>User has not peeped yet</p>
<% end %>
