

<div class="sign-out">
  <form class="squiggle-form" action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
</div>

<div class="squiggle-post">
  <form class="squiggle-form" action="/squiggles/<%=@user.id%>/new" method="post">
    <textarea class="u-full-width" name="squiggle" placeholder="Hi <%=@user.name%>! Write your squiggle here..." /></textarea>
    <input type="submit" value="Add to Fowwest" />
  </form>
</div>

<% @squiggles.reverse.each do |squiggle| %>
  <div class="squiggle-box">
    <div class="squiggle-title"><%=User.find(squiggle.user_id).name%> @ <%=squiggle.time%></div>
    <div class="squiggle-content"><%=squiggle.nuttify%></div>
    <% if squiggle.user_id == @user.id %>
    <form class="squiggle-form" action="/squiggles/<%= squiggle.id %>/delete" method="post">
      <input type="submit" value="Delete" />
    </form>
    <% end %>
  </div>
<% end %>
