<% if current_user %>
<h2>Welcome <%= current_user.username %>, tell your feline friends what's up</h2>
<a class="head" href="/meows/new">Meow</a>
<% end %>

<ul id='meows'>
<% @meows.each_with_index do |meow, index| %>
    <li>
        <div class="box">
          <div class="avatar <%= index.odd? ? 'odd' : 'even' %>"></div>
          <div class="message"><%= meow.message %></div>
        </div>
        <span class="info"><%= meow.time.strftime('%a, %d %b %Y %H:%M') %></span>
        <span class="info"><%= meow.user.username %></span>
        <span class="info"><%= meow.user.name %></span>
    </li>
  <% end %>
</ul>
