<!-- This page will eventually list all of my meows -->

<h2>What are your feline friends up to?</h2>

<% if current_user %>
Welcome <%= current_user.username %>
<% end %>

<ul id='meows'>
<% @meows.each do |meow| %>
    <li>
      <%= meow.message %>
        <%= meow.time %>
        <%= meow.user.username %>
        <%= meow.user.name %>

    </li>
  <% end %>
</ul>


<a href="/meows/new">Meow</a>
