
<style>

<body>

<style type="text/css">
ul{
  display:flex;
  flex-direction: column-reverse;
}
</style>

<h2> 
  <%= flash[:notice] %>
  </h2>

<% if @user %>
  <h1>Welcome to Chitter <%= @user.name %></h1>

  <form action='/sessions/destroy' method="post">
    <input type="submit" value="Sign out">
  </form>

<form action='/chitters' method='post'>
<label>Write your peep below: </label><br>
<input type='text' name='peep'>
<input type='submit' value='Peep'>
</form>

  <% else %>
  <h1>Welcome to Chitter</h1>
  <h2>Sign up today.</h2>

<form action='/users/new' method='get'>
<input type='submit' value="Sign up">
</form>

   <h3>Already have an account?</h3>
  <form action="/sessions/new" method="get">
  <input type="submit" value="Sign in">
  </form>
  <% end %>



<br>




 
<h1> See what others are saying: </h1>

<ul>
<% @peeps.each do |peep| %>
<li><%= User.find(id: (peep.user_id)).username %>
<%= peep.created_at %><br><%= peep.peep %></li><br>
<% end %>
</ul>
</body>