<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chitter: peeps</title>
  </head>
  <body>
    <h2>Chitter</h2>
    <% if @user %>
      <h3>Welcome, <%= @user.email %></h3>
    <% end %>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out">
    </form>
    <form class="" action="/peeps/new" method="get">
      <input type="submit" name="" value="Add peep">
    </form>



    <ul>
      <% @peeps.each do |peep| %>
      <li class="peep" id="peep-<%= peep.id %>">
        <%= peep.text %>
        <br>
        <p><%= @user.email %>: <%= peep.time %></p>
        <form class="" action="/peeps/<%= peep.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" name="" value="Delete">
        </form>

        <form class="" action="/peeps/<%= peep.id %>/edit" method="get">
          <input type="submit" name="" value="Edit">
        </form>
        <form action="/peeps/<%= peep.id %>/comments/new" method="get">
          <input type="submit" value="Add Comment" />
        </form>
        <ul>
          <% peep.comments.each do |comment| %>
            <li><%= comment.text %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
    <h2>
      <%= flash[:notice] %>
    </h2>
  </body>
</html>
