<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>

<form action="/" method="post">
  <input type= 'text' value = 'content' name = 'content' >
  <input type = "submit" name = "submit">
  </form>


<ul>
  <% @peeps.each do |peep| %>

    <li class= "peep" > <%= peep['name'] %><%= peep['handle'] %><%= peep['content'] %><%= peep['time'].chop.chop.chop %></li>
  <%end%>
<ul>
