<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  </head>

  <body>
    <div>
    <% @peeps.each do |peep| %>
    <h2><%= peep.user_handle %> (<%= peep.user_name %>) peeped at <%= peep.time_stamp %>: </h2>
    <p>
    <%= peep.message %>
    </p>
    <% end %>
    </div>
    <br><br>
    <form action="/peeps/new">
        <input class="button" type="submit" value="Add your own peep!" />
    </form>

  </body>
</html>
