<head>
  <title>Chitter</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto&display=swap" 
        rel="stylesheet"/>
  <style> 
    h1 {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 50px;
      color: white;
    }
    h3 {
      font-family: 'Noto Sans JP', sans-serif;
      color: white;
    }
    info {
      color: #d9d9d9;
    }
    handle {
      color: #cccccc;
    }
    li {
      font-family: 'Roboto', sans-serif;
      color: white;
      list-style-type: none;
      outline-style: solid;
      outline-width: thin;
      margin-right: 450px;
      padding: 15px 20px;
      background-color: #223344;
    }
    body {
      background-color: #15202b;
    }
    footer {
      color: white;
      background-color: rgb(21, 32, 43);
      text-align: center;
      padding: 10px;
      font-family: 'Noto Sans JP', sans-serif;
      position: relative;
      bottom: -10;
      width: 100%;
    }
  </style>
</head>
<body>
  <h1>Chitter</h1>
  <% if @user %>
    <h3>Hello <handle><%= @user.handle %></handle></h3>
    <form action="sessions/destroy" method="post">
      <input type="submit" value="Sign out"/>
    </form>
    <form action="peeps/new" method="get">
      <input type="submit" value="Make a Peep">
    </form>
  <% end %>
  <h3> <%= flash[:notice] %> </h3>
  <% if !@user %>
  <form action="sessions/new" method="get">
    <input type="submit" value="Sign in">
  </form>
  <form action="/users/new" method=get>
    <input type="submit" value="Sign up for Chitter">
  </form>
  <% end %>
  <hr class="solid">
  <ul>
    <% @peeps.each do |peep| %>
      <li class="peep" id="peep-<%= peep.id %>">
        <b><%= peep.poster_name %></b> <info><%= peep.poster%> • <%= peep.time %></info> <br><br> <%= peep.post %> 
      </li>
      <br>
    <% end %>
  </ul>
  <footer>
    Chitter Challenge | JR-G | Makers 2020
  </footer>
</body>