<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chitter</title>
<link rel = "stylesheet" href="styles.css"/>
</head>
<body>
<nav>
<body class ="mainbody">
<div class = "logo"><a href="/"> CHITTER</a></div>
<div class = "nav-items">
<% if @user %>
<div class = "loggedinnav">

  <form action = "/sessions/destroy" method="post">
  <button class= "logoutbutton" type="submit" value="Sign out">LOGOUT</button>
</form>
  <p> Welcome, <%= @user.username %> </p>
</div>
<% else %>
<div class = "nav-items">
<a href="/sessions/new">LOGIN</a>
<a href="/users/new">SIGNUP</a>
</div>
<% end %>
<ul>
</div>
</nav>
<section class="mainbody">
<div class="mainbody-container">
<div class="column-left">
   <% if @user %>
<div class = "column-left signup">
<form action="/peeps" method="post">
  <input class = "signup1 buttonspace1" type="text" name="peep" placeholder = "write your peep here" minlength="1" required />
  <button class ="signup1 buttoncolour buttonspace" type="submit" value="Submit">Create peep</button>
</form>
</div>
<%else%>

<h3 class="leftsignup"><h2 class = "flash signoutflash"><%= flash[:notice] %></h2><a href = "/users/new"> sign up</a> or <a href = "sessions/new"> login</a> to peep!<h3>
<%end%>
 </div>
 
 <div class="peeptable column-right">
 <div><h3>Most recent peeps</h3></div>
<% @peeps.reverse.each do |peep| %>
<div class = "bunchpeep">
    <li class ="peep" id="peep-<%=peep.id%>">
    <div class = peeptopbar>
     <div class = "peepdatetime"> <%="#{peep.time}"%> on <%= "#{peep.date}"%> </div>
    <div class><%= peep.user_id %> posted:</div>
    </div>
   <div class ="signup1 editpeep "> <%= peep.peep %> </div>
    <% if @user %>
    <div class = "editcomment peepedit">
    <form action="peeps/<%= peep.id%>" method="post">
    <input type='hidden' name='_method' value='DELETE'>
     <button class="peepbutton" type="submit" value="Delete">Delete</button>
     </form>
       <form action="/peeps/<%= peep.id %>/edit" method="get">
        <button class="peepbutton" type="submit" value="Edit">Edit</button>
      </form>
     
      <%# <form action="/peeps/<%= peep.id/comments/new" method="get"> %>
        <%# <button class="peepbutton" type="submit" value="Add Comment">Add comment</button>
      </form> %>
      </div>
      <%end%>
    </div>
       <div class = "commentscolor">
      <% if peep.comments.length > 0 %>
        <div>
          <ul>
            <% peep.comments.each do |comment| %>
              <li class = "signup1 commentlist"><%= comment.text %>
          </li>
            <% end %>
          </ul>
        </div>
      <% end %>
</li>
<% end %>

 </div>
</div>
</ul>
</div>

</body>
</html>

