<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container">
  <div class="jumbotron">
    <h1>Chitter</h1>
  </div>
  <% unless @user %>
    <form action="/users/new" class="navbar-right col-xs-1">
      <input class="btn btn-primary" type="submit" value="Sign up"/>
    </form>
    <form action="/sessions/new" class="navbar-right col-xs-1">
      <input class="btn btn-primary" type="submit" value="Sign in"/>
    </form>
  <% end %>
  <% if @user %>
    <form action="/sessions/destroy" method="post" class="navbar-right">
      <input class="btn btn-primary" type="submit" value="Sign out"/>
    </form>
    <h1>Welcome,
      <%= @user.name %></h1>
    <h2>@<%= @user.username %></h2>
  <% end %>
  <h1>Timeline</h1>
  <% if flash[:notice] %>
    <div class="alert alert-danger centered" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <form action="/peeps/new">
    <input class="btn btn-primary btn-lg" type="submit" value="Post a Peep"/>
  </form>
  <ul class="list-group">
    <% @peeps.reverse_each do |peep| %>
      <ol class="list-group-item">
        <b><%= peep.message %></b>
        <br>
        Posted at:
        <%= peep.peep_timestamp %>
      </ol>
    <% end %>
  </ul>
</div>