<h2>
  <%= flash[:notice] %>
</h2>
<% if @user %>
  <h1>Welcome, <%= @user.name %></h1>
  <%=erb :"peeps/new"%>
<% else %>
  <%=erb :"sessions/new"%>
<% end %>
<br><br>
<div id="peep_border">
  <div id="peep-scroll">
    <%@peeps.each do |peep| %>
      <div class="peep" id="peep">
        Peeped by: <b><%=User.find_by_id(id: peep.user_id).name%></b>,
         <%=User.find_by_id(id: peep.user_id).user_name%>
        <br>
        <label class="peep_output"><%=peep.peep%></label><br>
        <%=time_ago_in_words(Time.parse(peep.created_at))%> ago<br>
        
      </div>
      <br>
    <%end%>
  </div>
</div>
<br>

<% if @user %>
  <form action="/sessions/delete" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>
