<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/general_chitter_style.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>
  <body>

    <div class="title">
      <h1>
CHITTER
</h1>

    <div class="actions">
      <% if session[:user_id] == nil %>
      <form action="/users/new" method="GET">
        <input type="submit" value="Sign Up" class="main_page_input">
      </form>
      <% end %>
      <% if session[:user_id] == nil %>
      <form action="/sessions/new" method="GET">
        <input type="submit" value="Log in" class="main_page_input">
      </form>
      <% end %>
      <% if session[:user_id] != nil %>
      <form action="/sessions/destroy" method="GET">
        <input type="submit" value="Log out" class="main_page_input">
      </form>
      <% end %>
    </div>
  </div>

  <% if @new_user == true %>
    <%= erb :'/users/new' %>
    <% @new_user = false %>
  <% end %>

  <div class="flash_container"><div class="flash_area"><%= flash[:n] %></div></div> <br>
  <% if session[:user_id] != nil %>
    <div class="peep_enter">
      <form action="/peeps/new" method="POST" class="post_peep">
        <input type="text" name="text" placeholder="Enter your peep">
        <input type="submit" value="Add Peep">
      </form>
    </div>
  <% end %>
    <% @peeps.each do |peep| %>
    <div class="single_peep">

      <%= peep.author %>
      wrote:
      <%= peep.text %>
      <br>
      <h3>
        <%= peep.date %>
      </h3>
    </div>
    <% end %>
  </body>
</html>
