<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”/style.css” />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
}
</style>
</head>

<body>
<img src = "images/chitter_logo.png" alt = "Chitter logo"><br>

<div class="text">
<h1> Posted Peeps </h1>
<% if @user %>
  <h2> Welcome <%= @user.username %></h2>
  <h3> Logged in as: <%= @user.email %></h3>
<% end %>
<ul>
  <% @peeps.reverse.each do |peep| %>
  <li class='peep'><%= peep.text %>
    <%= peep.timestamp[0, 16]%>
    <%= User.find(peep.user_id).username%>
  </li>
  <% end %>
</ul>
<h2>
  <%= flash[:notice] %>
</h2>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Log out" />
</form>
</div>
</body>
</html>