
<center>
<h1 style="font-size:50px;">Chitter</h1>
<h1 style="font-size:50px;">Peep Timeline</h1>


<h2>
  <%= flash[:notice] %>
</h2>

<h1>
  <ul style="list-style-type:none">
    <% @peeps.each do |peep| %>
      <div style="border-style: inset"><li><div style="display:inline-block;"><b style="color:blue"><%= peep.name %></b><small style="color:gray">(<%= peep.username %>):</small></div> <p><%= peep.message %></p><div style="color:gray;font-size:20px"><%= peep.date_time %></div></li>
      <% if peep.tags? %>
      <li><label>Tagged:</label>
      <a href="/tags/<%= peep.tags?.user_id %>"> <%= peep.tags?.username %></a>
      <% end %>
    <% end %>
  </div></ul>
</h1>

<% if @user %>
<form action="/peeps/new">
  <button type="submit" value="Post Peep" style="text-align:center; width:300px; font-size:30px;">Post Peep</button>
</form>
<form action="/sessions/destroy" method="post">
  <button type="submit" value="Sign Out" style="text-align:center; width:300px; font-size:30px;">Sign Out</button>
</form>
<% end %>
</center>
