<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter: peeps!</title>
  </head>
  <body>
    <h2>Chitter</h2>

    <form class="" action="/peeps/new" method="get">
      <input type="submit" name="" value="Add peep">
    </form>



    <ul>
      <% @peeps.each do |peep| %>
      <li class="peep" id="peep-<%= peep.id %>">
        <%= peep.text %>
        <br>
        <p><%= peep.time %></p>
        <form class="" action="/peeps/<%= peep.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" name="" value="Delete">
        </form>

        <form class="" action="/peeps/<%= peep.id %>/edit" method="get">
          <input type="submit" name="" value="Edit">
        </form>
        <form action="/peeps/<%= peep.id %>/comments/new" method="get">
          <input type="submit" value="Add Comment" />
        </form>
        <ul>
          <% peep.comments.each do |comment| %>
            <li><%= comment.text %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </body>
</html>
