<h1>Chitter</h1>
<% if @user %>
  <form action="/users/<%= @user.username %>/peeps/new" method="get">
    <input type="submit" value="Peep">
  </form>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Logout">
  </form>
  <% if user_profile.id == @user.id %>
    <h2> Your profile</h2>
  <% else %>
    <h2><%= user_profile.name %>'s profile</h2>
  <% end%>
<% end %>
<% if @user.nil? %>
  <form action="/users/new" method="get">
    <input type="submit" value="Register">
  </form>
  <form action="/sessions/new" method="get">
    <input type="submit" value="Login">
  </form>
  <h2><%= user_profile.name %>'s profile</h2>
<% end %>

<p>
  <%= flash[:notice] %>
</p>
<% if peeps %>
  <% peeps.each do |peep| %>
  <ul>
    <li>
    <h2> <%= peep.text %></h2>
    <h3> <%= peep.time_display %></h3>
    </li>
  </ul>
  <% end %>
<% end%>