<% if @user %>
  <h1> Welcome to Chitter <%=@user.name %> </h1>
<% end %>

<ul>
  <% @peeps.reverse.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.peep %>, peeped by <%=peep.username %>  on <%=peep.date %> at <%=peep.time %>
    </li> 
  <% end %>
</ul>
<br>

<% if @user %>
  <form action='/peeps/new', method='get'>
    <input type='submit' value='add new peep'>
  </form>
  <br>
  <br>
  <form action='/sessions/destroy', method='post'>
    <input type='submit' value='log out'>
  </form>
<% else %>
  <form action='/sessions/signin', method='get'>
    <input type='submit' value='sign in'>
  </form>
  <form action='/registrations/signup', method='get'>
    <input type='submit' value='sign up'>
  </form>

<% end %>  
