<p><%= flash[:notice] %>

<% if @user %>
  <h3>Welcome, <%= @user.name %>!</h3>
  <div>
    <form action = '/peeps/new'>
      <input type = 'submit'  value = 'New Peep'>
    </form>
  </div>
<% end %>

<% @peeps.each do |peep| %>
  <article class = 'peep'>
    <h4><%= peep.username %></h4>
    <p><%= peep.content %></p>
    <h6><%= peep.time %></h5>
    <% if @user != nil && @user.username == peep.username %>
      <form action = '/peeps/<%= peep.id %>' method = 'post'>
        <input id='hidden' type='hidden' name='_method' value='delete'>
        <input type='submit' id='Delete_<%= peep.id %>' value='Delete'>
      </form>

      <form action = '/peeps/<%= peep.id %>/edit'>
        <input type='submit' id='Edit_<%= peep.id %>' value='Edit'>
      </form>
    <% end %>
  </article>
<% end %>
