<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="index.css" >
</head> 

<h1>Chitter</h1>



<% if @user %>
  <h3> Welcome <%= @user.username %> </h3>

  <form action='/sessions/destroy' method='post'>
    <input type='submit' value='Sign out'/>
  </form>

<% end %>

<h2> <%= flash[:notice] %> </h2>

<form action='/peeps' method='post'>
  <input type='text' name='peep'/>
  <input type='submit' value='Post my peep'/>
</form>

<% @peeps.each do |peep| user = User.find(id: peep.user_id)%>
  <div class='peep'>
    <%= peep.content %>
    <em> <p> 
    <% unless user.nil? %> 
      posted by: <%= user.username %>, <%= user.handle %> 
    <% else %>
      posted by: anonymous 
    <% end %>
    at <%=peep.time%> </em></p> 
  </div>
<% end %>

</html>