<!DOCTYPE html>
<html>
  <head>
    <title>Peeps</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Peeps</h1>
      <% if @user %>
        <h2>Welcome, <%= @user.name %></h2>
      <% end %>
    <h2>Here are your peeps:</h2>

    <% @peeps.each do |peep| %>
      <div class='peep'>
        <div class="peep_user">
          <strong><%= peep.name %></strong> (@<%= peep.username %>)
          <em>on <%= peep.time %></em>
        </div></br>
        <div class="peep_content">
          <%= peep.content %>
        </div>               
      </div></br>
    <% end %>

    </br>
    <a href="/peeps/new"><button>Create new peep</button></a>
    </br>
    <a href="/"><button>Homepage</button></a>
  </body>
</html>
