<h2>
  <%= flash[:notice] %>
</h2>
<% if @user %>
  <h1>Welcome, <%= @user.name %></h1>
<% end %>

<%=erb :"peeps/new"%>
<br><br>
<div id="table-wrapper">
  <div id="table-scroll">
    <%@peeps.each do |peep| %>
      <div class="peep">
        Peeped by: <%=User.find_by_id(id: peep.user_id).user_name%><br>
        <label class="peep_output"><%=peep.peep%><label><br>
        <%=peep.created_at%><br><br>
      </div>
    <%end%>
  </div>
</div>

<form action="/sessions/delete" method="post">
  <input type="submit" value="Sign out" />
</form>