<div class='peep-container'><% if @user %>
    <h1>Welcome <%= @user.username %>!</h1>
    <form action='/peeps' method='post'>
      <input type='text' name='content' placeholder="What's on your mind?">
      <input type='submit' value='New Peep'>
    </form>
  <% else %>
    <h1>Welcome Stranger</h1>
    <h2>Please, sign in!</h2>
  <% end %>
      <div class='peeps'>
        <ul>
          <% @peeps.each do |peep| %>
            <% peep_user = User.find(id: peep.user_id) %>
            <div class='single-peep'>
              <li class='peep-info'><a href='/peeps/users/<%= peep_user.id %>'><%= peep_user.username %></a> peeped on: <%= peep.created_on %>
              <li class='peep-content'><%= peep.content %> </li>
            </div>
          <% end %>
        </ul>
      </div>
</div>
