<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      .grip {
        color: grey;
        font-size: 10px;
      }

      .time {
        color: grey;
        font-size: 10px;
      }

      .peep {
        border: 1px solid lightblue;
        margin: 20px;
        padding: 5px;
        list-style-type: none;
        width: 25%;
        border-radius: 7.5px;
      }
      .peep p {
        margin: 10px;
      }

    </style>
    <title>Document</title>
  </head>
  <body>

    <p>Welcome, <%= @user.first_name %> </p>
    <form action="/peeps/new" method='get'>
      <button type="submit" name='new_peep'>New Peep</button>
    </form>

    <ul>
      <% @peeps.each do |peep| %>
        <li class='peep'>
          <p><%= @user.first_name.capitalize + " " + @user.surname.capitalize %><span class='grip'> $<%= @user.grip %></span></p>
          <p class='time'><%= peep.created_at.localtime.strftime('%H:%M %d/%m/%y') %></p>
          <p><%= peep.content %></p>
        </li>
      <% end %>
    </ul>

  </body>
</html>