<% if @user %>
  <h1> Welcome to Chitter <%=@user.name %> </h1>
<% end %>

<ul>
  <% @peeps.reverse.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.peep %>, peeped on <%=peep.date %> at <%=peep.time %>
    </li> 
  <% end %>
</ul>
<br>
<form action='/peeps/new', method='get'>
  <input type='submit' value='add new peep'>
</form>
