<%= styled_flash %>
<form action='/sessions/new'>
  <input type='submit' value='Sign in'>
</form>
<form action='/users/new'>
  <input type='submit' value='Create new user'>
</form>
<h1>What did you peep?</h1>
<ul>
<% Peep.list.each do |peep| %>
<h2> By <%= User.find(peep.user_id).name%> at <%= peep.time%> </h2>
<%= peep.content%>
<h3>Comments</h3>
<ul>
<% peep.comments.each do |comment| %>
By <%= User.find(comment.user_id).name%> at <%= comment.time %>
<br><%= comment.content %></br>
<%end%>
</ul>
<% end %>
</ul>
