<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <title>Chitter: peeps</title>
  </head>
  <body>

    <div class="header">
      <h3 class="header-title">Chitter</h3>
      <% if @user %>
      <h4 class="welcome">Welcome, <%= @user.email %></h4>
      <% end %>


      <form class="sign-out" action="/sessions/destroy" method="post">
        <input class="button" type="submit" value="Sign out">
      </form>

      <form class="add-peep" action="/peeps/new" method="get">
        <input class="button" type="submit" name="" value="Add peep">
      </form>

    </div>
    


    <div class="peeps-container">
    
      <ul>
        
        <% @peeps.each do |peep| %>
        <div class="single-peep">
          <li class="peep" id="peep-<%= peep.id %>">
            <div class="peep-body">
              <p class="peep-text"><%= peep.text %></p>
              <br>
              <p class="peep-time"><%= peep.email %>: <%= peep.time %></p>
            </div>
            

            <div class="peep-buttons">

              <form action="/peeps/<%= peep.id %>/comments/new" method="get">
                <input class="button" type="submit" value="Add Comment" />
              </form>

              <% if @user.email == peep.email %>
              <form class="" action="/peeps/<%= peep.id %>/edit" method="get">
                <input class="button" type="submit" name="" value="Edit">
              </form>
              
              <form class="" action="/peeps/<%= peep.id %>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input class="button" type="submit" name="" value="Delete">
              </form>
              <% end %>
              
            </div>
            
            <div class="comments">
              <ul>
                <% peep.comments.each do |comment| %>
                <% if comment.text.length > 0 %>
                <li><%= comment.text %></li>
                <% end %>
                <% end %>
              </ul>
            </div>
              
          </li>
        </div>
        <% end %>
      

      </ul>
    </div>
    
    <div class="flash">
      <h2>
        <%= flash[:notice] %>
      </h2>
    </div>
    
  </body>
</html>
