
<% if current_user %>
<h2>Post A New Peep</h2>
<form method='post' action='/peeps/new'>
<input type='text' name='content'>
<input type='submit' value='Post Peep'>
</form>
<% end %>


<% @peeps.each do |p| %>
<p>Peep: <%=p.content%></p>
<p>By <%=p.user.email%></p>
<p>At <%=p.created_at.strftime("%c")%></p>
<p>Number of replies = <%=p.responses.count%></p>

  <% p.responses.each do |reply| %>
  <p>Reply: <%= reply.content %></p>
  <p>At: <%=reply.created_at.strftime("%c")%></p>
  <p>By: <%= reply.peep.user.email %></p>
  <% end %>

<a href="/comments/new?peep_id=<%= p.id %>">Respond to this peep</a>
<% end %>
