<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home / Chitter</title>
  </head>
  <body>
    <h2>Chitter</h2>

    <h4>
      <%= flash[:notice] %>
    </h4>

    <% if @user %>
      <h4>Welcome, <%= @user.username %></h4>
      <a href="/peeps/new">Create new peep!</a><br>
    <% end %>
    <ul>
      <% @peeps.each do |peep| %>
        <li><%= peep.message %> | <%= DateTime.parse(peep.time).strftime('%e-%m-%y %H:%M') %> | <%= peep.peep_author.username %> | <%= peep.peep_author.name %></li>
      <% end %>
    </ul>


    <br>
      <a href="/users/new">Sign up</a> |
      <a href="/sessions/new">Sign in</a><br>
    <br>
      <form class="" action="sessions/destroy" method="post">
        <input type="submit" value="Sign out">
      </form>
  </body>
</html>
