<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/general_chitter_style.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>
  <body>

    <div class="title">
      <h1>
CHITTER
</h1>

    <div class="actions">
      <% if session[:user_id] == nil %>
      <form action="/users/new" method="GET" class="form_nav">
        <input type="submit" value="Sign Up" class="main_page_input">
      </form>
      <% end %>
      <% if session[:user_id] == nil %>
      <form action="/sessions/new" method="GET" class="form_nav">
        <input type="submit" value="Log in" class="main_page_input">
      </form>
      <% end %>
      <% if session[:user_id] != nil %>
      <form action="/sessions/destroy" method="GET" class="form_nav">
        <input type="submit" value="Log out" class="main_page_input">
      </form>
      <% end %>
      <% if session[:user_id] != nil %>
      <form action="/comments/new" method="GET" class="form_nav">
        <input type="submit" value="Add a comment to a peep" class="main_page_input">
      </form>
      <% end %>
    </div>
  </div>

  <% if flash[:n] %>
    <%= erb :'/flashes/flash' %>
  <% end %>

  <% if @new_user == true %>
    <%= erb :'/users/new' %>
    <% @new_user = false %>
  <% end %>

  <% if @log_in == true %>
    <%= erb :'/sessions/new' %>
    <% @log_in = false %>
  <% end %>

  <% if session[:user_id] != nil %>
    <%= erb :'/peeps/new' %>
  <% end %>

  <% @peeps.each do |peep| %>
    <div class="single_peep">
        <h2> id: <%= peep.id %>. <%= peep.author %> wrote: <%= peep.text %>. </h2> <br>
          <div class="date"> <h3> <%= peep.date %> </h3> </div>
      </div>
      Comments:
      <% @comments.each do |comment| %>
        <% if comment.peep_id == peep.id %>
              <li> <%= comment.text %> </li>
        <% end %>
      <% end %>
    <% end %>

  </body>
</html>
