<% if @user != nil %>
<%= @user.name %> (<%= @user.username %>)<br>
<% end %>
<table style="text-align:left">
  <tr>
    <th>Peep</th>
    <th>Time</th>
    <th>Name (Username)</th>
  </tr>
<% @peeps.each do |peep| %>
  <tr>
    <td><%= peep.message %></td>
    <td><%= peep.time %></td>
    <td><%= peep.user_id %></td>
  </tr>
<% end %>
</table>
