<% if @user %>
  <h1>Welcome, <%= @user.name %> (@<%= @user.username %>)</h1>
<% end %>

<p>
  <%= flash[:notice_1] %>
  <%= flash[:notice_2] %>
</p>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.peeped_on %> <%= peep.peep_text %></li>
  <% end %>
</ul>
