<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="index.css" >
</head> 

<h1>Chitter</h1>

<% if @user %>
  <h3> Welcome <%= @user.username %> </h3> 
<% end %>

<% @peeps.each do |peep| %>
  <div class='peep'>
    <%= peep.content %>
    <em> <p> 
    <% if @user %> 
      posted by: <%= @user.username%>, <%= @user.handle %> 
    <% else %>
      posted by: anonymous 
    <% end %>
    at <%=peep.time%> </em></p> 
  </div>
<% end %>

</html>