<h1>Chitter Chatter</h1>
<% if @user %>
  <h2>Welcome <%= @user.username %>!</h2>
<% end %>
<% if @user %>
  <form action='/peeps' method='post'>
    <input type='text' name='content'>
    <input type='submit' value='New Peep'>
  </form>
<% end %>
<ul>
  <% @peeps.each do |peep| %>
  <% peep_user = User.find(id: peep.user_id) %>
  <li><%= peep.content %> </li>
  <li><a href='/users/<%= peep_user.id %>'><%= peep_user.username %></a> peeped on: <%= peep.created_on %>
  <% end %>
</ul>
<% if @user %>
  <form action='/sessions' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='Sign Out'>
  </form>
<% else %>
  <form action='/users/new'>
    <input type='submit' value='Register'>
  </form>
  <form action='/sessions/new'>
    <input type='submit' value='Sign In'>
  </form>
<% end %>