<% if current_user %>
	<form action='/peeps' method='post'>
		<label for='content'>
			<p>What do you want to post?</p>
			<input type='text' name='content'>
		</label>
		<input type='submit' value='Post'>
	</form>
	<a href='/peeps/<%=current_user.username%>'>My peeps only</a>
<% end %>

<% @peeps.each do |peep| %>
	<ul class='feed'>
		<li>
			<%= peep.content %>
			<%= peep.user.name %>
			<a href='/peeps/<%=peep.user.username%>'><%= peep.user.username %></a>
			<%= peep.created_at_formatted %>
		</li>
	</ul>
<% end %>

