<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%# <link href="css/peeps_index.css" type="text/css" rel="stylesheet"> %>
  <style>
    #peep {
      border: 1px solid lightblue;
      margin: 5px;
      padding: 5px;
      list-style-type: none;
      width: 25%;
      border-radius: 20px;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome, <%=@user.name%> (<%=@user.grip%>)</h1>

  <form action="/peeps/new" method='get'>
    <button type="submit" name='new_peep'>New Peep</button>
  </form>
  <% @peeps.each do |peep| %>
    <li id="peep">
      <p><%=@user.name%> (<%=@user.grip%>)</p>
      <p><%=peep.content%></p>
      <p><%=peep.created_at%></p>
    </li>
  <% end %>
</body>
</html>