<% if current_user %>
	<form action='/peeps' method='post'>
		<label for='content'>
			<p>What do you want to post?</p>
			<input type='text' name='content'>
		</label>
		<input type='submit' value='Post'>
	</form>
	<a href='/peeps/<%=current_user.username%>'>My peeps only</a>
<% end %>


<% @peeps.each do |peep| %>
	<ul class='feed'>
		<li>
			<%= peep.content %>
			<%= peep.created_at_formatted %>
			<a href='/peeps/<%=peep.user.username%>'><%= peep.user.username %></a>
			<a href='/peeps/reply/<%=peep.id%>'>Reply</a>
			<% peep.replies.each do |reply| %>
				<p>Replies:</p>
				<ul class='replies'>
					<li>
						<%= reply.content %>
						<%= reply.created_at_formatted %>
						<a href='/peeps/<%=reply.user.username%>'><%= reply.user.username %></a>
					</li>
				</ul>
			<% end %>
		</li>
	</ul>
<% end %>

