<h1>Chitter</h1>

<% if @user %>
  <h2>Welcome, <%= @user.name %> (@<%= @user.username %>)</h2>
  <form action="/peeps/new" method="GET">
    <input type="submit" value="New Peep">
  </form>
  <form action="/sessions/destroy" method="POST">
    <input type="submit" value="Log out">
  </form>
<% else %>
  <form action="/sessions/new" method="GET">
    <input type="submit" value="Log in">
  </form>
  <form action="/users/new" method="GET">
    <input type="submit" value="Register">
  </form>
<% end %>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <% user = User.find(user_id: peep.user_id) %>
      <%= peep.peeped_on %> <%=user.name%> (@<%=user.username%>): <%= peep.peep_text %>
    </li>
  <% end %>
</ul>
