<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
    <a href="<%= peep.text %>" target="_blank">
      <%= peep.name %>
    </a>
      <form action="/peeps/<%= peep.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete" />
      </form>
      <form action="/peeps/<%= peep.id %>/edit" method="get">
        <input type="submit" value="Edit" />
      </form>
    </li>
  <% end %>
</ul>
<p>
  <%= flash[:notice] %>
</p>
