<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>

<form action="/" method="post">
  What's on your mind?
  <input type= 'text' name = 'content' >
   <button type = "submit" name = "submit"> Peep </button>
  </form>
  <form action='/sessions/destroy' method = 'post'>
    <button type = 'submit' value= 'Sign Out'> "Sign Out" </button>
  </form>
  <% else %>
  <form action='/signup' method= "get">
  <button name= 'signup' type= 'submit' method = 'get'> Sign Up </button>
</form>

<form action='/sessions/new' method= "get">
<button name= 'signin' type= 'submit' method = 'get'> Sign In </button>
</form>
<% end %>


<ul>
  <% @peeps.each do |peep| %>

    <li class= "peep" > <%= peep['name'] %><%= peep['handle'] %><%= peep['content'] %> <%= peep['time'].chop.chop.chop %></li>
  <%end%>
</ul>

<h2>
<%= flash[:notice] %>
</h2>
