<h1>Chitter</h1>
<% if @user != nil %>
<%= @user.name %> (<%= @user.username %>)<br>
<% end %>
<table style="text-align:left">
  <tr>
    <th>Peep</th>
    <th>Time</th>
    <th>Name (Username)</th>
  </tr>
<% @peeps.reverse.each_with_index do |peep, index| %>
  <tr peep="<%= index %>">
    <td class="message"><%= peep.message %></td>
    <td class="time"><%= peep.time %></td>
    <td class="user_id"><%= peep.user_id %></td>
  </tr>
<% end %>
</table>
