<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>
<ul>

  <% @peeps.each do |peep| %>
    <li class ="peep" id="peep-<%=peep.id%>">
    <%= peep.peep %>
    <form action="peeps/<%= peep.id%>" method="post">
    <input type='hidden' name='_method' value='DELETE'>
     <input type="submit" value="Delete" />
     </form>
       <form action="/peeps/<%= peep.id %>/edit" method="get">
        <input type="submit" value="Edit" />
      </form>
      <form action="/peeps/<%= peep.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment" />
      </form>
      <% if peep.comments.length > 0 %>
        <div>
          <h2>Comments</h2>
          <ul>
            <% peep.comments.each do |comment| %>
              <li><%= comment.text %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
</li>

  <% end %>
</ul>