<%= flash[:notice] %>
<h1>Peeps</h1>
<form action='/' method='get'>
  <input type='submit' value='Back to Homepage'>
</form>
<% if @user %>
  <p>
    Welcome, <%= @user.name %>
    <form action='/sessions/destroy' method='post'>
      <input type='submit' value='Sign Out'>
    </form>
  </p>
  <p>
    <a href='/peeps/new'>New Peep</a>
  </p>
<% end %>

<p>
  <ul>
    <% @peeps.each do |peep| %>
      <li class='peep'>
        <%= peep.message %>
        <%= peep.created_at.strftime("%k:%M %d/%m/%Y") %>
        <%= peep.user.name %>
        @<%= peep.user.username %>
      </li>
    <% end %>
  </ul>
</p>
