<h1>New Post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>

  <p>
    <%= form.label :peep %><br>
    <%= form.text_area :peep %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', posts_path %>
