<div class="form-container" id="shoutybox-page">
<h1>Hi <%=@user.name%></h1>

    <h2>My Peeps:</h2>
    <% @peeps.each do |peep| %>
        <% if peep.user_id == session[:user_id] %>
        <div class="peep">
        <h3><%=peep.peep%></h3><br>
            <%=@users.find(peep.user_id).name%> - <%=@users.find(peep.user_id).username%> -
            <%=peep.time%>
        <% end %>    
        </div>
    <% end %>
</div>