<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ｃｈｉｔｔｅｒ　（なゅ温）</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel="stylesheet" href="../styles/app.css">
  </head>
  <body>
    <div class="notice"><%= flash[:notice] %></div>
    <div class="user-bar">
    <span class="username">
        <p>【 User: <%= session[:user].username%> 】</p>
    </span>
    <span class="user-bar-buttons">
        <form>
        <button formaction="/app/new-peep">New Peep</button>
        <button formaction="/sessions/destroy">Log Off</button>
        </form>
    </span>
    </div>
    <div class="all-peeps">
     <%Peep.all.each do |peep|%>
     <div class="window peep">
  <div class="title-bar">
    <div class="title-bar-text"><%=peep.author %> - <%=peep.time %> なゅ温</div>
    <div class="title-bar-controls">
      <form>
      <button disabled aria-label="Minimize"></button>
      <button disabled aria-label="Maximize"></button>
      <button <%=' disabled' if peep.author != session[:user].username %> aria-label="Close" name="delete" formaction="/app/<%=peep.id %>/delete"></button>
      </form>
    </div>
  </div>
  <div class="window-body">
    <p><%=peep.body %></p>
  </div>
</div>
    <%end%>
    </div>
  </body>
</html>
