<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30" >
    <title>Ｃｈｉｔｔｅｒ　（なゅ温）</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel="stylesheet" href="../styles/app.css">
  </head>
  <body>
    <div class="notice"><%= flash[:notice] %></div>
    <div class="user-bar">
    <span class="username">
        <p>【 User: <%= session[:user].username%> 】</p>
    </span>
    <span class="user-bar-buttons">
        <form>
        <button formaction="/app/new-peep">New Peep</button>
        <button formaction="/sessions/destroy">Log Off</button>
        </form>
    </span>
    </div>
    <div class="all-peeps">
     <%Peep.all.each do |peep|%>
     <div class="window peep">
  <div class="title-bar">
    <div class="title-bar-text">
      author: <%=peep.author %> なゅ温<br>
      posted: <%=peep.time.day %>/<%=peep.time.month %>/<%=peep.time.year %> at <%=peep.time.hour %>:<%=peep.time.minute.to_s.rjust(2, "0") %>
    </div>
    <div class="title-bar-controls">
      <form>
        <%if peep.author == session[:user].username %>
        <button aria-label="Close" name="delete" formaction="/app/<%=peep.id %>/delete"></button>
        <%end %>
      </form>
    </div>
  </div>
  <div class="window-body">
    <p><%=peep.body %></p>
    <div class="favourite-count">
    <button>Favourite</button>
    ❤ 0 ❤
  </div>
  </div>
</div>
    <%end%>
    </div>
  </body>
</html>
