<h1>Chitter</h1>

<form action='/sign-up' method='GET'>
  <input type='submit' value='Sign Up'>
</form>

<% if @user %>
<h2><%= @user.name %> is logged in!</h2>

<form action='/' method='POST'>
  <label for='content'><i>What's on your mind?</i></label>
  <br>
  <textarea style='resize: none;' maxlength='140' 
  id='content' name='content' rows=5 required></textarea>
  <br>
  <input type='submit' value='Peep!'>
</form>

<% end %>

<h2>Peeps:</h2>

<% @peeps.each do |peep| %>
  <ul>
    <li><b><%=peep.handle%></b>: <%=peep.content%> 
      <ul>
      <li><i>(posted at <%=peep.time%> on <%=peep.date%>)</i></li>
      </ul>
    </li>
  </ul>
<%end%>
