<html>
  <head>
  </head>
  <body>
    <h1>Welcome to Chitter</h1>
    <form method="POST" action="/conversations">
    <div>
      <label>New Peep: </label>
      <input type="text" name="content" />
      <input type="submit" value="PEEP"/>
    </div>
    <input type="hidden" id="maker_id" name="maker_id" value="1">
    </form>
    <ul>
    <% @peeps.each_with_index do |peep, i| %>
      <li>
      <div>
        <%= @makers[i].name %> - <%= @makers[i].username %> Peeped: 
        <p>
        <%= peep.content %>
        </p>
        At: <a href='conversations/<%=peep.conversation_id%>'><%= peep.created_datetime %></a>
      </div>
      <br>
      </li>
    <% end %>
    </ul>
  </body>
</html>