<div class="container-sm">
  <p>Have your say.</p>
  <p>Original post was by: <%= @original_post.user.username%></p>
  <p>They said: <%= @original_post.content %> <b>at</b> <%= @original_post.created_at.to_formatted_s(:chitter)%></p>
</div>
<form action='/reply/<%= @original_post.id %>' method='POST'>
  <textarea type='text' placeholder='your response' name='content' maxlength=140 required cols=50 rows=10></textarea>
  <br>
  <% if flash[:error] %>
    <p style='color:red'><%= flash[:error] %></p>
  <% end %>
  <input type='submit' value='post it!'>
</form>
<br>
<a href='/'>Take me back</a>
