<!DOCTYPE html>
<html>
  <head>
    <title>Reply to a thread!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container-sm">
        <p>Welcome, <%= @current_user.username %>!</p>
        <p>Have your say.</p>
        <p>Original post was by: <%= @original_post.user.username%></p>
        <p>They said: <%= @original_post.content %> <b>at</b> <%= @original_post.created_at.strftime("%F / %H:%M")%></p>
      </div>
      <form action='/reply/<%= @original_post.id %>' method='POST'>
        <textarea type='text' placeholder='your response' name='content' maxlength=140 required cols=50 rows=10></textarea>
        <br>
        <input type='submit' value='post it!'>
      </form>
      <br>
      <a href='/'>Take me back</a>
  </body>
</html>