<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheep Feed - Chitter</title>
</head>

<body>
  <div>
    <ul>
      <li><a href="/feed">Home</a></li>
      <% if session[:user_id] == nil %>
      <li><a href="/users/new">Sign up</a></li>
      <% else %>
      <li><a href="/logout">Log out</a></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h1>Chitter - Live, Laugh, Cheep</h1>
  </div>
  <div>
  <% if session[:user_id] == nil %>
    <h3>Log in</h3>
    <form method="POST" action="/login">
      <label>Email:</label>
      <input type="text" name="email" />
      <label>Password:</label>
      <input type="password" name="password" />
      <input type="submit" />
    </form>
    <p>Welcome to Chitter. Log in or <a href="/users/new">sign up</a> to join the conversation.</p>
  <% else %>
    <p>Welcome to Chitter, <%= session[:name] %>. Join the conversation. Peep something.</p>
    <form method="POST" action="/feed">
    <div>  
      <h3>What's on your mind?</h3>
      <input type="text" name="content" maxlength="120" id="peepbox"/>
      <input type="submit" />
    </form>
  <% end %>
  </div>
  <div>
    <h2>Latest Cheeps</h2>
    <div>
    <% @feed.each do |post| %>
      <p><strong><%= post.author_name %> <a href="/users/<%= post.user_id %>"><%= post.author_handle %></a></strong></p>
      <p><%= post.content %></p>
      <p><%= post.date %> <%= post.time[0...-3] %></p>
    <% end %>
    </div>
  </div>
</body>
</html>