<head>
  <link rel="stylesheet" href="./style.css">
</head>


<h1 class='user for feed'><%= @user.username %> the Chitter*rer</h1>
<form action='\logout' method=post>
  <input type=submit value='log out'>
</form>
<div>
  <form action='/new_peep' method=post>
    <ul>
    <li>
      <input type=text name=peep placeholder='peep...peep...'>
    </li>
    <li>
      <input type=submit value='add peep'>
    </li>
  </form>
  <div class=feed>
    <% @peeps.each do |peep| %>
    <li>
      <%= peep.username %> <%= peep.time %>
    </li>
    <li>
      <%= peep.body %>
    </li>
    <li>
      <% if peep.username == @user.username%>
      <form method=post action='/edit_peep'>
        <input type=submit value=edit name=edit<%= peep.peep_id %>>
        <input type=hidden name=peep_id value=<%= peep.peep_id %>>
      </form>
      <form method=post action='/delete'>
        <input type=submit value=delete name="delete<%= peep.peep_id %>">
        <input type=hidden name=peep_id value=<%= peep.peep_id %>>
      </form>
    </li>
    <% end %>
    <% end %>
    </ul>
  </div>
</div>
