<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8"/>
      <meta name="description" content="Chitter Peeping and Feed">
      <meta name="author" content="Adrian Raisin">
      <meta name="keywords" content="Chitter Feed">

      <title> Chitter| Feed </title>

      <link href="/feedstyles.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

    <body class="body"><div>
        <h1> Hi <%= @username %> why not write a peep? </h1>
        <div>
            <form class="logout_form" action="/logout" method="get">
            <input class="submit_button" type="submit" value="Logout">
            </form>
        </div>
        <form class="peep" action="/peep" method="post">
            <input class="input_box" type="text" name="title" placeholder="Peep Title">
            <input class="input_box" type="text" name="content" placeholder="Write a peep...">
            <input class="submit_button" type="submit" value="Peep!">
        </form>
        </div>
        <div>
        <% i = 0 %>
        <% @peeps.each do |peep| %>
            <ul class="peeps" id="peep_<%=i%>">
                <li> <%= peep.title %> </li>
                <li> <%= peep.content %> </li>
                <li id="peep_<%=i%>_created_at"> Created at <%= peep.created_at %> </li>
                <li> Peeped by <%= peep.username %> </li>
            </ul>
        <% i += 1 %>
        <% end %>
        </div>
    </body>
</html>