<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
    <p><% if session[:maker_id] != nil %>
      Logged in as <%= session[:maker_name] %>. <a href="/maker/logout">Log out</a>.
      <% else %>
      <a href="/maker/new">Register for Chitter</a>
      <% end %>
    </p>
    <p><a href="/peep/new">Peep!</a></p>
    <% @peeps.each do |peep| %>
    <div>
      <p>
      Posted by: <%= peep.maker_name %><br  />
      Time: <a href="/peep/<%= peep.id %>"><%= Time.new(peep.time).strftime('%e %b %Y at %I:%M').strip %></a><br />
      Content: <%= peep.content %><br  />
      </p>
    </div>
    <% end %>

  </body>
</html>
