<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheep Feed - Chitter</title>
</head>
<body>
  <div>
    <h1>Chitter - Live, Laugh, Cheep</h1>
  </div>
  <div>
    <h2>Latest Cheeps</h2>
    <div>
    <% @feed.each do |post| %>
      <p><strong><%= post.author_name %> <%= post.author_handle %></strong></p>
      <p><%= post.content %></p>
      <p><%= post.date %> <%= post.time[0...-3] %></p>
    <% end %>
    </div>
  </div>

  
</body>
</html>