<h1> Hello, <%= @username %>!</h1>
<h2><u> <%= @username %>'s peeps </u></h2>
<ul>
<% @peeps.each do |hash| %>
  <%= hash[:username] %>: <%= hash[:peep] %><br>
  <small><%= hash[:date] %> <%= hash[:time] %><br><br> </small>
<% end %>
</ul>

<br><br>

<form action='/feed' method='post'>
  <label for="peep">Post a Peep</label><br>
  <input type="text" name="peep" maxlength="240" placeholder="What's on your mind?"/></br>
  <input type="submit" value="Post!"/>
</form>

<form action='/'>
  <button type="submit">Log Out!</button>
</form>
