<html>
  <head> Logged in as <%= @username %> <a href = '/logout'>Logout</a> <% if @username %> <% else %> <a href = '/signin'>Sign up!</a> <a href = '/signup'>Sign up!</a> <% end %> </head>
  <body>
    <h1>Chitter feed:</h1>
    <div>
      <form action="/feed" method="POST">
      <label for="content">Send a peep:</label>
      <input type="text" id="content" name="content"><br>
      <input type="submit" value="Peep!">
      </form>
    </div>
    <% @peeps.all.each do |peep|%>
      <div>
        <p> <a href = '/<%= peep.username %>'>@<%= peep.username %></a> / <%= peep.timestamp %> <br>
        <%= peep.content %> </p>
      </div>
    <% end %>
  </body>
</html>