<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheep Feed - Chitter</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

  <body>
    <div class="sidebar">
      <div>
        <img src="/chitter-logo.svg" class="logo" />
      </div>

      <div class="navlinks">
        <a href="/feed">&#127968 Home</a>
        <% if session[:user_id] == nil %>
        <a href="/users/new">&#10024 Sign up</a>
        <% else %>
        <a href="/logout">&#127916 Log out</a>
        <% end %>
      </div>
    </div>

    <div class="content">
    <% if session[:user_id] == nil %>
      <div class="login-bar">
      <strong>Log in</strong>
        <form method="POST" action="/login">
          <input type="text" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <input type="submit" class="button"/>
        </form>
      </div>
      <% end %>
      <% if session[:user_id] == nil %>
        <div>
          <h1>Welcome to Chitter. &#128075</h1>
          <p>Log in or <a href="/users/new">sign up</a> to join the conversation.</p>
        </div>
      <% else %>
      

        <h1>Welcome to Chitter, <strong><%= session[:name] %></strong>. &#128075</h1>
        <p>Join the conversation. Peep something.</p>


   
        <h2>Peep</h2>
          <form method="POST" action="/feed">
            <input type="text" class="peep-box" placeholder="What's on your mind?" name="content" maxlength="120" id="peepbox"/>
            <input type="submit" class="button"/>
          </form>
    

      <% end %>
    

      <div class="feed">
        <h2>Latest Cheeps</h2>
        
        <% @feed.each do |post| %>
          <div class="postdiv">
          <p class="post-author">&#128172 <strong><%= post.author_name %> <a href="/users/<%= post.user_id %>"><%= post.author_handle %></a></strong></p>
          <p class="post-content"><%= post.content %></p>
          <p class="post-date"><%= post.date %> <%= post.time[0...-3] %></p>
          </div>
        <% end %>
      </div>

    </div>
  </body>
</html>