<html>
  <head>
    <%= erb(:header) %>
  </head>
  <body>
    <h1>Chitter</h1>
    <p><% if session[:maker_id] != nil %>
      Logged in as <%= session[:maker_name] %>. <a href="/maker/logout">Log out</a>.
      <% else %>
      <a href="/maker/new">Register for Chitter</a>
      <% end %>
    </p>
    <p><a href="/peep/new">Peep!</a></p>
    <% @peeps.each do |peep| %>
    <div>
      <p>
      <%= peep.content %>
      <br  />
      <small>Posted by <%= peep.maker_name %>, <a href="/peep/<%= peep.id %>"><%= Time.new(peep.time).strftime('%e %b %Y at %I:%M').strip %></a></small>
      </p>
    </div>
    <% end %>

  </body>
</html>
