<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>

<h2>
  <%= @flash[:notice] %>
</h2>

<% @peeps.reverse_each do |peep| %>
  <class="peep" id="peep-<%=peep.id%>">
    <div style="background-color: red; width: 10px; height: 10px; display: inline">
      <%= peep.date.split(".")[0]%> </br>
      <%= peep.text%> </br>
      </br>
    </div>
<% end %>
