<h1> Welcome to chitter </h1>
<% if session[:user_id] %>
   <%=  erb :"_add_post" %>
<% end %>

<div id = 'messages-container'>
    <% @messages.each do |message| %>
        <div class = 'message'>
            <p><%= message.content%></p>
            <div class='details'>
                <p><%=message.created_at%></p>
                <p><%=message.user.username%></p>
            </div>
            <div id='comments'>
                <% @comments.message.each do |comment| %>
                    <%= comment.content %>
                <% end %>
            </div>
            <a href="/comment_on/<%= message.id %>"> comment </a>
            <% if session[:message_id].to_i == message.id.to_i %>
               <%= erb :"_add_comment" %>
            <% end %>
        </div>
    <% end %>
  
</div>