<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Chitter</title>
  </head>
  <body>
    <h2>Chitter</h2>
    <% if session[:user_id] %>
      <% user = @user_repository.find_by_id(session[:user_id]) %>
      <h3>Currently logged in as: <%=user.name %></h3>
      <form action="/" method="get">
        <div class="container">
          <a href="/">
            <button type="button">Log Out</button>
          </a>
        </div>
      </form>
      <h3>Write new peep...</h3>
      <br>
      <form action="/peep/new" method="post">
        <div class="container">
          <input type="text" placeholder="insert peep here" name="content" required>
          <button type="submit">Post Peep</button>
        </div>
      </form>
    <% else %>
      <form action="/credentials_checker" method="post">
        <div class="container">
          <label for="username">Username</label>
          <input type="text" placeholder="Enter Username" name="username" required>
          <br>
          <label for="password">Password</label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button type="submit">Login</button>
        </div>
        <div>
          <a href="/signup">
            <button type="button">Sign Up</button>
          </a>
        </div>
      </form>
    <% end %>
    <h3>Peeps</h3>
    <% @peep_repository.all.reverse.each do |peep| %>
      <div style="border: thin solid black">
        <% user = @user_repository.find_by_id(peep.user_id) %>
        <div style="display: flex; justify-content: left;">
          <p> <b><%= user.name %>  </b>
            <p style="color:grey">@<%= user.username %></p>
          </p>
        </div>
        <p> <%= peep.content %> </p>
        <p> <%= peep.time_posted %> </p>
      </div>
      <div>
        <form action="/replies/<%= peep.id %>" method="get">
          <button type="submit">View Replies</button>
        </form>
      <% end %>
    </div>
    <br>
  </body>
</html>
