<h1> Welcome to chitter </h1>
<% if session[:user_id] %>
   <%=  erb :"_add_post" %>
<% end %>

<div id = 'messages-container'>
    <% counter = 1 %>
    <% @messages.reverse.each do |message| %>
    <div class = 'message'>
        <p class='time'><%= message.created_at %></p>
        <p class ='message' ><%= message.content %></p>
        <%message.users.each do |user| %>
            <p class= 'username'><%= user.name %></p>
        <% end %>
        <% if session[:user_id] %>
           <button class='comment' id='#{counter}' onClick='show_form(this.id)'>comment</button>
           <form class='hide' id="form-#{counter}" action='/comment' method='post'>
             <input type='text' name='comment'>
             <input type="hidden" value='<%= message.id %>' name="message_id" />
             <input type='submit' value='comment!'>
            </form>
            <% counter += 1%>
        <% end %>
        <% if message.comments %>
            <div class ='comment_container'>
            <% message.comments.each do|comment| %>
                <p><%=comment.content%></p>
        
            <% end %>
             </div>
        <% end %>
    </div>
    <% end %>
</div>