<!DOCTYPE html>
<html>
<title>chitter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="../style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>
  <h1>chitter</h1>

    <h2> welcome <%= session[:user] %> </h2>
    <div class="hot-container">
      <form action="/log_out">
        <input class="btn" type="submit" value="log out" name="log_out">
      </form>
      <form action="/peep" method="post">
        <textarea name="peep" placeholder="new peep" rows="3" cols="60" wrap="soft" maxlength="140" style="overflow:hidden; resize:none;"></textarea><br>
        <input class="btn" type="submit" value="submit">
      </form>
    </div>

    <ul id="peeps">
      <% @peeps.each do |peep| %>
      <li>
        <h4><%= @users.get(peep.user_id).handle %> (<%= peep.date_time.strftime("%d-%m-%Y %H:%M") %>)<br> </h4>
        <h3><%= peep.text %></h3>
        <ul id="replies">
          <% @replies.each do |reply| %>
          <% if reply.peep_id == peep.id %>
          <li>
            <%= @users.get(reply.user_id).handle %> (<%= reply.date_time.strftime("%d-%m-%Y %H:%M") %>):
            <br><%= reply.text %><br>

          </li>
          <% end %>
          <% end %>
            </ul>
        <a href="/reply_to/<%= peep.id %>" >peep back</a>
      </li>
      <% end %>
    </ul>

    </html>
