<link rel="stylesheet" href="/css/style_sheet.css" type="text/css" />
<html>
<head>
   <!-- <meta http-equiv="refresh" content="30" /> -->
  <style>

    </style>
    </head>
    <body>
      <div class="header">
        <% @user.each do |user| %>
        <div class="profile_image">
          <img src="<%= user.display_pic %>">
          </div>
        <center><div class="pagetitle">
        </div></center>
        <img src="/images/logosmall.png" class="floatRight">


        <% end %>
      </div>

      <div id="navbar">
        <a class="active" href="">Home</a>
        <a href="/profile">Profile</a>
        <a href="/messages">Messages</a>
        <div class ="logout">
        <a href="/logout">Logout</a>
        </div>
      </div>
      <div class="newchitcontainer">
        <form action="/home/add_chit" method="post">
          <% @user.each do |user| %>
          <input type="hidden" name="user_id" value="<%= user.id %>">

            <div class="newchittitle">
            Hey <%= user.firstname %>, whats Happening?
              <% end %>
            </div>
          <textarea name="message" cols="30" rows="5" maxlength="240"></textarea>
          <br>
          <input type="text" name="image" maxlength="240">
          <div class="newchitsubtitle">
        Image url:
        </div>
          <br>
          <div class="button">
          <button type="submit" value="Submit">Post</button>
          </div>
        </form>
        </div>
<div class="chitcontainer">
        <% @chits.each do |chit| %>
        <div class="chits">
          <% @user.each do |user| %>
          <img src="<%= user.display_pic_s %>">
          <% end %>
          <div class="chit_username">
        @<%= chit.user_name %>:
        </div>
        <br>
        <div class="chit_message">
            <%= chit.message %>
            </div>
            <br>
            <br>
            <div class="chit_image">
         <img src="<%= chit.image %>"
            </div>
            <form action=/home/delete_chit method='post'>
  <input type="hidden" name="delete_chit" value="<%= chit.id %>">
  <div class="delete_button">
  <button type="submit" value="Submit">X</button>
  </div>
</form>
            <div class="chit_date">
            <%= chit.date %>
            </div>
            <% end %>
              </div>
              </div>
              <script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
    </body>
    </html>
