<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>

    <h3><a href="/login/">Log in</a> or <a href="/signup/">Sign up here!</a></h4>
    <h4>Even though you're not currently logged in, here's a sneak peek at our content:</h3>

    <% @peeps.each do |peep| %>
      
      <div>
        <strong><%= peep.name %></strong>
        <a href="/accounts/<%= peep.account_id %>">@<%=
        peep.username %></a>
        </br>

        <%= peep.content %>
        <br>

        Posted: <%= peep.post_time %>
        </br>
        </br>

      </div>
    <% end %>

  </body>
</html>