<html>
  <head></head>
  <body>
    <h1>Chitter</h1>
    <div>
      <h1>Login</h1>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" />
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <input type="submit" value="Login" />
        <a href="/sign-up">Sign up</a>
      </form>
    </div>

    <div>
      <h1>Peeps</h1>
      <% @p.each do |a| %>
      <p>
        Username: <%= a.username %> Chit: <%= a.content %> Time: <%= a.created_at %>
        <a href="/replies/<%= a.po_id %>&<%= a.username %>&<%= a.content %>&<%= a.created_at %>">View replies</a>
      </p>
      <% end %>
    </div>
  </body>
</html>


