<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="homepage.css">
  </head>
  <header class="header">
    <div style="display: flex; gap: 1rem; align-items:center">
      <img src="images/logo.png" height="50px" width="50px" alt="User Icon">
      <h1>Chitter</h1>
    </div>
    <div class="header-right">
      <% if !session[:user_id].nil? %>
        <div class="message-container">
          Log in as: <%= @user.name %>
        </div>
        <a href="/new-peep">
          <div role="button" class="blue-button">New peep</div>
        </a>
        <a href="/logout">
          <div role="button" class="blue-outline-button">Log Out</div>
        </a>
      <% end %>
      <% if session[:user_id].nil? %>
        <a href="/login">
          <div role="button" class="blue-button">Log in</div>
        </a>
      <% end %>
    </div>
  </header>
  <hr>
  <body>
    <%# Message Display Box %>
    <% if flash.has?(:message) %>
      <div class="message-container info-msg">
        <%= flash[:message].gsub(/\n/, '<br>') %>
      </div>
    <% end %>
    <%# No peep message %>
    <% if @peeps.length == 0 %>
      <div class="no-peep-message">
        <p> There is no peep on Chitter. Waiting for one... </p>
      </div>
    <% end %>
    <%# Loop through @peeps %>
    <% @peeps.each do |peep|%>
      <div class="peep-container">
        <img src="images/user-icon.png" height="40px" width="40px" alt="User Icon">
        <div class="text-wrapper">
          <div class="user-name-wrapper">
            <p><%= peep.user.name %></p>
            <p class="grey-text">@<%= peep.user.username%></p>
            <%# Calculate time from now %>
            <span class="grey-text">
              <% time = ((Time.now - peep.created_at)/60).to_i %>
              <% if time <= 2 %>
                <p>Just now</p>
              <% elsif time < 60 %>
                <p><%= time %> mins ago</p>
              <% elsif time >= 60 and time <= 1440 %>
                <p><%= time/60 %>h</p>
              <% else %>
                <p><%= time/1440 %>d</p>
              <% end %>
            </span>
          </div>
          <h3><%= peep.content %></h3>
        </div>
      </div>
    <% end %>
  </body>
</html>
