<h1> Welcome to chitter </h1>
<% if session[:user_id] %>
   <%=  erb :"_add_post" %>
<% end %>

<div id = 'messages-container'>
    <% @messages.reverse.each do |message| %>
        <div class = 'message'>
            <p><%= message.content%></p>
            <div class='details'>
                <p><%=message.created_at%></p>
                <p><%=message.user.username%></p>
            </div>
            </hr>
            <div id='comments'>
                <% @comments.each do |comment| %>
                    <% if comment.message == message %>
                       <%= comment.content %>
                    <% end %>
                <% end %>
            </div>
            <% if session[:user_id] %>
            </hr>
                <a href="/comment_on/<%= message.id %>"> comment </a>
                <% if session[:message_id].to_i == message.id.to_i %>
                     <%= erb :"_add_comment" %>
                <% end %>
            <% end %>
        </div>
    <% end %>
  
</div>