<div style="position: center; margin: auto; text-align: center; color: black">
  <div class="intro-info" style="position: center; text-align: center;">
    <h1>Welcome to your dashboard, <%= @user.name.capitalize if @user %></h1>
      <h3>Here's your feed</h3>
    <div style="margin: 0 auto; width:800px; height: auto; border-radius:15px; border: 5px solid black; ">
      <div style="background-color: white; opacity: 0.7; border-radius:10px;">
        <% if @peeps.size > 0 %>
        <ul style="list-style-type: none">
          <% @peeps.each do |peep| %>
            <li style="padding: 5px;">
              <%= peep.owner %>: <b><%= peep.content %></b> (Posted on:  <%= peep.published %>)
            </li>
          <% end %>
        </ul>
        <% else %>
          Oh no, there are no recent peeps! <br> Why not <i>create one?</i>
        <% end %>
      </div>
    </div>
    <br>
    <% if @user %><h2>Post a new peep</h2>
    <form action="/home/<%= @user.id %>/peep/new" method="post">
      <input type=text name=content id=new_peep>
      <input type=submit value='Peep'>
    </form>
    <br><br>
    <form action="/sessions/destroy" method="post">
      <input type=submit value='Sign out'>
    </form>
    <% else %>
    <h3> Please login to be able to peep! </h3>
    <% end %>
  </div>

</div>