<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <% if @logged_in == false %>
     <div class="header">
      <a href="#default" class="logo">Chitter</a>
      <div class="header-right">
      <a class="active" href="/home">Home</a>
      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>
  </div>
</div> 
     <%# <div class="status">
      <form action="/login" method="GET">
      <input type="submit" value="login">
      </form>
      <form action="/signup" method="GET">
      <input type="submit" value="signup">
      </form>
    </div> %>
    <% end %>

    <% if @logged_in == true %>
    <div class="header">
      <a href="#default" class="logo">Chitter</a>
      <div class="header-right">
      <a class="active" href="/home">Home</a>
      <a href="/logout">logout</a>
  </div>
  </div>
    <h3> Write a peep <%= @test%> </h3>
    <div class="form">
    <form action="/peep" method="POST">

      <label for="message">Write your message</label>
      <input type="text" name="message" id="message">
      <input type="submit" value="post">
    </form>
    </div>

    <div class="status">
      <form action="/logout" method="POST">
      <input type="submit" value="Logout">
      </form>
    </div>
    <% end %>

    <% @peeps.each do |peep| %>
    <div class = "peeps">
      <%= peep.username%><br>
      <%= peep.message%><br>
      <%= peep.post_date%> @ <%= peep.post_time%> <br>
    </div>
    <br>
    <% end %>

  </body>
</html>