<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<%= session[:failed_login] %>
<%= session[:peep_error] %>
<h1>
 <%= "Welcome back to chitter, #{@user}" if @user %>
 <%= "Welcome to chitter, please sign in to peep" if @user.nil? %>
 <form action ="authenticate" method = "post">
   <input type ="text" name="username" value placeholder = 'username here'>
   <input type ="text" name="password" value placeholder = 'password here'>
   <input type ="submit" name="log in" value="log in">
 </form>

 <form action ="/sign_up" method = "get">
   <input type ="submit" name="sign up" value="sign up">
 </form>

</h1>


  <% @chitters.each do |chitter| %>
      <div class="peeps">
        <%= chitter.text %>
        <br><%= chitter.peep_time %>
        <br><%= "Posted by: #{chitter.username}" %>
        </div>
      </a>
  <% end %>




<form action ="logout" method = "post">
  <input type ="submit" name="log out" value="log out">
</form>

Wanna be heard?
<form action ="/peep" method = "post">
  <input type ="text" name="peep" value placeholder = "What's on your mind?" >
  <input type ="submit" name="submit peep" value="submit peep">
</form>
</body>
