<head>
  <h1>Chitter!</h1>
  <link rel="stylesheet" type="text/css" href="styling.css">
</head>

<form action="/users/sign-up" method="get">
  <input type="submit" value="Sign Up" />
</form>

<form action="/users/sign-in" method="get">
  <input type="submit" value="Sign In" />
</form>

<% if @user %>

<form action="/users/sign-out" method="post">
  <input type="submit" value="Sign Out" />
</form>


  <h2>Welcome, <%= @user.name %>
<% end %>

<p><%= flash[:notice] %></p>

<h2>Posts:</h2>

<ul>
  <% @messages.reverse.each do |message| %>
    <p class="message">
      <%= message.user_name %> (@<%= message.user_handle %>) wrote: <br>
      <%= DateTime.parse(message.time).strftime("%d/%m/%y %H:%M") %>:
      <%= message.content %></p>
    <br>
  <% end %>
</ul>

<form action="/write-peep" method="get">
  <input type="submit" value="Write Peep" />
</form>

<p><%= flash[:notice2] %></p>
