
<html>

<head>
  <title> Chitter </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>

<h1 style="text-align: center;"><a href="/" style="text-decoration:none; color:black;"> Chitterfeed</a></h1>

<% unless @current_user.nil? %>
  <h2 style="text-align: center;"> Logged in as <%= @current_user.name %></h1>
<% end %>

<div class ="logging_in">
  <form class="login" action="/login"  method="post">
    <li><input type="text" name="Username" placeholder="Username"></li>
    <li><input type="password" name="Password" placeholder="Password"></li>
    <li><input type="submit" name="Log In" Value="Log In"></li>
  </form>
  <form class="register" action="/register"  method="get">
    <input type="submit" name="Register" Value="Register">
  </form>
  <form class="logout" action="/logout"  method="get">
    <input type="submit" name="Logout" Value="Logout">
  </form>
  <div class="flash_message"><%= flash[:notice] %></div>
</div>

<div class=messages>

  <div class=new_cheet >
    <form action="/new-cheet" method="post">
      <input type="text" name="cheet" placeholder="Cheet">
      <input type="submit" value="Submit" >
    </form>
  </div>

  <ul class=cheet_block>
    <% @cheets.each do |cheet| %>
    <li>
      <ul>
        <li> <%= cheet.cheet %> </li>
        <li><sub> <%= cheet.user %> @ <%= cheet.timestamp[0...-7] %></sub></li>
      </ul>
    </li>
    <% end %>
  <ul>
</div>
