<!DOCTYPE html>
<header style="height: 50px; border: solid; border-width: 2px; border-radius: 8px; background-color: white">

  <h1 style="float: left; text-align: center; text-align: center; padding: 6px 10px; font-size: 17px">Chitter</h1>

  <div style="float: left; text-align: center; padding: 14px 16px; font-size: 17px">
    <form action="/sign_up" method="get">
      <input type="submit" value="Sign Up" style="border: none; color: white; background-color: #00BFFF; width: 100%; border-radius: 4px; padding: 4px 10px; margin: 4px 2px; cursor: pointer">
    </form>
  </div>

  <div style="float: left; text-align: center; padding: 14px 16px; font-size: 17px">
  <% if !session[:username].nil? %>
    <form action="/log_out" method="get">
      <input type="submit" value="Log Out" style="border: none; color: white; background-color: #00BFFF; width: 100%; border-radius: 4px; padding: 4px 10px; margin: 4px 2px; cursor: pointer">
    </form>
  <% else %>
    <form action="/log_in" method="get">
      <input type="submit" value="Log In" style="border: none; color: white; background-color: #00BFFF; width: 100%; border-radius: 4px; padding: 4px 10px; margin: 4px 2px; cursor: pointer">
    </form>
  <% end %>
  </div>
</header>

<body style="text-align: center; background-color: #B0B0B0; font-family: DejaVu Sans mono, monospace">
  <h2 style="text-align: center; color: blue">Chitter feed</h2>

  <%= flash[:user] %>

  <% if !session[:username].nil? %>
    <h2>Username: <%= session[:username] %></h2>
  <% end %>

  <div style="border: solid; border-width: 2px; border-radius: 8px; background-color: white; width: 600px; height: 500px; overflow-y: scroll; margin-left: auto; margin-right: auto;">
  <% @peeps.each do |peep| %>
    <h3><%= "#{peep.time_stamp} - #{peep.author}: "%></h3><ul style="color: red"><%= "#{peep.text}" %><br></ul>
  <% end %>
  </div>

</body>

<br>

<% if !session[:username].nil? %>
  <form style="text-align: center" action="/add" method="post">
    <p>New Peep: (max 140 chars)</p>
    <input type="text" name="text">
    <input type="submit" value="Post new Peep" style="border: none; color: white; background-color: blue; border-radius: 4px; padding: 4px 10px; margin: 4px 2px; cursor: pointer">
  </form>
<% end %>

<%= flash[:log_out] %>
