<html>
<head>
  <title>Chitter!</title>
</head>
<body>
  <% if @user %>
    <h1>Welcome <%= @user.username %></h1>

    <form action="/sessions/destroy" method="POST">
      <input type="submit" value="Sign out">
    </form>

    <form action="/chitter" method="POST">
      <input type="text" name="peep_text" placeholder="Enter peep here...">
      <input type="submit" value="Submit">
    </form>

  <% else %>
  
    <form action="/users/new" method="GET">
      <input type="submit" value="Register">
    </form>

    <form action="/sessions" method="POST">
      <input type="email" name="email" placeholder="Enter your email">
      <input type="password" name="password" placeholder="Enter your password">
      <input type="submit" value="Sign in">
    </form>
  <% end %>

  <%= styled_flash %>

  <ul>
    <% @peeps.reverse_each do |peep| %>
      <li id="peep-<%= peep.id %>">
        <%= peep.text %>
        <%= peep.time %>
      </li>
    <% end %>
  </ul>

</body>
</html>
