<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16"/>
    <script>
function myFunction() {
    document.getElementById("login_panel").style.display = "block";
    document.getElementById("login_show_button").style.display = "none";
}
</script>
  </head>

  <body>
      <div class="grid-container">
      <div class="header">
        <h1>Welcome to Chitter<% if @user %>,
            <%= @user.username %>
          <%end%>
        </h1>


      </div>
      <div class="menu">
        <p>
          <% if @user %>
            <a href="/peep">
              <button class="postpeep" type="button" value="Post a Peep">
                <span class="icon"></span>Post a Peep</button>
            </a>
          <%else%>Login or register to post a peep<%end%>
        </p>
      </div>
      <div class="main">
        <%@peeps.each do |peep_row|%>

        <div id="<%=peep_row[:id]%>" class="peeplist-grid-container">
          <div class="peeper tooltip"><%=peep_row[:peeper]%><span class="tooltiptext"><%=User.find(peep_row[:peeper_id]).firstname%> <%=User.find(peep_row[:peeper_id]).lastname%></span></div>

          <div class="peep-main" ><%=peep_row[:peep]%><%if peep_row[:parent_peep].to_i != 0%><br />Replying to <a href="#<%=peep_row[:parent_peep].to_i%>"><%=Peep.find((peep_row[:parent_peep].to_i)).message%></a><%end%><hr/></div>
          <div class="reply"><% if @user %>
            <a href="/peep/<%=peep_row[:id]%>/reply">
              <button class="postpeep" type="button" value="Reply">
                <span class="icon"></span>Reply</button>
            </a>
              <%end%></div>
          <div class="sentdate">when: <%=peep_row[:posted_date]%></div>
        </div>

      <%end%>

    </div>
    <div class="login">
      <p><%=flash[:notice]%></p>
      <% if @user %>

        <p>

          <a href="/user/logout">
            <button class="postpeep" type="button" value="Logout">
              <span class="icon"></span>Logout</button>
          </p>

        <%else%>

<div id="login_panel">
<form class="myloginform" action="/user/login" method="post" >

              <label for="username">username:
              </label><input type="text" name="username" required placeholder="enter your desired username"/>

              <label for="password">password:
              </label><input type="password" name="password" required placeholder="enter your password"/>



              <button type="submit" class="login_btn" id="Login" value="Login">
                <span class="icon"></span>Login</button>
                </form></div><button type="button" onclick="myFunction()" class="login_btn" id="login_show_button" class="peep_only_btn" value="Login">
                <span class="icon"></span>Login</button>
              <a href="/user/register">
                <button class="postpeep" type="button" value="Register">
                  <span class="icon"></span>Register</button></a>



</div>
        <%end%>


    </div>
  </body>
</html>
