<%= erb :'page_elements/header' %>

<% @peeps.reverse.each do |peep| %>
  <div class='ui centered card' id='peep-<%= peep.id%>'>
    <div class='content'><%= peep.message %></div>
    <div class='extra content'>By <%= peep.user_id %> at <%= peep.created_at %></div>
  </div>
<% end %>

(<%= @user %>)

<%= erb :'page_elements/footer' %>
