<% if session[:user_username] != nil %>
User logged in is: <%= session[:user_username] %>
<form action="/chitter/logout" method="post">
  <input type="submit" value="Log out" />
</form>

Your list of peeps
<ul>
    <% @peeps.each do |peep| %>
    <li><%= peep.content %> was posted on: <%= peep.created_on %></li>
    <% end %>
</ul>
Post a new Peep!

<form action="/chitter" method="post">
  <input type="text" name="content" />
  <input type="submit" value="Add peep" />
</form>
<br>

List of Chitter Users
<% @users.each do |user| %>
<li><%= user.username %> </li>
<% end %>

<% else %>

<form action="/chitter/sessions/new" method="get">
  Log in to Chitter
  <input type="submit" value="Sign in" />
</form>

<form action="/chitter/users" method="get">
  Sign up to Chitter
  <input type="submit" value="Add user" />
</form>
<p>
<%= flash[:notice] %>
</p>
<% end %>
