<html>
  <head></head>
  <body>
<h1>If you have an account log in here:</h1>
<form action="/" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password"><br>
  <input type="submit" value="Log in">
</form>
<form action="/sign_up" method="get">
<a href="/sign_up">Click here to register for an account</a>
</form>
    <h1>Peeps</h1>
     <div>
    <% @peep_repo.all.reverse.each do |peep| %>
      <p><%= @user_repo.find(peep.user_id).username %>: <%= peep.content %></p>
      <p><%= peep.time_posted %>
    </div>
    <div>
      <% @comment_repo.find(peep.id).reverse.each do |comment| %>
      <div>
      <p><%= @user_repo.find(comment.user_id).username %>: <%= comment.content %></p>
      <p><%= comment.comment_time_posted %>
    <% end %>
    </div>
    <% end %>
  </body>
</html>