<!DOCTYPE html>
<html>
  <head>
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% if @user %>
    <h3 class='sessions'>Signed in as <%= @email %></h3>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" />
    </form>
    <% else %>
      <form class='sessions' name='sign-in' action='/sessions/new' method='GET'>
        <input type='submit' value='Sign in'>
      </form>
      <form class='sessions' name='sign-up' action='/users/new' method='GET'>
        Not a member? <input type='submit' value='Sign up'>
      </form>
    <% end %>
    <p style='color:red'><%= flash[:confirmation] %></p>
    <p style='color:red'><%= flash[:notice] %></p>
    <br>
    <h1 style='color:blue'>It's Chitter time</h1>
    <ul>
      <% @peeps.each do |peep| %>
        <li>
          <%= peep.content %><br>sent by<%= User.find(peep.user_id).email %> on <%= peep.peep_time %>
        </li>
      <% end %>
    </ul>
    <form name='create-peep' action='/new' method='GET'>
      <input type='submit' value='Create peep'>
    </form>
  </body>
</html>
