<head>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link rel="stylesheet" type="text/css" href="/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/skeleton.css"/>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<html font-size: 62.5%;>
  <body style="background-color:rgb(66, 190, 194)">
    <h1 ><center>Chitter</center></h1>
    <div class="right">
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
      </form>
    </div>
    <form action="/post-peep" method="post">
        <label for="peep">
         <center>Whats on your mind?
        <input type="text" name="peep">
        <input type="submit" value="Post">
      </form></center>
      <ul>
        <% if @user %>
          <h1>Welcome, <%= @user.username %></h1>
        <% end %>
        <% @peeps.reverse.each do |peep| %>
          <li>@<%= peep.username %><br><%= peep.peep %><br><%= peep.time %>
          </li><br><br>
        <% end %>
      </ul>
  </body>
</html>

<%= flash[:notice] %>