<% if(session[:logged_in]) %>
Welcome to chitter <%=session[:username]%>
<a href="/users/logout">Log out</a>
<% else %>
    Log in to your account.
    <div class="log_in_or_register">
      <form action="/users/login" method="post">
        <input type="text" name="login_username">
        <input type="text" name="login_password">
        <input type="submit" id="Log in">
      </form>
      <a href='/users/register' id='register'>Register a chitter account</a>
    </div>
<% end %>

<% @peeps.each do |peep| %>
  <div class="peep_info">
    @<%= peep[:username] %>
    <%= peep[:name] %>
    <%= peep[:time].strftime('%R') %>
    <%= peep[:time].strftime('%d %h %Y') %>
    <%= peep[:date] %>
  </div>
  <div class="peep_message">
    <%= peep[:message] %>
  </div>
<% end %>

<% if session[:logged_in] %>
<div class="peep_poster">
  <form action="/peeps/post" method="post">
    Enter your post, <%= session[:username] %>
    <input type="text" name="peep_content">
    <input type="submit" id="Post">
  </form>
</div>


<% end %>
