<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8">
  <link rel="stylesheet" type="text/css" href="chitter.css">
</head>
<body>

<header>
<h1>Welcome to Chitter, <%= User.username %></h1>
</header>

<div align="center" id="wrapper">
<form action="/" method="get">
  <input class="logout" type="submit" value="Log Out!">
</form>

<h2>Enter your message below to share your Chit with the world!</h2>

<form id="peep_form" action="/feed" method="post">
  <textarea class ="peep_form" form="peep_form" name="add_peep" cols="50" rows="10"></textarea><br>
  <input class="peep" type="submit" value="Peep!">
</form>

<h2>Latest Peeps!</h2>
<% @peeps.each do |peep| %>
<div align="left" class="peep_wrapper">
  <div align="left" id="message"><%= peep.message %></div>
  <div align="right" id="created"><%= peep.created %></div>
  <div align="right" id="created"><%= Peep.username(peep.user_id) %></div>
  <form align="right" action="/follow" method="post">
    <input type="hidden" name="follow" value="<%= peep.user_id %>">
    <input class="follow" type="submit" value="Follow">
  </form>
</div>
<% end  %>
</div>
