<h1>Chitter</h1>

<%= erb :user_bar %>

<%= erb :message %>

<% @peeps.reverse.each do |peep| %>
  <div>
    <p><%= peep.message %></p>
    <p>By <%= peep.user_name %> at <%= peep.created_at %></p>
  </div>
<% end %>

(<%= @user %>)
