<head>
  <link rel="stylesheet" href="/phoenix/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Krona+One|Lobster|Quicksand|Nunito|Dosis" rel="stylesheet">
  <script src="/phoenix/script.js"></script>
</head>

<html>
  <body>

    <% flash.keys.each do |type| %>
      <div id="flash_alert" class="alert-box flash <%= type %> alert-dismissable">
        <%= flash[type] %>
        <a href="#" onclick="show_hide_el('flash_alert')" class="close">&times;</a>
      </div>
    <% end %>

    <form action='/phoenix/register' class="sticky">
      <input type='submit' id="register_summoner" value="Register">
    </form>
    <div id="banner_div">
      <h1 id="logo_text">Phoenix</h1>
    </div>

    <div id="main_div">
      <div id="summon_div">
        <div id="container">

          <div id="user_div">
            <img id="my_pic" name="my_pic" src="https://image.ibb.co/i2KFXx/Phoenix_ffd.png">
          </div>
          <div id="entry_div">
            <form action="/phoenix/summon" method="post">
              <textarea name="new_phoenix" id="new_phoenix" rows="5" cols="88" maxlength="240" placeholder="Summon a new Phoenix!" required></textarea>
              <br/>
              <input type="submit" name="submit" id="summon_phoenix" value="Summon">
            </form>
          </div>

        </div>
      </div>

      <div id="phoenix_div">
        <% @phoenix.each_with_index do |fenix, idx| %>
          <div id="summon_div">
            <div id="container">
              <div id="user_div">
                <img id="my_pic" name="my_pic" src="https://image.ibb.co/i2KFXx/Phoenix_ffd.png">
                <br/>
                <p name="details">Post #<%= fenix.id %></p>
                <p name="details"><%= fenix.summoner %></p>
              </div>
              <div id="entry_div">
                <div class="main_box">
                  <p name="phoenix"><%=  fenix.phoenix %></p>
                </div>
                <div class="sub_box">
                  <div class="h-container">
                    <div class="sub_box_top">
                      <form id="reraise" action="/phoenix/reraise">
                        <input type="hidden" name="reraise_id" value="<%= fenix.id %>">
                        <input type="submit" id="reraise_<%= fenix.id %>" value="Reraise">
                      </form>
                      <form id="dismiss" class="display_inline_block" action="/phoenix/dismiss"  method="post">
                        <input type="hidden" name="dismiss_id" value="<%= fenix.id %>">
                        <input type="submit" name="dismiss" id="dismiss_<%= fenix.id %>" value="Dismiss">
                      </form>
                    </div>
                    <div class="sub_box">
                      <p name="details"><%= fenix.timestamp %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
