<h1>Welcome to Chitter, like Twitter, but Shitter 💩</h1>

<% if @user.nil? %>
<form action="/sign_up" method="get">
    <input type="submit" value="Sign Up">
</form>
<% end %>

<% if !@user.nil? %>
<form action="/peep/new" method="get">
    <input type="submit" value="peep">
</form>
<% end %>

<div><%= flash[:notice] %></div>

<% if @user.nil? %>
  <form action="/log_in" method="get">
      <input type="submit" value="Log In">
  </form>
<% else %>
  <form action = '/log_out' method = 'post'>
      <input type='hidden' id='hidden' name='_method' value='delete'>
      <input type="submit" value="Log Out">
  </form>
  <h4>Logged in as <%= @username %>
    <form action="/<%= @username %>" method="get">
        <input type="submit" value="My profile">
    </form>
<% end %>



<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li>
        <%= peep.name %> (<%= peep.username %>) posted: "<%= peep.post %>" at <%= peep.time %>
      </a>
      <form action = '/peeps/<%= peep.id %>' method = 'post'>
      <input type='hidden' name='_method' value='DELETE'/>
      <input type='submit' id='Delete_<%= peep.id %>' value='Delete'/>
    </form>

    <form action = '/peeps/<%= peep.id %>/edit' method = 'get'>
      <input type='submit' id='Edit_<%= peep.id %>' value='Edit'>
    </form>
    </li>
  <% end %>
</ul>
