  <h1>Chitter</h1>
  <form action='/peeps' method='post'>
    <input id='add_peep' type='text' name='message' placeholder='Insert Message Here!'>
    <input id='submit_peep' type='submit' value='Post!'>
  </form>

  <%@peeps.each_with_index do |peep, index|%>
    <div class='peep' id=<%=index%> >
      <a href="/peeps/<%=peep.id%>"<p class='peep-text'>Peep <%=peep.id%>: <%=peep.text%></p></a>
      <p class='peep-date'><%=peep.time_format%></p>
    </div>
  <%end%>
