
<% if @signup %>
<h2> Your account has been successfully created, welcome to Chitter @<%= @user.username %>! </h2>
<% end %>

<div class="layout">
  <div class="layout__main">
    <% if @user %>
    <div class="peep">
      <img class="peep__author-pic" src="/images/red_egg.jpeg">
      <div class="peep__main">
        <form action="/peep/new" method="post">
          <input type="text" class="peep-form" value="<%= session[:peep]%>" placeholder="What's on your mind..." name="peep_text">
          <input type="submit" class="peep-button" value="Peep">
        </form>
      </div>
    </div>
    <% end %>
    <% @peeps.each do |peep| %> 
      <a class="peep" href="/peep/<%= peep.id %>">
        <img class="peep__author-pic" src="/images/red_egg.jpeg">
        <div class="peep__main">
          <div class="peep__header">
            <div class="peep__author-name">
              <%= (User.find(id: peep.author)).first_name %> <%= (User.find(id: peep.author)).last_name %>
            </div>
            <div class="peep__author-username">
              @<%= (User.find(id: peep.author)).username %>
            </div>
            <div class="peep__time-since">
              · <%= peep.time.strftime('%H:%M %P · %d %b %Y') %>
            </div>
          </div>
          <div class="peep__text">
            <%= "@#{(User.find(id: Peep.find(id: peep.replying_to).author)).username}" if peep.replying_to %> <%= peep.text %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <div class="layout__sidebar-container">
    <div class="layout__sidebar">
      <div class="sidebar-menu">
        <% if @user %>
        <div class="sidebar-menu__item">
          <form action="/user/logout" method="get">
            <input type="submit" class="sidebar-menu__button" value="Log out">
          </form>
        </div>
        <% else %>
        <div class="sidebar-menu__item">
          <form action="/user/login" method="get">
            <input type="submit" class="sidebar-menu__button" value="Log in">
          </form>
        </div>
        <div class="sidebar-menu__item">
          <form action="/user/new" method="get">
            <input type="submit" class="sidebar-menu__button" value="Sign up">
          </form>
        <% end %>
      </div>
    </div>
  </div>
</div>
