<%= erb :'page_elements/header' %>

<% @peeps.reverse.each do |peep| %>
  <div class='ui centered card' id='peep-<%= peep.id%>'>
    <div class='content'>
      <%= peep.message %>
    </div>
    <div class='extra content'>
      @<%= User.first(:id => peep.user_id).user_name %><br/>
      <%= date_format(peep.created_at) %>
     </div>
  </div>
<% end %>

<%= erb :'page_elements/footer' %>
