<div class="row align-items-start">
  <div class="col">
<% @tags.each do |tag|%>
  <form action="/tags/<%= tag.id %>/peeps" method="get">
    <button class="btn btn-sm m-2 btn-outline-primary" type="submit" value="<%= tag.id %>"><%= tag.text %></button>
  </form>
<% end %>
  </div>
  <div class="col">
    <% if @user %>
    <div class="card m-2" style="width: 20rem;">
      <div class="card-body">
        <form action="/peeps" method="POST">
        <h6 class="card-title">@<%= peep_username(@user.id) %></h6>
          <p class="card-text"><input name="text" type="text" /></p>
          <input value="Submit" type="submit" />
        </form>
      </div>
    </div>
    <% end %>
    <% @peeps.each do |peep| %>
    <div class="card m-2" style="width: 20rem;">
    <div class="card-header">
        <h6 class="card-title">@<%= peep_username(peep.user_id) %></h6>
        <p class="card-subtitle text-muted"><%= format_time(peep.time) %></p>
      </div>
      <div class="card-body">
        <p class="card-text"><%= peep.text %></p>
      </div>
       <div class="position-absolute bottom-0 end-0"> <i class="bi bi-heart"><%= peep.likes %></i>
       </div>
    </div>
    <% end %>
  </div>
  <div class="col">
    <% if @user %>
      <div class="toast m-2" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Chitter</strong>
          <small>just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Welcome, <%= @user.username %>
        </div>
      </div>
      <% end %>
  </div>
</div>

