<link href="<%= url('/global.css') %>" rel="stylesheet" type="text/css" />

<body class='body'>
   <h1 class='head'>Chitter</h1>
    <div class='button'>
        <form action='/sign_in/new' method='get'>
          <input type='submit' value='sign-in'>
        </form>
    </div>


<% @peeps.each do |peep| %>
    <div class='peeps'>
      <div class='time'>
        <%= peep.time %>
      </div>
    
      <p> <%=peep.peep%> </p>
      <p class='username'> <%=peep.username%> <%= peep.name%> </p>
    </div>
    <%end%>
</body>    