<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>

<header>
  <h1><a href="/">Chitter</a></h1>
</header>

<nav>
  <% if @user %>

    <form action="/logout" method="POST">
      <label>Hello <%= @user.name %></label>
      <button class="link" type="submit">Log out</button>
    </form>

    <form action="/post" method="POST">
      <textarea class="box" name="content" placeholder="Your peep here..." rows="4" maxlength="140" required></textarea>
      <button class="button" type="submit">Post</button>
    </form>

  <% else %>

    <a class="link" href="/login">Log in</a>
    <span>or</span>
    <a class="link" href="/signup">Sign up</a>

  <% end %>
</nav>

<main>
  <% @posts.each do |post| %>
    <div class="box">
      <p><span class="bold"><%= post.name %></span> <span class="translucent"><%= post.username %></span></p>
      <p class="content"><%= post.content %></p>
      <p class="translucent"><%= post.timestamp.strftime("%-H:%M · %-d/%-m/%y") %></p>
    </div>
  <% end %>
</main>

</body>
</html>

