<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Feed</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <h1>Chitter Feed</h1>
    <div class="login">
      <% if @active == nil %>
        <form action="/register" method="get">
          <input id="register_user" type="submit" value="Register">
        </form>
        <form action="/login" method="get">
          <input id="login" type="submit" value="Log in">
        </form>

      <% else %>
        Active user: <%= @active.username %>
        <br>
        <form action="/logout" method="get">
          <input id="logout" type="submit" value="Log out">
        </form>

        <div class="new_peep">
          <form class="peep_entry" action="/new_peep" method="post">
            <label for="new_peep">Enter Peep</label>
            <input class="wide_input" type="text" name="new_peep">
            <input id="submit_peep" type="submit" value="Submit">
          </form>
        </div>

      <% end %>

    </div>

    <div class="feed">
      <% @peeps.reverse_each do |peep| %>
        <div class="peep">
          <div class="peep body">
            <%= peep.name %>
            (@<%= peep.username %>)
            <br>
            <%= peep.nice_date %>
            <%= peep.nice_time %>
            <%= peep.text %>
          </div>
          <div class="peep pcomment">
            <form action="/add_comment" method="get">
              <label for="new_comment">Comment: </label>
              <input type="text" name="new_comment" value="">
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>

      <% end %>
    </div>
  </body>
</html>
