<link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">

<div class ='header' id='title'>
  <h1> CHITTER </h1>
  <h2> <%= "Welcome, #{session[:username]}!" if session[:logged_in] %>
</div>

<div class='peep-feed'>
  <%= erb :create_peep_form if session[:logged_in] %>
  <%= erb :sign_in unless session[:logged_in] %>
  <%= erb :peeps_list %>
</div>
