<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="chitter.css"/>
  </head>

  <body>
    <h1>Chitter</h1>
    <% if @current_user == nil %>
      <div class="button-container">
        <form action="/signup" method="get">
          <input type="submit" value="Sign up">
        </form>
        <form action='/login' method="get">
          <input type="submit" value="Log in">
        </form>
      </div>
    <% else %>
      <p>@<%= @current_user.username %></p>
      <div class="button-container">
        <form action="/peep" method="post">
          <input type="text" name="peep" >
          <input type="submit" value="Peep">
        </form>
        <form action="/logout" method="post">
          <input type="submit" value="Log out">
        </form>
      </div>
    <% end %>
    <br><br>
    <% @peeps.each do | peep | %>
      <div class="peep-container">
        <div class="name"><%= peep.name %> (@<%= peep.username%>) peeped:</div><br>
        <div class="text"><%= peep.text %></div><br>
        <div class="time"><%= peep.time %></div>
      </div><br>
    <% end %>

  </body>
</html>
