<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>

  <body>
    <h1>Chitter</h1>

    <p>
      <a href='/sign_up'>Sign up</a>
      <a href='/sign_in'>Sign in</a>
      <a href='/new_peep'>New peep</a>
    </p>

    <%= flash[:not_signed_in] %>

    <ul>
      <% @peeps.reverse_each do |peep| %>
        <li><%=peep.name%>, @<%=peep.username%>, <%=peep.text%>, <%=peep.time%></li>
      <%end%>
    </ul>

    <h2>Welcome <%=@current_user%></h2>
  </body>
</html>
