<%=flash[:notice]%>

<h2>Welcome to Chitter</h2>

<h3>Peep Feed:</h3>
<div>
<ul>
  <% @peeps.each do |peep| %>
    <li>
      <a> <%= peep.name %> (<%= peep.username %>) said: <%= peep.message %></a>
      Posted at: <%= peep.time %>
    </li>
  <% end %>
</ul>
<div>

<h5>You must be an existing user to post</h5>

<h3>Sign up so that you can peep!</h3>
<form action="/users/new" method="get">
  <input type="submit" value="Sign Up" />
</form>

<h3>Already a Chitter user? Get peeping:</h3>
<form action="/peeps/post" method="get">
  <input type="submit" value="Post" />
</form>
