<% if @user %>
  <h1>Welcome to Chitter, <%= @user.username %>!</h1>

  <form action="/peeps/new">
    <input type="submit" value="New peep">
  </form>
<% else %>
  <h1>Welcome to Chitter!</h1>
<% end %>

<div class="options">
  <form action="/users/new">
    <input type="submit" value="Sign up">
  </form>

  <form action="/sessions/new">
    <input type="submit" value="Sign in">
  </form>

  <form action="/logout">
    <input type="submit" value="Logout">
  </form>
</div>

<div id="main">
  <% @peeps.each do |peep| %>
    <div class="peeps">
      <h3><%= peep['peep'] %></h3>
      <p>Created at <%= peep['created_at'] %> by <%= peep.user.peeper %>, aka <%= peep.user.username %></p>
    </div>
  <% end %>
</div>