<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="/" class="close">&times;</a>
  </div>
<% end %>

<% if @user %>
  <h1>Welcome to Chitter, <%= @user.username %>!</h1>
<% else %>
  <h1>Welcome to Chitter!</h1>
<% end %>

<form id="msg" action="/new" method="post">
  <% if @user %>
    <input type="hidden" name="user" value="<%= @user.username %>">
  <% end %>
  <textarea name="message" form="msg" rows="4" cols="50" placeholder="What's on your mind?"></textarea>
  <input type="submit" value="Peep">
</form>

<div class="feed">
  <% @comments.reverse.each do |peep| %>
  <% if peep.created_by != nil %>
    <p><%= peep.created_by %> said:</p>
  <% end %>
    <p><strong><%= peep.comment %></strong> - <i>Sent at: <%= peep.created_at.strftime "%H:%M" %></i></p>
  <% end %>
</div>

  <div class="sign-up">
    <h3>Not a user?</h3>
    <form action="/sign-up" method="get">
      <input type="submit" value="Sign up">
    </form>
  </div>

  <div class="log-in">
    <h3>Log in</h3>
    <form action="/log-in" method="get">
      <input type="submit" value="Log in">
    </form>
  </div>
