<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>

  <nav>
    <div>
      <p>Test line - logged in is <%= settings.logged %> -</p>
      <% if settings.logged == true %>
        <p><a href="/peeps/new">Add Peep</a></p>
        <p><a href="/logout">Log out</a></p>
      <% end %>
      <% if settings.logged == false %>
      <p><a href="/register/new">Register</a></p>
      <p><a href="/login/form">Log in</a></p>
      <% end %>
      
    </div>
  </nav>

  <section>
    <br><% if settings.logged == true %>
    <h3>You are logged in as <%= session[:username] %>.</h3>
    <% else %>
    <h3>Log in to create new peeps.</h3>
    <% end %>
    <br>
  </section>

  <section>
    <h1>Welcome to Chitter</h1>
    <h2>For all the chit that comes out of your brain</h2><br>
    <% @peep_info.each do |peep| %>
    <div>
      <p><%= peep[0] %> (<%= peep[4] %>) peeped at <%= peep[1] %></p>
      <h4><%= peep[2] %></h4>
      <p>Tags: <%= peep[3] %></p><br>
    </div>
    <% end %>
  </section>

</body>
</html>