<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <title>Chitter Homepage</title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <h4>Like Twitter, but legitter!</h4>
      <% if session[:user_id] == nil %>
        <nav>
          <a href="/">Home</a> | &nbsp
          <a href="/login">Log in</a> | &nbsp
          <a href="/signup">Sign up</a>
        </nav>
        <p> You need to log in if you want to peep! </p>
      <% else %>
        <% user = @user_repo.find_user_by_id(session[:user_id]) %>
        <nav>
          <a href="/">Home</a> | &nbsp
          Logged in as <a href="/<%= user.id %>">@<%= user.username %></a> | &nbsp
          <a href="/logout">Log out</a>
        </nav>
      <% end %>
    </header>

    <h2>Chitter feed</h2>

    <% if session[:user_id] != nil %>
      <div class="post-peep-container">
        <form class="post-peep-form" action="/" method="post">
          <input type="textarea" name="content" placeholder="What's on your mind?" required>
          <input type="submit" value="Post peep">
        </form>
      </div>

    <% end %>

    <div class="peeps-container">
    <% @peeps.reverse.each do |peep| %>
      <% user = @user_repo.find_user_by_id(peep.user_id.to_i) %>
      <article class="peep">
        <p class="peep-info"> <%= user.name %> &nbsp | &nbsp <a href="/<%= user.id %>">@<%= user.username %></a> &nbsp | &nbsp <%= peep.date_and_time %> </p>
        <p class="peep-message"> <%= peep.content %> </p>        <!-- add class to make text bigger? -->
        <p class="view-comments-link"><a href="/peep/<%= peep.id %>"> view comments </a></p>
      </article>
    <% end %>
    </div>

    <footer>Chitter © 2022</footer>
  </body>
</html>