<% if !@user %>
  <form action="/sessions/new" method="get">
    <input type="submit" value="Sign In" />
  </form>
<% else %>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign Out" />
  </form>
<% end %>
<form action="/users/new" method="get">
  <input type="submit" value="Create A New Account" />
</form>
<header>
  <h1>CHITTER</h1>
  <h2>
    <%= flash[:notice] %>
  </h2>
  <% if @user %>
    <h1>Welcome, <%= @user.username %></h1>
  <% end %>
</header>
<body>
  <% if !@user.nil? %>
    <h3>Post a new message!</h3>
    <form action="/" method="post">
      <input type="text" name="message" placeholder="What's going on?">
      <button name="Send">Send</button>
    </form>
  <% end %>
  <h3>Chitter Feed:</h3>
  <div>
    <% @messages.each do |message| %>
    <div>
      <p><%= message.username %></p>
      <p><%= message.time %></p>
      <p><%= message.content %></p>
    </div><br>
    <% end %>
  </div>
</body>
