<body style="text-align: center">
  <h2 style="text-align: center">Chitter feed</h2>
  <%= flash[:user] %>

  <% if !session[:username].nil? %>
    <h2>Username: <%= session[:username] %></h2>
  <% end %>

  <div style="border: solid">
  <% @peeps.each do |peep| %>
    <h3><%= "#{peep.time_stamp} - #{peep.author}: "%></h3><ul><%= "#{peep.text}" %><br></ul>
  <% end %>
  </div>

</body>

<br>

<% if !session[:username].nil? %>
  <form style="text-align: center" action="/add" method="post">
    <p>New Peep: (max 140 chars)</p>
    <input type="text" name="text">
    <input type="submit" value="Post new Peep">
  </form>
<% end %>

<form action="/sign_up" method="get">
  <input type="submit" value="Sign Up">
</form>

<% if !session[:username].nil? %>
  <form action="/log_out" method="get">
    <input type="submit" value="Log Out">
  </form>
<% else %>
  <form action="/log_in" method="get">
    <input type="submit" value="Log In">
  </form>
<% end %>

<%= flash[:log_out] %>
