<div class="feed">
  <% @feed.each do |peep| %>

    <div class="peep">
      <div class="peep-content"><%= peep.content %></div>
      <div class="peep-timestamp"><%= peep.timestamp %></div>
    </div>

  <% end %>
</div>

<% if @user %>

  <div class="user-dashboard">
    Hi <%= @user.name %>!
    <div class="add-peep">
      <form action="/peeps/new" method="post">
        <input type="textarea" name="content">
        <input type="submit" value="Post">
      </form>
    </div>
    <form action="/users/<%= @user.id %>/session/destroy" method="post">
      <input type="submit" value="Sign Out">
    </form>
  </div>

<% else %>

  <div class="sign-in">
    <form action="/users/session" method="post">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign In">
    </form>
  </div>

  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>

  <div class="sign-up">
    <form action="/users/new" method="post">
      <input type="text" name="email" placeholder="Email address"> <br>
      <input type="password" name="password" placeholder="Password"> <br>
      <input type="text" name="name" placeholder="Name"> <br>
      <input type="text" name="username" placeholder="Username"> <br>
      <input type="submit" value="Sign Up">
    </form>
  </div>

<% end %>
