<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
  <meta charset="utf-8">
  <title>Welcome to Chitter!</title>
  <center>
    <nav>
      <%= erb(:navbar) %>
    </nav>
    <header>
      <%= erb(:title) %>
    </header>
<center>
  <body>
    <h2> Previously on Chitter... </h2>
    <section>
          <% @peeps.reverse.each do |peep| %>
          <ul style="list-style-type:none", padding-left: 0;>
            <div class="">
            <li>
            <%= erb(:singlepeep, :locals => { :peep => peep }) %> -- <%= peep.posted_at %>
             <%= peep.user.actualname %> -- <%= peep.user.username %>
            </ul>
            <% end %>
        </section>
       </body>
         <%= erb(:footer)%>
    </center>
</head>
</html>
