<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <style>

      h1  {color: black; font-family: sans-serif; font-size: 50px; text-align: center;}

      p.round1 {
        border: 2px solid blue;
        border-radius: 5px;
        padding-top: 5vh;
        padding-right: 3vh;
        padding-bottom: 5vh;
        padding-left: 8vh;
      }

      #border {
      box-sizing: content-box;
      width: 300px;
      padding: 3vh;
      border: 2px solid blue;
      border-radius: 5px;
      word-wrap: break-word;
      }
    </style>
  <body>
    <h1>CHITTER</h1>
    <% if @user %>
      <h2>Hello <%=@user.user_name%>, Welcome to Chitter!</h2>
    <% end %>
    <% if @user.nil? %>
      <form action="/users/new_user" method="get">
        <input type="submit" value="Sign Up">
      </form>
      <br>
      <form action="/sessions/new" method="get">
        <input type="submit" value="Sign In">
      </form>
    <% end %>
    <% if @user %>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
      </form>
    <% end %>
    <br>
    <form action="/new_message" method="post">
      <label for="message">
        <input type="text" name="message">
        <input type="hidden" name="time" value="<%= Time.now.to_s.split.first(2).join(" ") %>">
        <input type="hidden" name="author" value="<%= @user.nil? ? 'anon' : @user.user_name %>">
      </label>
      <input type="submit" value="Peep">
    </form>
    <br>
    <%@peeps.reverse.each do |peep|%>
        <div id="border">
          <%=peep.message%>
          <br>
          <br>
          <font size="1" color="grey">Peep Time: <%=peep.time%>
          <br>
          Author: <%=peep.author%></font>
        </div>
      <br>
    <%end%>
  </body>
</html>
