<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16"/>
    <script>
function myFunction() {
    document.getElementById("login_panel").style.display = "block";
    document.getElementById("login_show_button").style.display = "none";
}
</script>
  </head>

  <body>
      <div class="grid-container">
      <div class="header">
        <h1>Welcome to Chitter<% if @user %>,
            <%= @user.username %>
          <%end%>
        </h1>


      </div>
      <div class="menu">
        <p>
          <% if @user %>
            <a href="/peep">
              <button class="postpeep" type="button" value="Post a Peep">
                <span class="icon"></span>Post a Peep</button>
            </a>
          <%else%>Login or register to post a peep<%end%>
        </p>
      </div>
      <div class="main">
        <%@peeps.each do |peep_row|%>
        <%=peep_row[:parent_peep]%>


      <p><%=peep_row[:peeper]%><%if peep_row[:parent_peep].to_i == 0
        peep_prefix = "wrote a Peep"
        else
        peep_prefix = "replied"
        end%>
        <%=peep_prefix%>:
        <%=peep_row[:peep]%>
        - sent
        <%=peep_row[:posted_date]%></p>
        <p>
          <% if @user %>
            <a href="/peep/<%=peep_row[:id]%>/reply">
              <button class="postpeep" type="button" value="Reply">
                <span class="icon"></span>Reply</button>
            </a>
              <%end%>
            </p><hr/>
      <%end%>

    </div>
    <div class="login">
      <!-- <p>You need to register: </p> -->
      <p><%=flash[:notice]%></p>
      <% if @user %>

        <p>

          <a href="/user/logout">
            <button class="postpeep" type="button" value="Logout">
              <span class="icon"></span>Logout</button>
          </p>

        <%else%>
          <form action="/user/login" method="post" >
<div id="login_panel">

            <p>
              <label for="username">username:
              </label><input type="text" name="username" required placeholder="enter your desired username"/>
              <br/>
              <label for="password">password:
              </label><input type="password" name="password" required placeholder="enter your password"/></p>

            <p>

              <button type="submit" class="login_btn" id="Login" value="Login">
                <span class="icon"></span>Login</button>
                </div><button type="button" onclick="myFunction()" class="login_btn" id="login_show_button" class="peep_only_btn" value="Login">
                <span class="icon"></span>Login</button>
              <a href="/user/register">
                <button class="postpeep" type="button" value="Register">
                  <span class="icon"></span>Register</button></a>


          </form>

        <%end%>
      </div>

    </div>
  </body>
</html>
