<br><a href="/peeps/new">New Peep!</a>
<div class='peeplist'>
    <ul>
    <% @sorted.each do |peep| %>
      <li><%=peep.user%> peeps: "<%= peep.content %>" <a href="/reply/<%=peep.id%>">reply</a></li>
          <% peep.replys.each do |reply| %>
          <div class='replys'>
            <li><%=reply.user %> replys: <%= reply.reply %></li>
          </div>
          <% end %>
    <% end %>
  <ul>
</div>
