<h1>Chitter</h1>

<h2>
   <%= flash[:notice] %>
</h2>

<% if @user %>
  <h2>Welcome, <%= @user.username %></h2>
<% end %>

<% if @user %>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% else %>
  <form action="/sessions/new" method="get">
    <input type="submit" value="Sign in" />
  </form>
  <form action="/users/new" method="get">
    <input type="submit" value="Sign up" />
  </form>
<% end %>

<% if @user %>
<form id="peep-form" action="/peep/new" method="post">
  <input type="text" name="message" />
  <input type="submit" value="Peep" />
</form>
<% end %>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %> - created at: <span id="<%= peep.id %>-peep-time"><%= peep.formatted_peep_time %></span> posted by <span id="<%= peep.id %>-username"><%= peep.username %></span>
    </li>



  <% end %>
</ul>
