<!DOCTYPE html>
<html>
<head>
<style> 

html {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body {
  max-width: 500px;
  min-height: 100%;
  margin: auto;
  background-color: #6BCAF6;
  background-size: 50%;
  border-radius: 40px;
}

div.a {
  text-align: center;
}

div.b {
  text-align: right;
} 

div.c {
  font-size: 150%;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

ul li {
  padding: 10px;
  margin: 20px;
  background: #CEE9F6;
  border-radius: 10px;
}

</style>
</head>
<body>
<br>
<div class="a">
<% if @user != nil%>
  <h2>Welcome back to Chitter <%= @user.name.split(' ')[0] %>!</h2>
  <h3> Get peepin'... </h3>
  <form action='/end_session' method='post'>
    Finished peeping? &emsp; &emsp; <input type='submit' value='Log out'>
  </form>
  <br>
  <form action='/add_peeps' method='post'>
    <label for='new - content'>
      Write a message to the world: &emsp; <input type='text' name='content' placeholder="Peep peep" required>
    </label>
    &emsp; <input type='submit' value='Peep it!'>
  </form>
<% else %>
  <h1> Welcome to Chitter!</h1><br>
  <form action='/sign_up' method='get'>
    Not yet a member? &emsp; <input type='submit' value='Sign up here...'>
  </form>
  <br>
  <form action='/log_in' method='get'>
    Already a member? &emsp; <input type='submit' value='Log in here...'>
  </form>
<% end %>
</div>
<br><br>
<ul>
    <% @peeps.each do |peep|%>
    <li>
      <div class="c"><strong><%=peep.name%></strong></div>
      <strong> <em>@<%=peep.username %> </em></strong> 
      <br>
      <div class="c" style="margin: 0px 10px"> <%= peep.content %> </div>
      <br>
      <div class="b"> <small><em> (at <%= peep.posted %>) </em></small></div>
    </li>
    <% end %>
</ul>
<br>

</body>

</html>
