<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <title>Chitter</title>
</head>
<body>
    <div class="header">
        <div class="header-part logo">
            <p>Chitter</p>
        </div>
        <div class="header-part nav">
            <ul>
                <li class="selected">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/post">Post</a>
                </li>
            </ul>
        </div>
        <div class="header-part user">
            <% if(@current_user.nil?) %>
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Sign up</a>
                </li>
            </ul>
            <% else %>
            <p><strong><%= @current_user.name %></strong> • <span><%= @current_user.username %></span> • <a href="/logout">Log out</a></p>
            <% end %>
        </div>
    </div>

    <div class="content">

        <% if @peeps.any? %>
            <ul class="list">
                <% @peeps.each do |peep| %>
                    <li class="peep">
                        <p class="peep-message"><%= peep.message %></p>
                        <p class="peep-author-name"><%= peep.author.name %></p>
                        <p class="peep-author-username"><%= peep.author.username %></p>
                        <p class="peep-datetime">Peeped at <%= peep.date %></p>
                        <p><a href="/peep/<%= peep.id %>">View separately »</a></p>
                    </li>
                <% end %>
            </ul>
        <% end %>

    </div>
</body>
</html>