<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Welcome to Chitter!</title>
</head>
<body>
  <h1>Welcome to Chitter!</h1>

<% if session[:user] != nil %>
  <p>Welcome Back <%= session[:user].username %></p>
  <form action="/timeline/new" method="post">
    <input type="text" name="text" placeholder="Peep Here!" />
    <input type="submit" value="Submit" />
  </form> 
  <form action="/sign-out" method="post">
    <input type="submit" value="Sign Out" />
  </form>
<% else %>
  <form method="post" action="/sign_up">
    <a href="/sign-up">Sign Up</a>
  </form>
  <h2>Sign in to Chitter</h2>
    <form action="/sign-in" method="post">
      <input id="rounded" type="text" name="username" placeholder="username"></input>
      <input id="rounded" type="password" name="password" placeholder="password"></input>
      <input id="rounded" type="submit" value="Sign In">
    </form>
<% end %>

<h1> <%= flash[:notice] %> </h1>
<div>
  <ul style="list-style: none;">
    <% @peeps.each do |peep| %>
      <li id="peeps"><p class="normal"><%= peep.text %></p>
        <% @user = User.find(peep.user_id) %>
        <p class="thick"><%= @user.username %> (<%= @user.name %>)</p>
        <p class="light">Peeped at: <%= peep.created_at %></p>
      </li>
    <% end %>
  </ul>
  </div>

  </body>
</html>