<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <% @peeps_list.reverse_each do |peep| %>
      <div>
        <p><%= @users.find(peep.user_id).name %> @<%= @users.find(peep.user_id).username %> - <%= peep.time %></p>
        <p><a href="/peeps/<%=peep.id%>"><%= peep.content %></a></p>
        <br />
      </div>
    <% end %>
    <div>
      <p><a href="/peeps/new"><button type="button">Add a new peep</button></a> <a href="/signup"><button type="button">Sign up to Chitter</button></a></p>
    </div>
  </body>
</html>
