<html>
  <body>
    <h1>Chitter</h1>
      <% if @user_id.nil? %>
        <a href='/login'>Login</a>
        <a href='/sign-up'>Sign up for Chitter!</a>
      <% end %>
      <% if !@user_id.nil? %>
        @<%= @username %>
        Log off
        Post a new Peep
      <% end %>
      <% @peeps.each do |peep| %>
          <p>
          <%= peep.name %>
          @<%= peep.username %>
          <%= peep.content %>
          <%= peep.date_time_created_formatted_string %>
          </p>
      <% end %>
    
  </body>
</html>