<!DOCTYPE html>

<html>
  <head>
    <title>Welcome to Chitter!</title>
    <a href='/signup'>Sign Up Here</a><br>
    <br>
    <a href='/login'>Log in Here</a><br>
    <br>
    <a href='/account/:id'>Account</a>
  </head>

  <body>
  <h1>Chitter Message Board</h1>
    <%@peeps.reverse.each do |peep|%>
    <div style="border:solid">
      <head>
        Peep ID#<%=peep.id%>
      </head>
      <p>
        <%=peep.content%>
      </p>
      <footer>
        @<%=@users.find(peep.user_id)[0].username%>    <%=@users.find(peep.user_id)[0].email%>    <%=peep.date%>
      </footer>
    </div><br>
    <%end%>
  </body>

</html>