<% flash.keys.each do |type| %>
 <div data-alert class="flash <%= type %> alert-box radius" style="color: red">
   <%= flash[type] %>
   <a href="/" class="close">&times;</a>
 </div>
<% end %>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign Out">
</form>

<% if @user %>
  <h2>Hello, <%= @user.email %></h2>
<% end %>

<h1>Chitter</h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.post %><br>
      <%= peep.time %><br>
    </li>
  <% end %>
</ul>
