<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
    .red{ color: rgb(255,0,0) }
    #peep_box { visibility: <%=@pb_visiblity%>;}
  </style>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-2 fa fa-comments red"></h1>
          <h2 class="display-4">ChitterBox</h2>
          <p class="lead">Responsive chat app using using bootstrap, sinatra and Postgres for DB.</p>
        </div>
      </div>

      <div class="form-group">
          <form id="peep_box" class="peep-box" action="/add" method="post">
            <div class="form-row">
                <input class="col-10" maxlength="80" type="text" class="form-control" name="tb_peep" id='tb_peep' placeholder="peep here...max 80 characters" required>
                <button class=" col-2 btn btn-primary" type="submit" id="btn_peep" value='btn_peep'>Peep</button>
            </div>
          </form>
      </div>

        <ul class="list-unstyled list-group">
          <!-- peeps li start below -->
          <% @peeps.each do |peep| %>

          <li class="list-group-item" data-toggle="collapse" data-target="#<%=peep.peep_id%>">
            <div class="name"><small><strong><%=peep.username%>:</strong></small></div>
            <div class="tweet ml-3"><%=peep.peep%></div>
            <div class="timestamp collapse font-italic text-right" id="<%=peep.peep_id%>"><small>peeped on: <%=peep.time%></small></div>
          </li>
          <%end%>

          <!-- peeps li ends here -->
        </ul>

    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
