<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16"/>
  </head>

  <body>
      <div class="grid-container">
      <div class="header">
        <h1>Welcome to Chitter<% if @user %>,
            <%= @user.username %>
          <%end%>
        </h1>

        <!-- <% if @user %> <h1>Welcome, <%= @user.username %></h1> <%end%>-->
      </div>
      <div class="menu">
        <p>
          <% if @user %>
            <a href="/peep">
              <button class="postpeep" type="button" value="Post a Peep">
                <span class="icon"></span>Post a Peep</button>
            </a>
          <%else%>Login or register to post a peep<%end%>
        </p>
      </div>
      <div class="main">
        <%@peeps.each do |peep_row|%>
          <!-- <%=peep_row%> -->
        </p>
        <p><%=peep_row[:peeper]%>
          wrote a Peep:
          <%=peep_row[:peep]%>
          - sent
          <%=peep_row[:posted_date]%></p><hr/>
      <%end%>

    </div>
    <div class="login">
      <!-- <p>You need to register: </p> -->
      <p><%=flash[:notice]%></p>
      <% if @user %>

        <p>
          Registration successful
          <a href="/user/logout">
            <button class="postpeep" type="button" value="Logout">
              <span class="icon"></span>Logout</button>
          </p>

        <%else%>
          <form action="/user/login" method="post">

            <p>
              <label for"username"="for" username""="username""">username:
              </label><input type="text" name="username" placeholder="enter your desired username"/>
              <br/>
              <label for"password"="for" password""="password""">password:
              </label><input type="password" name="password" placeholder="enter your password"/></p>

            <p>

              <button type="submit" class="peep_only_btn" value="Login">
                <span class="icon"></span>Login</button>
              <a href="/user/register">
                <button class="postpeep" type="button" value="Register">
                  <span class="icon"></span>Register</button>
              </p>
            </p>
          </form>

        <%end%>
      </div>

    </div>
  </body>
</html>
