<div class="container">
  <h1>Chitter</h1>

  <% flash.keys.each do |notice| %>
    <div>
      <%= flash[notice] %>
    </div>
  <% end %>

  <% if session[:user].nil? %>
  <a href="/user/new">Register</a>
  <a href="/session/new">Login</a>
  <% else %>
  <h4>Logged in as <%= @user.name %> (<%= @user.username %>)</h4>

  <form action="/session" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Log out">
  </form>
  <% end %>

  <form action="/peep/new">
    <input type="submit" value="Post a Peep">
  </form>

  <% @peeps.each do |peep| %>
    <p>
    <%= peep.username %>
    <br>
    <%= peep.text %>
    <br>
    <br>
    <%= peep.time %> - <%= peep.date %>
    </p>
    <br>
  <% end %>

</div>
