<%=flash[:notice]%>

<h2>Welcome to Chitter</h2>

<h3>Peep Feed:</h3>
<div>
<ul>
  <% @peeps.each do |peep| %>
    <li>
      <a> <%= peep.name %> (<%= peep.username %>) said: <%= peep.message %></a>
      Posted at: <%= peep.time %>
    </li>
  <% end %>
</ul>
<div>

<h3>Sign up so that you can peep!</h3>
<!-- button to got to sign in page -->
<!-- <h3>Or click here to login if you're already a user</h3> -->
<!-- button to login -->
