
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <form action="/addfilm" method="get">
      <input type="submit" id="addfilm" value="Add Film">
    </form>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <form action="/" method="get">
      <button type="submit" id="sort-alphabetically" name="sort_by" value="a_to_z">Sort A-Z</button>
    </form>
  </div>
</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td><%= film.title %></td>
          <td><%= film.rating %>/10</td>
          <td><%= film.date_added %></td>
          <td>
            <form action="/comment/<%= film.title %>" method="get">
              <button type="submit" id="comment-<%= film.title %>" name="title" value="<%= film.title %>">Comment</button>
            </form>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= styled_flash %>
