
<center><h1>Chitter Feed</h1>
<div class='message-list'>
  <ul style = 'list-style-type:none;'>
    
      <% @peep.each do |peep|%>
        <div class='message-block'>
          <li class='message'> @<%= peep.username %>: <%= peep.message %></li>
          <li class='time'>Time posted: <%= peep.time %> </li>
          <% if peep.username == @current_user %>
            <form action='/message/<%= peep.id %>' method='post'>
              <input type='hidden' name='_method' value='DELETE' />
              <input type='submit' value='Delete' class='delete'>
            </form>
            <a href='/message/<%= peep.id %>/edit' class='edit'>Edit</a>
          <% end %>   
        </div>  
      <% end %>
  
  </ul>
</div>
