<h1>Chitter</h1>
<% if @user %>
  <h2>Welcome, <%= @user.name%></h2>
  <h2>You are logged in with this email: <%= @user.email%></h2>
  <form action="/users/<%= @user.username %>/peeps/new" method="get">
    <input type="submit" value="Peep">
  </form>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Logout">
  </form>
   <form action="/users/<%= @user.username%>/peeps" method="get">
    <input type="submit" value="My Profile">
  </form>
<% end %>
<% if @user.nil? %>
  <form action="/users/new" method="get">
    <input type="submit" value="Register">
  </form>
  <form action="/sessions/new" method="get">
    <input type="submit" value="Login">
  </form>
<% end %>
<p>
  <%= flash[:notice] %>
</p>
<% if peeps %>
  <% peeps.each do |peep| %>
  <ul>
    <li class="peep" id="peep-<%= peep.id %>">
    <p> <%= peep.text %></p>
    <span class="time">at <%= peep.time_display %> </span>
    <span class="author">by <a href="/users/<%= peep.username %>/peeps"> <%= peep.username %></a></span>
    </li>
  </ul>
  <% end %>
<% end%>


