<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>

  <body>

    <% if @user %>
    <h1>Welcome <%= @user.name %></h1>
    <% else %>
    <h1>Welcome stranger!</h1>
    <% end %>

    <ul>
      <% @peeps.each do |peep| %>
        <li class="peep" id="peep-<%= peep.id %>">
          <h3><%= peep.username %>, <%= peep.date %></h3>
          <p>
            <%= peep.content %>
          </p>

        </li>
      <% end %>
    </ul>

    <% if @user %>
    <form action='/peeps/new' method='get'>
    <div>
      <button class="button" type="submit"><span>Add peep</span></button>
    </div>
    </form>
    <% end %>
    <form action='/' method='get'>
      <button type="submit" class="button"><span>Login Menu</span></button>
    </form>

  </body>
</html>
