<div>
  <% if @username %>
    <p>Welcome <%= @username %>, you are signed in.</p>
  <% end %>
  <% Peep.all.reverse_each do |peep| %>
    <div class="peep">
      Author: <%= peep.name %> 
      Content: <%= peep.content %>
      <% date_time = DateTime.parse(peep.created_at) %>
      Date created: <%= date_time.strftime '%d-%m-%Y' %>
      Time created: <%= date_time.strftime '%H:%M:%S'%>
    </div>
  <% end %>
  <form action='/peeps/new' method='get'>
    <button id='new_peep'>Write peep</button>
  </form>
  
  <form action='/users/new' method='get'>
    <button id='sign_up'>Sign up</button>
  </form>
</div>