<head>
  <link rel="stylesheet" type="text/css" href="styling.css">
  <div class="header">

    <h1>Chitter!</h1>

    <div class="header-right">

      <% if !@user %>
        <form action="/users/sign-up" method="get">
          <input type="submit" value="Sign Up" class="header_button" />
        </form>

        <form action="/users/sign-in" method="get">
          <input type="submit" value="Sign In" class="header_button" />
        </form>

      <% else %>

        <form action="/users/sign-out" method="post">
          <input type="submit" value="Sign Out" class="header_button" />
        </form>

      <% end %>

    </div>
  </div>

  <% if @user %>

  <h2>Welcome, <%= @user.name %>

  <% end %>

</head>

<p><%= flash[:notice] %></p>


<form action="/write-peep" method="get">
  <input type="submit" value="Write Peep" />
</form>

<p><%= flash[:notice2] %></p>

<h2>Posts:</h2>

<ul>
  <% @messages.reverse.each do |message| %>
    <p class="message">
      <%= message.user_name %> (@<%= message.user_handle %>) wrote: <br>
      --------------------------------------------------------------------------------------------- <br>
      <%= message.content %> <br>
      --------------------------------------------------------------------------------------------- <br>
      <%= DateTime.parse(message.time).strftime("%d/%m/%y %H:%M") %>
    </p>

    <br>
  <% end %>
</ul>
