<head>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link rel="stylesheet" type="text/css" href="/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/skeleton.css"/>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<html font-size: 62.5%;>
  <body style="background-color:rgb(66, 190, 194)">
    <h1 ><center>Chitter</center></h1>
    <div class="right">
      <form color:"black" style="text-align:right" action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
      </form>
    </div>
    <form action="/post-peep" method="post" style="text-align:center">
        <label for="peep">
        <input type="text" name="peep" placeholder="What's on your mind?">
        <input type="submit" value="Post">
      </form>
      <center><ul style="list-style: none;">
        <% if @user %>
          <h1>Welcome, <%= @user.username %></h1>
        <% end %>
        <% @peeps.reverse.each do |peep| %>
          <li>@<%= peep.username %><br><%= peep.peep %><br><%= peep.time[11..15] %>
          </li><br>
        <% end %>
      </ul></center>
  </body>
</html>

<%= flash[:notice] %>