<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/application.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Chitter!</title>
</head>

<body>
  <header class="center">
    <h1><a href="/">Chitter!</a></h1>
  </header>

  <main>
    <div class="topnav">
      <a href="<%='/chitter/index'%>">Home</a>
      <%# <a href="#">Link</a>
      <a href="#">Link</a> %>
      <%if @user%>
      <form action="/sessions/destroy" method="post" style="float:right;">
        <input type="submit" value="Sign out" style="margin:7px;">
      </form><%end%>
    </div>

    <div class='leftcolumn'>
      <h1>Welcome to Chitter!</h1>
      <h2><em>- THE place to be</em></h2>
      <br>
      <%= yield %>
    </div>
    <div class='rightcolumn'>
      <div class='peep'>
        <%@peeps.each do |peep|%>
          <div class='peep'><%=peep.message%></div>
          <div class='tag'>peeped @ littlefrog</div>
          <%@users.each do |user|%>
            <%if user.user_id == peep.user_id %>
              <div class='wrap'>
              <%if @user%>
              <form action="/chitter/index" method="get" style="float:right;">
                <input type="submit" value="Reply" style="width:70px;">
              </form><%end%>
              <%=user.username%><br>
            <%end%>
          <%end%>
        <%=peep.created_at.slice(0, 19)%></div><br><br>
        <%end%>
      </div>
    </div>
  </main>

  <footer>
  </footer>
</body>

</html>
