
<h2> Chitter </h2>
  <% unless @user.nil? %>
      Logged in as <%= @user.name %>
<% end %>
<form action="/" method="get">
  <input type="submit" value="Log out">
</form>

<form action="/user/wall" method="post">
  <fieldset>
    <legend> What are you doing? </legend>
    Peep
    <input type="text" name="peep">
    <input type="submit" value="Post" >
  </fieldset>
</form>

<% @peeps.each do |peep| %>
<div> <%= peep.text %> by <%= peep.name %>(<%= peep.username %>) at <%= peep.time %>
<% end %>
</div>
