<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/reset.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="header">
      <h1>Chitter:</h1><br><br/>
      <form action="logout" method="post">
        <input type="submit" value="log out"/>
      </form>
    </div>
    <div class="welcome">
      <h2>welcome <%=session["username"]%></h2>
    </div>
    <div class="peep">
      <form action="peep" method="post">
        <input type="text" name="peep"/>
        <input type="submit", value="peep"/>
      </form>
    </div>
    <%Peep.all.reverse.each do |peep|%>
      <div class="pheader">
        <div class="user">
          <h2><%=peep.user.name%></h2><h3>  @<%=peep.user.username%></h3>
        </div>
        <div class="time">
          <h3>  <%=peep.time.strftime("%A")%>  <%='%02d' % peep.time.hour%>:<%='%02d' % peep.time.min%></h3>
        </div>
      </div>
      <div class="ptext">
        <p><%=peep.text%></p>
      </div>
    <%end%>
  </body>
</html>
