<html>
   <head>
      <link rel="stylesheet" href="/styles.css"/>
   </head>
   <body>
      <form action="/" method="get">
         <button type="button" class="sign-out-button">
         <a href='/'>Click here to sign out</a>
      </form>
      </button>
      <div class="float-container">
         <div class ="float-child">
            <div class="logo">
               <img src="logo.png" alt="Chitter logo" width="600" height="200">
            </div>
         </div>
         <div class="float-child">
            <div class="username-header">@<%= @user_repo.find(session[:user_id]).username %> </div>
         </div>
      </div>
      <h3>What do you wanna peep about?</h3>
      <form action="/new_peep/:user_id" method="post">
         <label for="content">Enter your peep:</label>
         <input type="text" id="content" name="content" class="peep-input">
         <input type="submit" value="Post a new peep">
      </form>
      <h1 class="peeps-header">Timeline</h1>
      <% @peep_repo.all.reverse.each do |peep| %>
      <div class="peep">
         <p class="peep-name"><%= @user_repo.find(peep.user_id).name %> </p>
         <div class="peep-text">
            <p>
            <div class=user-tag>@<%= @user_repo.find(peep.user_id).username %></div>
            : <%= peep.content %></p> 
         </div>
         <p class="timestamp"><%= peep.time_posted %></p>
         <a href="/comment/<%= peep.id %>"><button type="button">View comments</button></a>
      </div>
      <% end %>
   </body>
</html>