<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome stranger, sign up or log in to peep!</h1>
    <form action="sign-up" method="get">
      <input type="submit" value="Sign Up!"/>
    </form>
    <form action="login" method="get">
      <input type="submit" value="Log In!"/>
    </form>
    <%Peep.all.reverse.each do |peep|%>
      <h3><%=peep.user.name%></h3><h3>  @<%=peep.user.username%></h3><h3>  <%=peep.time.strftime("%A")%>  <%=peep.time.hour%>:<%=peep.time.min%><br></br>
      <p><%=peep.text%></p>
    <%end%>
  </body>
</html>
