
  <form action='/confirmation_screen' method = 'post'>
    <%="Enter first name"%>
  <input type='text' name="first_name">
  <%="Enter last name"%>
  <input type='text' name="last_name">
  <%="Enter user name"%>
  <input type='text' name="user_name">
  <%="Enter email address"%>
  <input type='text' name ="email">
  <%="Enter password"%>
  <input type='text' name ="password">
  <input type='submit' value ='Sign up'>
</form>
