<h1>Here's all the peeps</h1>
<% if @user %>
<h2>Hello <%= @user.username %></h2>
<% end %>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <p><%= peep.author %> said at <%= peep.created_at %>:</p>
      <p><%= peep.content %></p>
    </li>
  <% end %>
</ul>

<% if @user %>
<form action="/peeps/new" method="get">
  <input type="submit" value="Add new peep">
</form>
<% end %>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out">
</form>

<p>
  <%= flash[:notice] %>
</p>
