<% if @user %>
  <p> You're signed in as <%= @user.user_name %>.</p>
  <a name="log out" href="/log-out">log out</a>

  <h1>What's up?</h1>
  <form action="/peeps" method="post">
    <label for="body">Body:</label><br>
    <input type="text" name="body" value="">
    <input type="submit" name="post" value="Post">
  </form>
<% else %>
  <a name="log in" href="/log-in">log in</a>
  <a name="sign up" href="/sign-up">Sign up</a>
<% end %>

<% @peeps.each do |peep| %>
  <p id="<%= peep.body %>"> <%= peep.body %> </p>
  </br>
  <p> Posted at <%= peep.created_at_time %> on <%= peep.created_at_date %> by <%= peep.creator_name %> </p>
<% end %>
