<% if @user %>
  <p> You're signed in as <%= @user.user_name %>.</p>
<% end %>

<form action="/peeps" method="post">
  <label for="body">Body:</label><br>
  <input type="text" name="body" value="">
  <input type="submit" name="post" value="Post">
</form>

<% @peeps.each do |peep| %>
  <p id="<%= peep.body %>"> <%= peep.body %> </p>
  </br>
  <p> Posted at <%= peep.created_at_time %> on <%= peep.created_at_date %> </p>
<% end %>
