<% peep_user = @user_repo.find_user_by_id(@peep_by_id.user_id) %>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> Peep by <%= peep_user.username %> </title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <h4>Like Twitter, but legitter!</h4>
      <nav>
        <a href="/">Home</a> |
        <a href="/login">Log in</a> |
        <a href="/signup">Sign up</a>
      </nav>
    </header>

    <hr>

    <h2> Peep by <%= peep_user.username %> </h2>

    <article>
      <p> <%= peep_user.name %> &nbsp | &nbsp <a href="/<%= peep_user.id %>">@<%= peep_user.username %></a> &nbsp | &nbsp <%= @peep_by_id.date_and_time %> </p>    <!-- change user_id to username; add link to take user to peepers page of peeps -->
      <p> <%= @peep_by_id.content %> </p>        <!-- add class to make text bigger? -->
      <p> &nbsp <p>
      <blockquote>
      <% if !@comments_by_peep.empty? && @comments_by_peep != nil %>
        <% @comments_by_peep.each do |comment| %>
          <% comment_user = @user_repo.find_user_by_id(comment.user_id) %>
          <p> <%= comment_user.name %> &nbsp | &nbsp <a href="/<%= comment_user.id %>">@<%= comment_user.username %></a> &nbsp | &nbsp <%= comment.date_and_time %> </p>
          <p> <%= comment.content %> </p>
          <p> &nbsp <p>
        <% end %>
      <% end %>
      </blockquote>
      <p> &nbsp <p>
    </article>
    
    
    </article>

    <footer>Chitter © 2022</footer>
  </body>
</html>

