<h1>Welcome <%= $user.first_name %> </h1>

<form action="/logout" method="post">
  <input type="submit" value="Log out">
</form>

<form action="/peep" method="post">
  <input type="text" id="message" name="message" placeholder="start peeping here!">
  <input type="date" name="created_on" value=<%= Time.now.strftime("%m/%d/%Y") %>/>
  <input type="submit" value="Submit">
</form>

<!-- Show all tweets below -->

<h2> Today's tweets </h2>

<dl>
  <% $peep.each do |message| %>
    <dt>  <%= message.username %> </dt>
      <dd>- <%= message.peep %></dd>
      <dd>- <%= message.created_on %>  </dd>
      <dd>- <%= message.id %>  </dd>
    <br>
  <% end %>
</dl>
