<%= erb :'partials/header' %>

<% if @username %>
  <h2>Hello <%= @username %></h2>
<% else %>
  <h2>Hello guest</h2>
<% end %>

<%= flash[:message] %>
albob123 (Alice Bobson) posted
<% @peeps.reverse_each do |peep| %>
  <article class='peep'>
    <h3><%= peep.time %><h3>
      <article class='peep_body'>
        <p><%= peep.text %></p>
      </article>
  </article>
<% end %>

<% if @username %>
  <form action='/peeps' method='post'>
    <input id='peep_entry' type='text' name='peep' placeholder='Peep away!'>
    <button type='submit'>Peep</button>
  </form>
<% end %>
<%= flash[:warning] %>
