<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
      <style>
        body {
          background-image: url("/bg.svg");
          background-size: auto 100%;
          background-repeat: no-repeat;
        }
     </style>
  </head>

  <body>
  <div class="container">
    <div class="left_column">
      <div class = "header" style="display: flex;">
        <a href ="/">
        <img src="/chitter_logo.png" style ="width: 140px; height: 140px; padding-top:35px;"></a>
        <h1 style="font-size: 45px">Welcome<br>to<br>Chitter</h1>
      </div>

      <div class="spacer" style="padding-top:15px"><hr style="border-style:none;"></div>

      <div class="user_controls">
        <div class="posting_box" style="padding-left: 15px;">
          <h2>Hi, @{username}!</h2>
          <form method="POST" action="/">
            <label><h4>Peep something!</h4></label>
            <label><h5>Username:</h6></label>
            <input type="text" name="username" />
            <label><h5>Peep:</h6></label>
            <input type="text" name="peep" />
            <input type="submit" value="Peep this!">
          </form>
        </div>
      </div>
    </div>
  
    <div class = "feed">
      <div class = "feed-header">
        <div class="profile-image-container">
          <img src="<%="/"+@user_id.to_s+".png" %>" class="profile-image" style = "border-radius: 25%;">
        </div>
        <div class="user-bio">
          <h2><%= @name %></h2>
          <h3>(@<%= @username %>)</h3>
          <h4>"<%= @bio %>"</h4>
        </div>
      </div>
      <hr>
      <div class = "feed-user">
        <table>
        <% @peeps.each do |content, timestamp| %>
          <tr>
            <td>
              <div class="peep_container">
                <img src="<%="/"+@user_id.to_s+".png" %>" class="user_icon" style = "border-radius: 35%;">
                <div style="padding-bottom: 10px; padding-top: 5px;"> 
                  <%= content %>
                  <br>
                  <%= timestamp %>
                </div>
                <br><br>
              </div>
              <hr>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
    
  </div>
  </body>
</html>