<%= erb :'partials/header' %>

<% if @user %>
  <h2>Hello <%= @user.username %></h2>
<% else %>
  <h2>Hello guest</h2>
<% end %>

<%= flash[:message] %>
albob123 (Alice Bobson) posted
<% @peeps.reverse_each do |peep| %>
  <article class='peep'>
    <h3><%= peep.time %><h3>
      <article class='peep_body'>
        <p><%= peep.text %></p>
      </article>
  </article>
<% end %>

<% if @user %>
  <form action='/peeps/<%= @user.id %>/new' method='post'>
    <input id='peep_entry' type='text' name='peep' placeholder='Peep away, <%= @user.username %>!'>
    <button type='submit' name='id' value='<%= @user.id %>'>Peep</button>
  </form>
<% end %>
<%= flash[:warning] %>
