<html>
  <body>  
    <h1> Welcome, <%= @user.username %> </h1>
    <h2> Your chitter feed: </h2>
    <ul>
      <% @peeps.each do |peep| %>
        <li class="peep" id="peep-<%= peep.id %>">
          <%= peep.name %> peeped <%= peep.content %> at <%= peep.time[0..18]%>
        </li> 
      <% end %> <br>
    </ul>
    <form action="/peeps/new" method="get">
        <input type="submit" value="Post Peep"/>
    </form>
  </body>
</html>