<% if @user %>
  <b><h1 style="text-align:center"> Welcome, <%= @user.username %>! </h1></b>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>

<h2 style="text-align:center"> Your Peep Feed: </h1> 

<ul style="text-align:center">
  <% @peeps.reverse_each do |peep| %>
  <li class="peep" id="peep-<%=peep.id %>">
    <% if @user %>
      <i><%= @user.name %> (<%= @user.username %>) at <%= peep.time %>: </i>
    <% else %>
      <i> Guest at <%= peep.time %>: </i>
    <% end %>
      <%= peep.content %>
  </li>
  <% end %>
</ul>

   

<form style="text-align:center" action="/peeps/new" method="post">
  <input type="text" name="New_peep">
  <input type="submit" value="Submit new peep">
</form>