<html>

  <head>
      <title>Chitter</title>
      <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
      <link href="<%= url('/styles2.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="left">
          <form action="/peep" method="post">
              <div class='window5'>
                  <div class='overlay5'></div>
                      <div class='content'>
                          <div class='welcome'>Chitter</div>
                          <br />

                          <% if session[:user] %>
                            <div class='subtitle'>Please add your peep here</div>
                          <% end %>

                          <div class='input-fields'>

                            <% if session[:user] %>
                              <textarea type="text" name="peep_text" cols="40" rows="6" style="resize: none;" class='input3' required></textarea>
                            <% end %>

                          </div>

                          <div class='spacing'>
                              <% if !session[:user] %>
                              <span>To send peeps you need to <a class='highlight1' href="/login">login</a></span>
                              <% end %>
                          </div>

                          <% if session[:user] %>
                              <div><button id="submit" name="submit" type="submit" value="submit" class='ghost-round full-width3'>Submit</button></div>
                          <% end %>
                      
          </form>
                          <% if session[:user] %>
                              <form action="/logout" method="post">
                                  <div class="action_btn1">
                                      <button name="log out" class="action_btn ghost-round full-width3" type="submit" value="Log out">Log out</button>
                                  </div>
                              </form>
                          <% end %>

                          <div id="footer" class="contacts">
                              <a class="icons" href="https://www.linkedin.com/in/yaroslava-yates-629517221/" target="_blank">
                                  <img class="icons" src="https://i.postimg.cc/CKhnxt4D/link.png" alt="Linkedin">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>

    </div>
    
    <div class="right">
      <form action="/peep" method="post">

          <% @peeps.each do |peep| %>
        
            <div class="bubbleWrapper">
                <div class="inlineContainer own"><span class="own"><%= peep["user_name"] %></span>
                    <img class="inlineIcon" src="https://i.postimg.cc/g2sMd7c0/0c675a8e1061478d2b7b21b330093444-1.gif" alt="robot">
                    <div class="ownBubble own">
                        <%= peep["peep_text"] %>
                    </div>
                </div><span class="own"><%= peep["time"] %></span>
            </div>
          <% end %>
      </form>
    </div>
    
  </body>

</html>

