<!-- GET /peep/:id -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peep info page</title>
</head>
<body>
  <h1><%=@content%></h1>

  <p>Date:<%=@datetime[0]%></p> <br />
  <p>Time:<%=@datetime[1]%></p> <br />
  <p><%=@name%> | <em><%=@username%></em></p>
</body>
</html>