<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Chitter | Peeps </title>
	
	</head>

	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">
				  <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
					Chitter
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/peeps">All Peeps <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">Sign up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Log in</a>
						</li>
            <li class="nav-item">
							<a class="nav-link" href="/peeps/new">Add a new Peep</a>
						</li>
					</ul>
				</div>
		</nav>

		<div class="jumbotron">
		<div class="container">
    <h2>What's the Chitter?</h2>
     <ul>
        <% @peeps.each do |peep| %>
        <li class="card">
          <div class="card-body">
            <div class="card-title" style="font-size: 2em"><%= peep.author %></div>
            <div class="card-text"><%= peep.handle %></div>
					  <div class="card-text"><%= peep.date %></div>
            <div class="card-text"><%= peep.time %></div>
            <div class="card-footer"><%= peep.content %></div>
          </div>
        </li>
        <% end %>
      </ul>
			</div>
		</div>

	</body>
</html>