<h2> <%= "Logged in as: #{@username}" unless (@username.nil? || @username.empty?) %></h2>

<ul id ='peeplist'>
  <% @peeps.each do |peep| %>
      <li>
        <%= peep.name %> (<%= peep.user %>): <%= peep.content %> [<%= peep.created_at %>]
      </li>
  <% end %>
</ul>

<% if @username.nil? %>
    <form action="/signin" method="post">
      <input type="submit" value="Sign in">
    </form>

    <form action="/signup" method="post">
      <input type="submit" value="Sign up">
    </form>
<% else %>
    <form action="/new">
      <input type="submit" value="Write a new peep!">
    </form>
    <br>
<form action="/signout" method="post">
  <input type="submit" value="Sign out">
</form>


<% end %>