<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>
    <div class="header">
      <h3><%= session[:user_name] %></h3>
    </div>
    <% @peeps.each do |peep_hash| %>
        <div class="peep" id="<%= peep_hash[:peep].id %>" >
          <em>Peeper: <%= peep_hash[:user].user_name %> - <%= peep_hash[:peep].time %></em>
          <p><%= peep_hash[:peep].text %></p>
          <form action="/peeps/<%= peep_hash[:peep].id %>/comments" method="post">
            <input type="submit" value="Comments">
          </form>
        </div>
    <% end %>
    <div class="peep_adder">
      <form action="/peeps/new" method="post">
        <label for="peep">Peep</label>
        <input type="text" name="peep">
        <input type="submit" value="Post">
      </form>
    </div>
    <form action="/sessions/<%= session[:current_user] %>" method="post">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
