<% peep_user = @user_repo.find_user_by_id(@peep_by_id.user_id) %>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <title>Peep by <%= peep_user.username %></title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <h4>Like Twitter, but legitter!</h4>
      <% if session[:user_id] == nil %>
        <nav>
          <a href="/">Home</a> |
          <a href="/login">Log in</a> |
          <a href="/signup">Sign up</a>
        </nav>
        <p> You need to log in if you want to peep or comment! </p>
      <% else %>
        <% user = @user_repo.find_user_by_id(session[:user_id]) %>
        <nav>
          <a href="/">Home</a> |
          Logged in as <a href="/<%= user.id %>">@<%= user.username %></a> |
          <a href="/logout">Log out and return to homepage</a>
        </nav>
      <% end %>
    </header>

    <hr>

    <h2> Peep by <%= peep_user.username %> </h2>

    <div class="peeps-container">
      <article class="peep">
        <p class="peep-info"> <%= peep_user.name %> &nbsp | &nbsp <a href="/<%= peep_user.id %>">@<%= peep_user.username %></a> &nbsp | &nbsp <%= @peep_by_id.date_and_time %> </p>
        <p class="peep-message"> <%= @peep_by_id.content %> </p>        <!-- add class to make text bigger? -->
        <blockquote>
        <% if !@comments_by_peep.empty? && @comments_by_peep != nil %>
          <h3> Comments </h3>
          <% @comments_by_peep.each do |comment| %>
            <% comment_user = @user_repo.find_user_by_id(comment.user_id) %>
            <div class="comment">
              <p class="comment-info"> <%= comment_user.name %> &nbsp | &nbsp <a href="/<%= comment_user.id %>">@<%= comment_user.username %></a> &nbsp | &nbsp <%= comment.date_and_time %> </p>
              <p class="comment-message"> <%= comment.content %> </p>
            </div>
          <% end %>
        <% end %>
        </blockquote>
      </article>
    </div>

    <% if session[:user_id] != nil %>
      <div class="post-comment-container">
        <h3> Would you like to comment on this peep? </h3>
        <form action="/peep/<%= @peep_id %>" method="post">
          <input type="textarea" name="content" required>
          <input type="submit" value="Post comment">
        </form>
      </div>
  <% end %>
    
    
    </article>

    <footer>Chitter © 2022</footer>
  </body>
</html>