<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <% if @user %>
    <div>
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='DELETE'/>
        <input type='submit' value='Log out'/>
      </form>
    </div>
    <div>
      <p><%= @user.name %></p>
      <p>@<%= @user.username %></p>
    </div>
  <% else %>
    <div>
      <a href='/'>Log in</a>
    </div>
  <% end %>

  <% @peeps.each do |peep| %>
    <article>
      <p><%= @users.select_by_id(peep.user_id).name %></p>
      <p>@<%= @users.select_by_id(peep.user_id).username %></p>
      <p><%= peep.text %></p>
      <p><%= peep.time %></p>
    </article>
  <% end %>

  <% if @user %>
    <a href='/users/<%= @user.id %>/peeps/new'>New peep</a>
  <% end %>
</body>
</html>
