<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
      <ul>
        <% @peeps.each do |peep| %>
          <li class="peep-meta" id="peep-<%= peep.id %>">
            <%= peep.peep %>
            <%= peep.name %>
            <%= peep.time %>
            <form action="/peeps/<%= peep.id %>" method="post">
             <input type='hidden' name='_method' value='DELETE'/>
             <input type="submit" value="Delete" />
           </form>
          </li>
        <% end %>
      </ul>

    <form action="/" method="get">
    <button type="submit" value="return">Return to homepage</button>
    </form>

</body>
</html>
