<% if @user %>
  <h1> Welcome, <%= @user.username %>! </h1>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>

<h2> Your Peep Feed: </h1> 

<ul>
  <% @peeps.reverse_each do |peep| %>
  <li class="peep" id="peep-<%=peep.id %>">
    <% if @user %>
      <%= @user.name %> (<%= @user.username %>) at <%= peep.time %>:
    <% else %>
      Guest at <%= peep.time %>:
    <% end %>
      <%= peep.content %>
  </li>
  <% end %>
</ul>

   

<form action="/peeps/new" method="post">
  <input type="text" name="New_peep">
  <input type="submit" value="Submit new peep">
</form>