<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <%= erb :header_partial %>

    <% flash.keys.each do |type| %>
    <% if type == :success
        @message_colour = 'green'
      else
        @message_colour = 'red'
      end %>

      <div class="w3-panel w3-pale-<%= @message_colour %> w3-display-container">
        <h4><%= flash[type] %></h4>
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-pale-<%= @message_colour %> w3-pale-<%= @message_colour %> w3-large w3-display-right">X</span>
      </div>

    <% end %>
    <br>
    <div class="w3-row w3-container">
      <div class="w3-col" style="width:20%"><br></div>
        <div class="w3-col" style="width:60%">
          <% if @logged_in %>
            <form action="/add_post" id="post_form" method="post">
              <textarea name="body" rows="4" cols="40" form="post_form"></textarea><br>
              <input type="submit" value="Post">
            </form>
          <% end %>

        <% @posts.each do |post| %>
          <% @individual_user = @user.find_by_id(post.user_id) %>
          <% @date_time = DateTime.parse(post.creation_date) %>
          <div class="w3-container">
            <div class="w3-card-4">

              <div class="w3-container">
                <p><%= post.body %></p>
              </div>

              <footer class="w3-container w3-sand">
                <p><%= @individual_user.username %> (<%= @individual_user.name %>) wrote this post on <%= @date_time.strftime("Created on: %H:%M %d/%m/%Y") %></p>
              </footer>
            </div>
          </div>
          <br>
        <% end %>
        </div>
      <div class="w3-col" style="width:20%"><br></div>
    </div>



  </body>
</html>
