<h2> Welcome to Chitter <%=@user.name%> </h2>

<div class="right">
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="Sign Out" value="Sign Out">
  </form>
</div>



<form action=<%="/peep/#{@user.id}"%> method="post">
  <div class="form_input">
    <p>What's on your mind? <input type="text" name="content" placeholder="Send a peep!" required> </p>
    <input type="submit" name="Post" value="Post">
  </div>
</form>

<% @peeps.reverse.each do |peep| %>
<div class=display_peeps>
  <p> <%=peep.user.name%> (AKA: <%=peep.user.username%>) peeped: </p> 
  <p><%=peep.content%> </p>
  <p>Posted:<%=peep.created_at.strftime('%d-%m-%Y | %H:%M')%>
 </div>
<% end %>
