<!DOCTYPE html>

<html>
<head>
<style>
  body {
    background-color: #99ccff;
  }
</style> 
</head>
 <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log out">
  </form>


<center>
<body>
<h1>Chitter</h1><br>
<h2>Welcome <%= current_user.username %>. Start Peeping!</h2>
  
  <br><form action='/message/:id' method='post'>
    <h2>Enter Peep Below</h2><textarea name="content" cols="40" rows="5"></textarea>
    <br><input type='submit' value='Send'>
  </form>
    <br>
    <h2>Peeps</h2>
    <% @messages.reverse.each do |message| %>
    <div>
      <%= message.content %><br>
      <%= message.user.name %></a> - @<%= message.user.username %>
      Posted at: <%= message.timestamp %><br><br>
    <%end%>  
</body>
</center>
</html>