<html>
  <head> <div>
        <a href='/feed'>Home</a>
        <% if session['user_id'] %> 
        <p>Logged in as: <%= session['username'] %></p>
        <a href="/logout">Sign Out</a>
        <% else %>
        <a href="/signin">Login</a>
        <a href="/signup">Sign Up</a>
        <% end %>
      </div>
  
  <body>
    <h1>Profile for @<%= @user.username %></h1>
    <div>
  
    </div>
    Peeps:<br>
    <% @peeps.each do |peep|%>
      <div>
        <p> <a href = '/users/<%= peep.username %>'>@<%= peep.username %></a> / <%= peep.timestamp %> <br>
        <%= peep.content %> </p>
      </div>
    <% end %>
  </body>
</html>