<div class="container-fluid">
  <form action='/messages' method='post'>
    <input type='text' name='text' placeholder='Enter a message'>
    <input type='submit' name='Submit' class='btn btn-primary'>
  </form>
</div>

<div class="container-fluid">
  <% if session[:order] == "oldest" %>
    <form action='/messages' method='get'>
      <input type= "hidden" name="order" value="newest">
    <input type='submit' value='View by newest' class='btn btn-secondary'>
  </form>
  <% else %>
    <form action='/messages' method='get'>
      <input type= "hidden" name="order" value="oldest">
      <input type='submit' value='View by oldest' class='btn btn-secondary'>
    </form>
  <% end %>
</div>

<div class="container-fluid">
  <ul class="list-group" style="list-style: none;"> 
    <% @messages.each do |message|  %>
    <li class="list-group-item-dark">
      <h3 id="message"><%= message.text %></h3>
      <h4 id="author">Posted by <%= message.username %></h4>
      <h4 id="time"><%= message.created_at %></h4>
      <form action='/replies' method='get'>
        <input type="hidden" name="message_id" value="<%= message.id %>">
        <% if @message_id != message.id %>
        <input type='submit' value='Show replies' class='btn btn-secondary'>
        <% end %>
      </form>
      
      <div class="container-fluid">
        <% if @message_id == message.id %>
          <form action='/messages' method='get'>
            <input type='submit' value='Hide replies' class='btn btn-secondary'>
          </form>
          <h2>Replies</h2>
          <ul class="list-group" style="list-style: none;"> 
            <% @replies.each do |reply| %>
            <% if reply.message_id == message.id %>
              <li class="list-group-item-secondary">
                <h3><%= reply.text %></h3>
                <h4><%= reply.username %></h4>
                <h4><%= reply.created_at %></h4>
              </li>
              <% end %>
            <% end %>
          </ul>

          <form action='/replies' method='post'>
            <input id="reply_field" type='text' name='text'>
            <input type="hidden" name="message_id" value="<%= message.id %>">
            <input type='submit' value='Cheet your reply' class='btn btn-primary'>
          </form>

        <% else %>
          <form action='/replies/new' method='get'>
            <input type="hidden" name="message_id" value="<%= message.id %>">
            <input type='submit' value='Reply' class='btn btn-primary'>
          </form>

        <% end %>
      </div>
      
    </li>
    <% end %>
  </ul>
</div>