<html>
  <head>
    <meta charset=utf-8>
    <title>Chitter</title>
    <link type ='text/css' rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <% if session[:user_id] %>
      <% user = @user_repository.find_by_id(session[:user_id]) %>
      <h3 style='color:white'>Currently logged in as: <%= user.username %></h3>
      <form action="/logged_in" method="get">
        <button type="submit" class='login-button'>Go Back</button>
      </form>
      <% peep = @peep_repository.find_by_id(@peep_id) %>
      <% user = @user_repository.find_by_id(peep.user_id) %>
      <div class='peep'>
        <div class='peep_header'>
          <span style="color:black"> <b><%= user.name %></b> </span>
          <span>@<%= user.username %></span>
          <span> <%= peep.time_posted %> </span>
        </div>
        <p> <%= peep.content %> </p>
      </div>
      <form action="/reply/<%= @peep_id %>/new" method="post">
        <div class="container">
          <input type="text" placeholder="insert reply here" name="content">
          <button type="submit" class='login-button'>Post Reply</button>
        </div>
      </form>
    <% else %>
      <div class='topnav'>
        <h2>Chitter</h2>
      </div>
      <form action="/" method="get">
        <button type="submit" class='login-button'>Go Back</button>
      </form>
      <% peep = @peep_repository.find_by_id(@peep_id) %>
      <% user = @user_repository.find_by_id(peep.user_id) %>
      <div class='peep'>
        <div class='peep_header'>
          <span style="color:black"> <b><%= user.name %></b> </span>
          <span>@<%= user.username %></span>
          <span> <%= peep.time_posted %> </span>
        </div>
        <p> <%= peep.content %> </p>
      </div>
    <% end %>
    <h4 style='color:white'> All replies: </h4>
    <% if !@comments.empty? %>
      <% @comments.reverse.each do |comment| %>
        <% user = @user_repository.find_by_id(comment.user_id) %>
        <div class='peep'>
          <% user = @user_repository.find_by_id(peep.user_id) %>
          <div class='peep_header'>
            <span style="color:black"> <b><%= user.name %></b> </span>
            <span>@<%= user.username %></span>
            <span> <%= comment.time_posted %> </span>
          </div>
          <p> <%= comment.content %> </p>
        </div>
      <%  end %>
    <% else %>
      <p style='color:white'> No replies yet </p>
    <% end %>
  </body>
  <html>
