<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
  <meta charset="utf-8">
  <title>Chitter: Sign Up</title>
</head>
<center>
  <nav>
    <%= erb(:navbar)%>
  </nav>
  <body>
    <%= erb(:title) %>
    <%= erb(:signforms, :locals => { :action => "/signup", :name => "Submit" }) %>
    <%= erb(:footer)%>
  </body>
</center>
</html>
