<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="container_div">
    <div class="title_div">
      <h1>Chitter</h1>
    </div>
    <div class="message_div">
    <% if @user %>
    <div class="welcome">
      <h2>Welcome, <%= @user.email %></h2>
    </div>
    <div class="sign_out">
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
      </form>
    </div>
    <% end %>
    </div>
    <div class="message_div">
      <form action="/new" method="post">
        <input type="text" name="message" placeholder="Post your peep to Chitter" id="peep"/>
        <input type="text" name="user_name" placeholder="Username" id="username" Value ="<%= session[:user_name] if session[:user_name] %> "/>
        <input type="submit" value="Submit" id="button"/>
      </form>

      <ul>
        <% @peeps.reverse_each do |peep| %>
        <div class="peep_box">
          <li class="peep" id="peep-<%= peep.id %>" >
            <%= peep.message %>
            <br>
            Posted at <%= peep.timeofpeep %> By <%= peep.user_name %>
            <form action="/<%= peep.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE"/>
              <input type="submit" value="Delete" id="button"/>
            </form>
          </li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</body>
