<html>
<head><h1>CHITTER</h1>
 <h2>makers chit chat</h2>
<h3>Hi <%=@user.name%>!</h3></head>
<body>
<p>What are you up to today?</p>

<%if @error == true%>
  <%=puts%><p>Please enter your message:</p>
<%end%>

<form method='POST' action='/new_peep'>
<input type='text' name='content'/>
 
<input type='Submit' />
</form><br/>
 
<%@peeps.map do |peep|%>
  <div>
    <p><%=@user_repo.find(peep.user_id).name%> @<%=@user_repo.find(peep.user_id).username%> at <%=peep.time%></p>
    <p><%=peep.content%></p><br/>
    </div>
  <%end%>

<a href='/logout'>chit out</a>
</body>

</html>