<html>
   <head>
      <link rel="stylesheet" href="/styles.css"/>
   </head>
   <body>
      <a href="/logged_in"><button class="sign-out-button" type="button">Go back to homepage</button></a>
      <div class="float-container">
         <div class ="float-child">
            <div class="logo">
               <img src="logo.png" alt="Chitter logo" width="600" height="200">
            </div>
         </div>
         <div class="float-child">
            <div class="username-header"><a href="/<%= params[:user_id] %>">@<%= @user_repo.find(params[:user_id]).username %></a></div>
         </div>
      </div>
      <h1 class="peeps-header">Timeline</h1>
      <% if params[:user_id] == session[:user_id].to_s %>
      <h3>What do you wanna peep about?</h3>
      <form action="/new_peep/:user_id" method="post">
         <label for="content">Enter your peep:</label>
         <input type="text" id="content" name="content" class="peep-input">
         <input type="submit" value="Post a new peep">
      </form>
      <% end %>
      <% @peep_repo.find_by_user_id(params[:user_id]).reverse.each do |peep| %>
      <div class="peep">
         <p class="peep-name"><%= @user_repo.find(params[:user_id]).name %> </p>
         <div class="peep-text">
            <p>
            <div class=user-tag><a href="/<%= params[:user_id] %>">@<%= @user_repo.find(params[:user_id]).username %></a>:</div>
            <%= peep.content %></p> 
         </div>
         <p class="timestamp"><%= peep.time_posted %></p>
         <a href="/comment/<%= peep.id %>"><button type="button">View comments</button></a>
      </div>
      <% end %>
   </body>
</html>