<% profile_user = @user_repo.find_user_by_id(@user_id) %>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <title><%= profile_user.username %>'s peeps</title>
  </head>
  <body>
    <header>
      <h1>Chitter</h1>
      <h4>Like Twitter, but legitter!</h4>
      <% if session[:user_id] == nil %>
        <nav>
          <a href="/">Home</a> | &nbsp
          <a href="/login">Log in</a> | &nbsp
          <a href="/signup">Sign up</a>
        </nav>
        <p> You need to log in if you want to peep or comment! </p>
      <% else %>
        <% user = @user_repo.find_user_by_id(session[:user_id]) %>
        <nav>
          <a href="/">Home</a> | &nbsp
          Logged in as <a href="/<%= user.id %>">@<%= user.username %></a> | &nbsp
          <a href="/logout">Log out and return to homepage</a>
        </nav>
      <% end %>
    </header>

    <hr>

    <% if session[:user_id] == profile_user.id %>
      <div class="post-peep-container">
        <h2> What would you like to share? </h2>
        <form action="/" method="post">
          <input type="text" name="content" required>
          <input type="submit" value="Post peep">
        </form>
      </div>
    <% end %>


    <% if @peeps_by_user.empty? && @user_id == profile_user.id %>
      <h2> You are yet to peep! </h2>
    <% elsif @peeps_by_user.empty? && @user_id != profile_user.id %>
      <h2> @<%= profile_user.username %> is yet to peep! </h2>
    <% else %>
        <div class="peeps-container">
        <% if session[:user_id] == profile_user.id %>
          <h2> Your peeps </h2>
        <% else %>
          <h2> @<%= profile_user.username %>'s peeps </h2>
        <% end %>
        <% @peeps_by_user.reverse.each do |peep| %>
          <article class="peep">
            <p class="peep-info"> <%= profile_user.name %> &nbsp | &nbsp <a href="/<%= profile_user.id %>">@<%= profile_user.username %></a> &nbsp | &nbsp <%= peep.date_and_time %> </p>
            <p class="peep-message"> <%= peep.content %> </p>        <!-- add class to make text bigger? -->
            <p class="view-comments-link"><a href="/peep/<%= peep.id %>"> view comments </a></p>
          </article>
        <% end %>
        </div>
    <% end %>

    <footer>Chitter © 2022</footer>
  </body>
</html>