<h2> Account: <%=@user.user_handle%> </h2> <br>

<form action='/user' method='post'>
  Write a peep:
  <input type='text' name='content' maxlength='280' required> <br>
  (Maximum length of 280 characters) <br>
  <input type='submit' value='Drop Science'> <br>
</form>

<ul>
  <% @peeps.each do |peep| %>
    <div class="posts">
      <li> <%= peep.content %> <br>
        Posted by: <%= peep.user.user_handle%> (<%= peep.user.user_name%>) <br>
        Posted on: <%= peep.created_at %> <br>
      </li>
    </div>
  <% end%>
</ul>
