<h1> What's on your mind <%=@user.user_handle%>? </h1>

<h5> WRITE A POST </h5>
<form action='/user' method='post'>
  <textarea class='write-post' name="content" rows="5" cols="30" maxlength='280' placeholder="Maximum length: 280 characters" required></textarea> <br>
  <input class='start-btn submit' id='post' type='submit' value='Drop Science'>
</form>

<ul>
  <% @peeps.each do |peep| %>
    <div class="cloud">
      <li class="content">
        <strong> <%= peep.content %> <br></strong>
        <small>
          <%= peep.user.user_handle%> <br>
          <%= peep.user.user_name%> <br>
          <%= peep.created_at %> <br>
        </small>
      </li>
    </div>
  <% end%>
</ul>
