<html>
<head>
<link rel="stylesheet" type="text/css" href="style_sheet.css">
</head>

<h1> Chitter </h1>
<h1> </h1>

  <p> Welcome <%= @user.name %> </p>
  <p> Chitter is a place where you can post peeps about your life! </p>
  <form action="/user/<%= @user.id %>" method="get">
    <input type="submit" value="Start Peeping!" />
  </form>

  <p> See what others are peeping: </p>

  <ul>
    <% @users.each do |user| %>
      <li class="user" id="user-<%= user.id %>">
        <p>
          <%= user.username %>
        </p>
      </li>
    <% end %>
  </ul>

<p> Recent peeps: </p>

  <ul>
    <% @peeps.reverse.each do |peep| %>
      <li class="peep" id="peep-<%= peep.id %>">
        <p> <%= peep.user_id %>   </p>
        <p> <%= peep.peep %> </p>
        <p> <%= peep.time %> </p>
    <% end %>
  </ul>

</html>
