<!DOCTYPE html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <title>Chitter</title>
</head>
  <body>
    <h1>Chitter</h1>
    <nav>
        <a href="/">Peep Central</a>
        <% if @peepers != nil %>
          <a href="/add">Do a Peep</a>
          <form action="/logout" method="post">
            <input class="button" type="submit" name="logout" value="Log Out">
          </form>
        <% else %>  
          <a href="/login">Log in</a>
          <a href="/signup">Sign up</a>
        <% end %> 
    </nav>

    <section>
      <ul>
        <% @peeps.each do |peep| %>
          <li>
            <%= peep.peep %>
            <%= peep.peeper_name %>
            @<%= peep.peeper %>
            <%= peep.date %>
          </li>
        <% end %>
      </ul>
    </section>
  </body>
</html>