<!DOCTYPE html>
<head>
  <title>Chitter</title>
</head>
<body>
  <h1>Peep Central</h1>
  <% if @peepers != nil %>
    <p> Peeper: <%= @peepers.peeper %></p>
      <form action="/create" method="post">
        <input class="button" type="submit" name="add" value="Do a Peep">
      </form>
      <form action="/logout" method="post">
        <input class="button" type="submit" name="logout" value="logout">
      </form>
  <% else%>  
    <form action="/MainLogin" method="post">
      <input class="button" type="submit" name="Login" value="Login">
    </form>
    <form action="/MainSignup" method="post">
          <input class="button" type="submit" name="Signup" value="Signup">
    </form>
  <% end%>
  <ul>
    <% @peeps.each do |peep| %>
      <li>
        <%= peep.peep %>
        <%= peep.peeper_name %>
        @<%= peep.peeper %>
        <%= peep.date %>
      </li>
    <% end %>
  </ul>
</body>
</html>