<!DOCTYPE hmtl>
<html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter Index Page</title>
  </head>
  <style>
    * {
      font-family: helvetica;
    }
    li {
      border: 1px solid black;
      background-color: LightGray;
      border-color: LightGray;
      text-align: center;

    }

    #byline {
      padding-right: 10px;
      font-size: 80%;
      float: right
    }

  </style>
  <body>
    <h2 style='text-align:center;background-color: LightGray;
    border-color: LightGray;'><%=@welcome_msg%></h2>
    <form action='/chitter/sign_up' method='get'>
      <button type='submit'>New User Sign Up</button>
    </form>
    <form action='/chitter/sign_in' method='get'>
      <button type='submit'>Existing User Sign In</button>
    </form>
    <%if @sign_out_enabled%>
    <form action='/chitter/sign_out' method='post'>
      <button type='submit'>Sign Out</button>
    </form>
    <%end%>
    <form action='/chitter/add_peep' method='post'>
      <label for='new_peep_text'>
        New peep:
        <input type='text' name='new_peep_text'>
      </label>
      <button type='submit'>Post</button>
    </form>
    <hr>
    <ul style="list-style-type:none">
      <%@peeps.each do |peep|%>
      <li id="<%=peep.id%>">
        <p>
          <%=peep.text%><br>
          </p>
          <i id='byline'>Peeped by <%=peep.author%> <%=peep.readable_time%></i>
      </li>
      <br>
      <%end%>
    </ul>
  </body>
</html>
