<br><center> <h1> <strong><font face="verdana" color="#5476C4">Chitter</font></strong> </h1></center>
<h2>
<ul>
<form action="/chitter" method="post">
  <textarea rows = "4" cols = "50" name = "message" type = "text" placeholder="Insert your peep here..."></textarea>
  <input type="submit" name="Submit" />
</form>
  <% @chitter.each do |chitter| %>
  <li class="chitter" id="chitter-<%= chitter.id %>">
    <a <%= chitter.message %> target="_blank">
    <%= chitter.message %><ul><%= chitter.date %></ul>
    </a>
    <form action="/chitter/<%= chitter.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" />
    </form>
    <form action="/chitter/<%= chitter.id %>/edit" method="get">
        <input type="submit" value="Edit" />
    </form>
  </li>
  <% end %>
</ul></h2>