<div class ='header'>
<h1>Chitter Chat</h1>
</div>
<div class ='send_tweet'>
<form action ='/tweets' method ='get'>
<input class = 'input_tweet' type = 'text' name ='tweet' placeholder= 'Enter tweet here...'>
<input class ='tweet_btn' type ='submit' value ='Tweet'/>
</form>
</div>

<div class ='main'>
<div class ='buttons'>
<h3>Welcome <%= @username.capitalize %></h3>

<form action ='/index' method ='post'>
<input type = 'submit' name ='view_mine' value='View my tweets'>
</form>

<form action ='/all' method ='post'>
<input type = 'submit' name ='view_all' value='View all tweets'>
</form>

<form action = '/sessions/destroy' method = 'post'>
<input type = 'submit' name ='logout' value ='Log out'>
</form>
</div>

<div class ='feed'>
<% if params[:view_all] %>
<% @chitter.each do |tweet| %>
<div class ='tweet'>
<span><p><%= tweet.user_id %></p> <br>
<%= tweet.tweet %></span> <span class ='time'><%= tweet.time %></span>
</div>
<% end %>
<% end %>
</div>

<div class ='feed'>
<% if params[:view_mine] %>
<% @chitter.each do |tweet| %>
<div class ='tweet'>
<span><p><%= @username %></p> <br>
<%= tweet.tweet %></span> <span class ='time'><%= tweet.time %></span>
</div>
<% end %>
<% end %>
</div>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.8mm;
  border: none;
}

h4 {
  font-weight: 500;
}

p {
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
}

.main {
  display: flex;
}
.buttons {
display: inline-block;
justify-content: left;

}
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

input {
  padding: 8px;
  margin: 5px;
  width: 150px;
  border-radius: 100px;
  border: none;
}

form {
  display: flex;
  border: none;
}

input:focus {
  outline: none;
}

.input_tweet {
  width: 500px;
  border-radius: 5px;
  border: 1px solid #FF6347;
  padding: 5px;
}

.send_tweet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 400;
  padding: 5px;
  margin: 8px;
}

.tweet {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 800px;
  font-size: 1rem;
  font-weight: 300;
  float: left;
}

.tweet_btn {
  border: 1px solid #FF6347;
  padding: 10px;
}