<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
  </head>
  <body>
    <h1><%= @user.fullname %></h1>
    <h2><em><%= @user.username %></em></h2>
    <a href="/<%= @user.username %>/edit_profile">Edit profile</a>
    <% @user.peeps.each do |peep| %>
    <hr>
      <div>
        <p><%= peep.time %></p>
        <%# implement here name of OP %>
        <p><%= peep.content %></p>
        <p><time datetime="<%= peep.time %>"></time></p>
      </div>
      <a href="/edit_peep/<%= peep.id %>">Edit peep</a> <a href="/delete_peep/<%= peep.id %>">Delete peep</a>
    <hr>
    <% end %>
    <div>
      <a href="/logout">Log out</a>
    </div>
    <div>
      <a href="/">Back to Home Page</a>
    </div>
  </body>
</html>