<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>

  <% if @user != nil %>
    <form action="/messages/user_<%=@user.username%>/new" method="post" >
      <input type="hidden" value="<%= @user.id %>" name="id"/>
      <input type="submit" value="post message"/>
    </form>

    <form action="/" method="get" >
      <input type="submit" value="log out"/>
    </form>
    <% end %>

  <ul>
    <% @messages.reverse.each do |message| %>
    <li class="messges">
      <%= message.text %>
       <p class="timestamp">posted
         by <%= User.find(id: message.userid).username %>
         at <%= message.post_time %> </p>
    </li>
    <% end %>
  </ul>

</body>

</html>
