<% if @user %>
  <h1>Welcome, <%= @user.name %></h1>
<% end %>

<% @messages.each do |message| %>
  <div class="message" id="message-<%= message.id %>">
    <%= message.title %>
    <br>
    <%= message.body %>
    <br>
    <%= message.created_at %>
  </div>
  <br>
<% end %>



