<% peeps.each do |peep| %>
  <li>
    <p class="peep-meta">
      <span class="name"><%= peep.user.name %></span>
      <span class="username"><%= peep.user.username %></span>
      <span class="time">on <%= pretty_time(peep.timestamp) %></span>
      <% if can_reply_to_peep(peep) %>
      <a href="/peeps/new?text=&#64;<%= peep.user.username %>" class="reply">Reply</a>
      <% end %>
    </p>
    <p class="peep-content"><%= peep.text %></p>
  </li>
<% end %>
