<h1>Chitter</h1>

<h2 class="edit-header">Edit and click save to change your details</h2>

<form action="/users/<%= @user.id %>" method="POST">
  <input class="update-details" type="hidden" name="_method" value="PATCH">
  <input class="update-details" required type="text" name="name" placeholder="Name" value="<%= @user.name %>" maxlength="50"><br>
  <input class="update-details" required type="text" name="username" placeholder="Name" value="<%= @user.username %>" maxlength="50"><br>
  <input class="update-details" required type="email" name="email" placeholder="Name" value="<%= @user.email %>" maxlength="50"><br>
  <input class="submit" type="submit" value="Save">
</form>

<form action="/users/<%= @user.id %>/show">
  <input class="submit" type="submit" value="Cancel">
</form>
