<h1>Sign up to Chitter today!</h1>

<form action="/users" method="post">
  Name: <input name="name" type="text" value="<%= @user.name %>">
  Username: <input name="username" type="text" value="<%= @user.username %>">
  Email: <input name="email" type="text" value="<%= @user.email %>">
  Password: <input name="password" type="password" value="<%= @user.password %>">
  Confirm Password: <input name="password_confirmation" type="password" value="<%= @user.password_confirmation %>">
  <input type="submit" value="Join Chitter">
</form>