<form action="/users" method="post">
  <p>Name: <input name="name" type="text" value="<%= @user.name %>"></p>
  <p>Username: <input name="username" type="text" value="<%= @user.username %>"></p>
  <p>Email: <input name="email" type="text" value="<%= @user.email %>"></p>
  <p>Password: <input name="password" type="password" value="<%= @user.password %>"></p>
  <p>Confirm Password: <input name="password_confirmation" type="password" value="<%= @user.password_confirmation %>"></p>
  <input type="submit" value="Join Chitter" class="button">
</form>