<h1>Welcome to Chitter!</h1>
<h2>Please sign-up to gain access to our amazing Peep functionality and join the millions already Peeping about their non-vacuous thoughts and feelings. #JointheHive</h2>
<div id='sign-up'>
  <form action='/users/new' method='post'>
    <div>
      <%= @username_error ? "This username has already been taken, please enter another one:" : "Please enter your username:" %></br>
      <input type='text' name='username' value='<%= @username || "username goes here" %>' required>
    </input>
    </div>
    <div>
      <%= @email_error ? "This email address is already taken, please enter another one:" : "Please enter your email address:" %></br>
      <input type='email' name='email' value='<%= @email || "user.email@domain.com" %>'  required>
      </input>
    </div>
    <div>
      Please enter your name:</br>
      <input type='text' name='name' value='your name' required>
      </input>
    </div>
    <div>
      <%= @password_error ? 'Your passwords did not match, please try again:' : 'Please enter your password:' %></br>
      <input type='password' name='password' value='password' required>
      <% if @length_error %>
        Passwords must be at least six characters long.
      <% end %>
      </input>
    </div>
    <div>
      Please confirm your password:</br>
      <input type='password' name='password_confirmation' value='password_confirmation' required>
      </input>
    </div>
    <input type='submit' name='sign-up' value='Sign up!'>
  </form>
</div>