<div>
  User Profile for:
  <%=@username%><br>
  Name: <%=@name %>
<ul>
  <% @peeps.each do |peep| %>
    <%=peep.text %><br>
    Posted by: <a href=/users/<%=@username %>><%= @username %></a>,
    <br>
    <%=@name%>
    at <%=peep.timestamp.hour%>:<%=peep.timestamp.min %> on <%=peep.timestamp.day%>/<%=peep.timestamp.month%>/<%=peep.timestamp.year%><br><br>
  <% end %>
  <ul>

</div>