<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= pfp_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  <% if @user.peeps.any? %>
    <h3>Peeps (<%= @user.peeps.count %>)</h3>
    <ol class="peeps">
      <%= render @peeps %>
    </ol>
    <%= will_paginate @peeps %>
  <% end %>
</div>
</div>