<style>
.chit {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 10px;
    width: 300px;
    height: 110px;
}
</style>

<h2> Recent Chits</h1>
<% @chits.each do |chit| %>
  <div id=<%=chit.id%> class='chit'>
    <%= chit.text %> <br>
    Posted by: <%= chit.user.user_name %>, <%= chit.user.real_name%><br>
    On: <%= chit.time %> <br>
    <br>
</div>
<br>
<%end%>
