<% if @user %>
  <h3> Welcome, <%= @user.user_name %> </h3>
  <form action="/sessions/destroy" method="post">
    <input class="btn btn-secondry" type="submit" value="Sign out" />
  </form>
<% end %>
<% @peeps.each do |peep| %>
  <% if peep.user %>
    <h4><%= peep.user.name %> | <%= peep.user.user_name %></h4>
  <% end %>
  <p>
  <em><%= format_peep_date(date: peep.date )%> </em>
  <br>
    <%= peep.content %>
  <hr>
  </p>
<% end %>
