<% if current_user %>

  <form action='/peeps/new' method="get">
    <button type="submit">You peep!</button>
  </form>

  <br>

  <h3> Chitter flow </h3>


  <ul id='peeps'>
    <% @peeps.each do |peep| %>
      <li>
        <%= User.get(peep.user_id).name %> |
        @<%= User.get(peep.user_id).username %> |
        <%= (peep.peep_time).strftime('%l:%m %p - %e %b %Y') %>
        <br>
        <%= peep.content %>
      </li>
      <br>
    <% end %>
  </ul>

  <!-- <form action=@own_path method="get">
    <button type="submit">Your peeps</button>
  </form> -->

  <!-- <h3> Your peeps </h3>

  <form action='/peeps/new' method="get">
    <button type="submit">New peep</button>
  </form>

  <ul id='peeps'>
    <% @peeps.each do |peep| %>
      <li>
        <%= current_user.name %> |
        @<%= current_user.username %> |
        <%= peep.peep_time %>
        <br>
        <%= peep.content %>
      </li>
      <br>
    <% end %>
  </ul> -->

<% elsif @author %>

  <h3> <%= @author.name %>'s peeps: </h3>

  <ul id='peeps'>
    <% @peeps.each do |peep| %>
      <li>
        <%= @author.name %> |
        @<%= @author.username %> |
        <%= (peep.peep_time).strftime('%l:%m %p - %e %b %Y') %>
        <br>
        <%= peep.content %>
      </li>
      <br>
    <% end %>
  </ul>

<% else %>

  <h3> No such chitter, bae! </h3>

  <form action='/sessions/new' method="get">
    <button type="submit">Sign in</button>
  </form>

<% end %>
