comments

<div><a href='/peeps/filter/<%=@peep.maker.username%>'><%=@peep.maker.username%></a> peeped:</div>
<div><%=@peep.text%></div>
<div>on: <%=@peep.time%></div>
<div>

<form action='/peeps/new_comment/<%=@peep.id%>' method='post'>
  <input type='text' name='words'>
  <input type='submit' value='comment'>
</form>
