<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-10">
        <br>
      <% if current_user %>
        <textarea name="peep" form="peepform" placeholder="Whats on your mind?" class="form-control" rows="3"></textarea>
        <form action='/peeps/new' method='post' id="peepform">
          <input type='submit' value='Peep'>
        </form>
      <% end %>
      </div>
    </div>
    <div class="col-sm-10" style="height:50px;"></div>
      <div class="col-sm-10" style="border: 1px grey solid; border-radius: 10px">
        <br>
      <% if @peeps && !@peeps.empty? %>
        <ul id='peeps'>
        <% @peeps.each do |peep| %>
          <div style="border: 1px grey solid; border-radius: 10px">(<%=peep.user.name%>) @<%=peep.user.username%>: <%=peep.text%>(<%=peep.created_at%>)</div>
          <ul>
          <% peep.comments.each do |comment| %>
            <div style="border: 1px grey solid; border-radius: 10px">(<%=comment.user.name%>) @<%=comment.user.username%>: <%=comment.text%>(<%=comment.created_at%>)</div>
          <% end %>
          </ul>
          <% if current_user %>
            <form action='/peeps/comment' method='post' class="form-inline">
              <input type='hidden' name='peep' value = '<%=peep.id%>' required>
              <div class="form-group" style='width: 90%;'>
              <input type='text' name="reply" placeholder="Comment" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-default">Reply</button>
            </form>
          <% end %>
          <br>
          <br>
        <% end %>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</div>
