<body style="background-color:#dfe3ee;">
<!--
<% if current_user %>
  <textarea name="peep" form="peepform" placeholder="Whats on your mind?" class="form-control" rows="3"></textarea>
  <form action='/peeps/new' method='post' id="peepform">
    <input type='submit' value='Peep'>
  </form>
<% end %>
<% if @peeps && !@peeps.empty? %>
  <% @peeps.each do |peep| %>
    (<%=peep.user.name%>) @<%=peep.user.username%>: <%=peep.text%> <p class='time_right'>(<%=peep.created_at.ctime%>)</p>
    <% peep.comments.each do |comment| %>
      (<%=comment.user.name%>) @<%=comment.user.username%>: <%=comment.text%> <p class='time_small'>(<%=comment.created_at.ctime%>)</p></li>
    <% end %>
    <% if current_user %>
      <form action='/peeps/comment' method='post' class="form-inline">
        <input type='hidden' name='peep' value = '<%=peep.id%>' required>
        <div class="form-group" style='width: 90%;'>
        <input type='text' name="reply" placeholder="Comment" class="form-control" required>
        <button type="submit" class="btn btn-default">Reply</button>
      </form>
    <% end %>
  <% end %>
<% end %> -->
<div id="content"></div>

<script type="text/babel">
var CommentBox = React.createClass({
render: function() {
    return (
      <div className="commentBox">
        Hello, world! I am a CommentBox.
      </div>
    );
  }
});
ReactDOM.render(
  <CommentBox />,
  document.getElementById('content')
);
</script>

</body>
