<h1>Home</h1>

<% if current_user %>
  <form action='/peeps/new' method='post'>
    <input type='text' name='peep' placeholder = 'Whats on your mind?' required>
    <input type='submit' value='Peep'>
  </form>
<% else %>
  <h3> You must be logged in to peep </h3>
<% end %>

<% if @peeps && !@peeps.empty? %>
  <ul id='peeps'>
    <% @peeps.each do |peep| %>
      <li>
        (<%=peep.user.name%>) @<%=peep.user.username%>: <%=peep.text%>(<%=peep.created_at%>)
        <br>
        <% peep.comments.each do |comment| %>
          (<%=comment.user.name%>) @<%=comment.user.username%>: <%=comment.text%>(<%=comment.created_at%>)
        <% end %>
        <% if current_user %>
          <form action='/peeps/comment' method='post'>
            <input type='hidden' name='peep' value = '<%=peep.id%>' required>
            <input type='text' name='reply' placeholder = 'Comment' required>
            <input type='submit' value='Reply'>
          </form>
        <% end %>
      </li>
    <% end %>

  </ul>
<% end %>
