<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>

    <% if peep.parent_peep == nil %>
      <li> <%="#{peep.user.name} (#{peep.user.username})"%>
        <br><%="#{peep.message}"%>
        <br><%="#{peep.created_at.strftime("%d/%m/%Y at %H:%M")}"%><a href="/peeps/new?peep_id=<%=peep.id%>">   reply</a>
        <ul class="replies">
          <%if @peeps.first(parent_peep: peep.id)%>
            <li><%reply = @peeps.first(parent_peep: peep.id)%><%="#{reply.user.name} (#{reply.user.username})"%>
              <br><%="#{reply.message}"%>
              <br><%="#{reply.created_at.strftime("%d/%m/%Y at %H:%M")}"%><a href="/peeps/new?id=<%=peep.id%>">  reply</a>
            </li>
          <%end%>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
