<form method='get' action='/sessions/new'>
  <input type='submit' value='Sign in'>
</form>
<form method='get' action='/users/new'>
  <input type='submit' value='Sign up'>
</form>

<h1>Peeps</h1>
<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li id="msgs">
      <%=peep.user.name%> (<%= peep.user.username %>) chitted on
       <%=peep.timestamp.strftime('%e-%b, %k:%M') %> <br>
      <%= peep.message %> <br>
      <a href="/reply?username=<%=peep.user.username%>">reply to peep</a>
    </li>
  <% end %>
</ul>