<%= erb :'partials/header' %>
<%= erb :'partials/navbar' %>

<body>
    <div class="container">
      <div class='peepslist'>
        <% @peeps.each do |peep| %>
            <div class="peep">
              <h3><%= peep.message %></h3>
              <% peep.tags.each do |tag| %>
                <div><pre><%= " ##{tag.tagname}" %></pre></div>
              <% end %>

              <span class "author">
                <%= "Posted by #{peep.user.username} at #{peep.created_at.strftime("%H:%M")}" %>
              </span>

            </div>
            <br>
            <br>
        <% end %>
      </div>


      <% if current_user %>
        <form action='/peeps/new' method='get'>
          <input type='submit' value='Add peep'/>
        </form>
        <form action='/sessions' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Log out'/>
        </form>
      <% else %>
        <a href='/sessions/new'>Log In</a>
        <br>
        Don't have an account?
        <a href='/sign_up'>Sign Up</a>
      <% end %>

      <form action='/filter_by_tag' method='get'>
        <input type='submit' value='Filter by tag'/>
      </form>

    </div>

  </body>
