<nav class="navbar navbar-inner">

</nav>

<div class="container-fluid">



  <form action='/peeps/new' method='get'>
    <% if current_user %>
      <p id="welcome">Welcome, <%= current_user.email %>!</p>
    
      <input type='submit' value='Add a peep!' class="btn btn-medium btn-primary" id="new-peep">
      </form>
    <% end %>

  <h3> Recent peeps </h3>

  <ul id='peeps'>
    <% @peeps.each do |peep| %>
      <li>
        <h6><%=peep.username%></h6>
        <p><%=peep.user.name%></p>
        <p>"<%=peep.content%></p>"
        <p class="posted">Posted: <%=peep.time%></p>
      </li>
    <% end %>
  </ul>


</div>