<!DOCTYPE html>
<html>
<body>

<h2> Peeps </h2>

<ul id='peeps'>
  <% if current_user %>
  <%= current_user.name %>
  <%= current_user.handle %><br />
  <% end %>
  <% @peeps.each do |peep| %>
      <%= peep.name %>
      <%= peep.handle   %></br>
      <%= peep.post  %></br>
      <%= peep.created_at %></br>
  <% end %>
</ul><br />

<form action='/peeps/new' >
  <input type='submit' value='Peep'>

</body>
</html>
