<h2>Peeps</h2>
<% if @user %>
  <form action="/peeps/new" method="post">
    <section class="input-group mb-3">
      <textarea class="form-control border-secondary" type="text" name="body" maxlength="240" placeholder="What's up?" aria-describedby="button-addon" required></textarea>
      <div class="input-group-append">
        <input class="btn btn-lg btn-outline-secondary" type="submit" id="button-addon" value="Peep">
      </div>
    </section>
  </form>
<% end %>

<div class="row" id="peeps">
  <% @peeps.each do |peep| %>
    <div class=”col”>
      <article class="peep card rounded-0 d-flex border-secondary border-2 m-1" id="peep-<%= peep.id %>">
        <div class="card-header border-0 bg-transparent d-flex mb-n4 justify-content-between">
          <div class="d-flex">
            <h5 class="card-title mr-2"> <%= (User.find_by id: peep.user_id).name %> </h5>
            <p class="text-muted mr-2"> @<%= (User.find_by id: peep.user_id).username %> </p>
            <p class="card-text"><small class="text-muted"><%= peep.created_at.strftime("%e %b %Y %k:%M") %></small></p>
          </div>
          <% if @user && @user.id == peep.user_id %>
            <div class="btn-group" role="group" aria-label="tweet options" >
              <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" aria-label="expand tweet options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <form action="/peeps/<%= peep.id %>/edit" method="get">
                  <input class="dropdown-item" type="submit" value="Edit" >
                </form>
                <form action="/peeps/<%= peep.id %>" method="post">
                  <input type='hidden' name='_method' value='DELETE'/>
                  <input class="dropdown-item" type="submit" value="Delete">
                </form>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-text mb-1"><%= peep.body %></p>
        </div>  
      </article> 
    </div> 
  <% end %>
</div>


