<h1>Welcome to Chitter!</h1>

<% unless @name %>
  <form action="/users/new" method="get"><input type="submit" value="Sign Up"></form>
  <form action="sessions/new" method="get"><input type="submit" value="Login"></form>
<% end %>

<% if @name %>Welcome, <%= @name %>. You are logged in.
  <br>
  <form action="/peeps" method="post">
    <label for="peep">Please enter new peep</label>
    <input type="text" value="New Peep" name="peep">
    <input type="submit" value="Submit">
  </form>
  <br>
<% end %>

<ul id="peeps">
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.message %>
      <br> <%= peep.created_at %>
      <br> by <%= User.find_by(id: peep.user_id).name %>
    </li>
  <% end %>
</ul>