
<h1>Peeps in Reverse-Chronological Order</h1>

<p>peeing____________</p>
<%= session[:user_handle] %>
<p>____________peeing</p>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Handle</th>
    <th>Message</th>
    <th>Time</th>
    <th></th>
  </tr>

  <% @peeps.reverse.each do |peep| %>
    <tr>
      <td><%= peep.id %></td>
      <td><%= peep.name %></td>
      <td><%= peep.handle %></td>
      <td><%= peep.msg %></td>
      <td><%= peep.created_at.strftime('%R %v') %></td>
      <td><%= link_to 'Show', peep_path(peep) %></td>
    </tr>
  <% end %>
</table>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to 'New peep', new_peep_path %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or
  <%= link_to 'Log In', login_path %>
<% end %>
<p id='notice'><%= notice %></p>
