<% @peeps.each do |peep| %>
  <div class="panel panel-default">
    <div class="panel-body">
        <img class="user-avatar img-rounded" src="<%= avatar(peep.user_id) %>" alt="avatar">
        <span class="username"><strong><%= full_name(peep.user_id) %></strong> @<%= username(peep.user_id) %></span>
        <span class="time"><%= peep_distance_of_time(peep.created_at) %></span>
        <p class="peep-text"><%= peep.text %></p>
        <div class="panel-footer actions">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>LIKE
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>REPLY
        </div>     
    </div>
  </div>
<% end %>
