<form method='get' action='/sessions/new'>
  <input type='hidden' value='Sign in'>
</form>
<form method='get' action='/users/new'>
  <input type='hidden' value='Sign up'>
</form>

<div class="wrapper">
  <div id="peep-list">
  <font class="emphasise-green">Latest Peeps...</font>
  <form method='get' action='/peeps/new'>
    <input type='submit' value='New Peep' class="button">
  </form>

    <ul id="peeps">
      <% @peeps.each do |peep| %>
      <li id="msgs">
        <%=peep.user.name%> (<%= peep.user.username %>) chitted on
        <%=peep.timestamp.strftime('%e-%b, %k:%M') %> <br>
        <%= peep.message %> <br>
        <a href="/reply?username=<%=peep.user.username%>">reply to peep</a>
      </li>
      <% end %>
    </ul>
  </div>
</div>