<h2>Peeps</h2>
<% if @user %>
  <form action="/peeps/new" method="post">
    <section class="input-group mb-3">
      <textarea class="form-control border-secondary" type="text" name="body" maxlength="240" placeholder="What's up?" aria-describedby="button-addon" required></textarea>
      <div class="input-group-append">
        <input class="btn btn-lg btn-outline-secondary" type="submit" id="button-addon" value="Peep">
      </div>
    </section>
  </form>
<% end %>

<section class="card-columns" id="peeps">
  <% @peeps.each do |peep| %>
    <div class=”col-4”>
      <article class="peep card d-flex border-secondary mb-3" id="peep-<%= peep.id %>">
        <div class="card-header border-0 bg-transparent d-flex mb-n4">
          <h5 class="card-title mr-2"> <%= (User.find_by id: peep.user_id).name %> </h5>
          <p class="text-muted mr-2"> @<%= (User.find_by id: peep.user_id).username %> </p>
          <p class="card-text"><small class="text-muted"><%= peep.time_posted.strftime("%d/%m/%Y %k:%M") %></small></p>
        </div>
        <div class="card-body">
          <p class="card-text mb-1"><%= peep.body %></p>
        </div>
        <% if @user && @user.id == peep.user_id %>
          <div class="card-footer border-0 bg-transparent d-flex justify-content-end">
            <form action="/peeps/<%= peep.id %>/edit" method="get">
              <input class="btn btn-sm btn-link-muted disabled" type="submit" value="Edit">
            </form>
            <form action="/peeps/<%= peep.id %>" method="post">
              <input type='hidden' name='_method' value='DELETE'/>
              <input class="btn btn-sm btn-link-muted disabled" type="submit" value="Delete">
            </form>
          </div>
        <% end %>
    </article> 
    </div>
   
  <% end %>
</section>


