<h2> Welcome to Chitter! We hope you have a great time! </h2>
<% @peeps.each do |peep| %>
  <div class="p-4">
    <%= link_to peep.title, peep %><br>
    <%= peep.body[0...50] %> ...
    <div class="font-italic">
      Created by <%= peep.user.name%> (@<%= peep.user.username %>) <%= peep.created_at.strftime("on %d/%m/%Y at %I:%M%p") %>
    </div>
  </div>
<% end %>
