
<form id="new_peep" action="/peeps" method="post">
  <input id='new_peep_bod' type="text" name="peep" value='<%= "@#{@replying_to.username}:" if @replying_to %>' autofocus required>
  <input id='peep_button' type="submit" value='peep!'>
</form>
<div id='peeps'>
<% Peep.all.sort_by {|peep| peep.time }.reverse.each do |peep| %>
<div class='peep'>
<div class='peep_body'><%= peep.body %></div>
<div id='peep_user'><%=  peep.user.username %></div>
<div id='peep_time'><%= peep.time.strftime("on %m/%d/%Y, at %I:%M%p") %>
<form id='peep_reply' action="/peeps/reply" method="post">
  <input type="hidden" name="replying_to" value="<%= peep.user.id %>">
  <input id='reply_button' type="submit"value="reply"></div>
</form>
</div>
<% end %>
</div>
