

<h1>The posting board</h1>

<% if @user %>
  <form action="/peeps" method="POST">
    <label for="comment">
      <input type="text" name="comment"/>
    </label>
      <input type="submit" value="Comment"/>
  </form>
<% end %>

<ul id='peeps' class="feed">
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.author %>: <br> <%= peep.comment %>

      <div class="comment_stamp">
        <% if @user %>
        <form action="/reply" method="POST">
          <label for="peep_id">
          <input type="hidden" name="peep_id" value= '<%= peep.id %>'/>
          </label>
          <label for="Reply">Posted at <%= peep.created_at %></label>
          <input type="submit" value="Reply">
          <input type="text" name="content"/>
        </form>
        <% end %>
      </div>

      <% if peep.replys %>
        <% peep.replys.each do |reply| %>
          <li>
          <%= reply.owner %>: <%= reply.content %>
        </li>
          <% end %>
      <% end %>


    </li>
    <% end %>
</ul>
