<center>
<div id='peeps'>
  <% @peeps.each do |peep| %>
    <p id='peepcontent'><%= peep.content %></p>
    <p id='peepbottom'><a href='/users/<%= User.get(peep.user_id).username %>'>
      <%= User.get(peep.user_id).username %></a> purred @
    <%= peep.time.strftime('%b %e, %l:%M %p') %></p>

    <% if current_user && current_user.id == peep.user_id %>
      <form method='post' action='/peeps/remove'>
        <input type='hidden' name='id' value='<%= peep.id %>'>
        <button class='rmpeep'>Remove purr</button>
      </form>
    <% end %>

    <% unless peep.comments.empty? %>
      <% peep.comments.each do |comment| %>
        <p id='commentcontent'><%= comment.content %></p>
        <p id='commentbottom'><a href='/users/<%= User.get(comment.user_id).username %>'>
          <%= User.get(comment.user_id).username %></a> commented @
        <%= comment.time.strftime('%b %e, %l:%M %p') %></p>

        <% if current_user && current_user.id == comment.user_id %>
          <form method='post' action='/comments/remove'>
            <input type='hidden' name='id' value='<%= comment.id %>'>
            <button id='rmcomment'>Remove comment</button>
          </form>
        <% end %>

      <% end %>
    <% end %>

    <% if current_user %>
      <form action='/comments' method='post'>
        <input type='hidden' name='id' value='<%= peep.id %>'>
        <input id='comment' type='text' name='content' placeholder='Write a comment' required maxlength="140">
        <button id='comment'>Comment</button>
      </form>
    <% end %>

  <% end %>
</div>

<% if current_user %>
  <form action='/peeps' method='post'>
    <textarea placeholder="What's crackin'?" id='peep' rows="5" cols="60" name='content' required maxlength="140"></textarea>
    <div style="vertical-align: middle">
      <button id='peep'>Purr!</button>
    </div>
  </form>
<% end %>
</center>
