<head>
  <link rel="stylesheet" type="text/css" href="/style.css">



</head>

<body>

  <div id="headline">
    <% if flash[:notice] %>
      <h1><%= flash[:notice] %></h1>
    <% else %>
      <h1><%=@welcome%><%=@current_user%>. Let's Peep together!</h1>
    <% end %>
  </div>


<% if @no_peeping == nil %>

  <h2>What do you want to Peep about today?</h2>
  <h3>Tell me everything. Now, pigdog!</h3>

  <div id='peeping-form-container'>

    <form action="/peep/new" method="post" id='peeping-form'>

    <input type="text" name="peep_body" placeholder = "Today I ate a breakfast and did a toilet" style="width:225px">
    <input type="submit" value="Peep">

    </form>

  </div>

<% else %>

  <h2>If you were signed in you could peep here... would you... <i>like</i> to sign up?</h2>

  <form method='get' action='/signup_to_peep' id='centerised-buttons'>
    <input type='submit' value='Sign up' id='bigger-buttons' >
  </form>

  <h2>Or maybe you have an account and therefore you would like to sign in to that account?</h2>
  <form method='get' action='/sessions/new' id='centerised-buttons'>
    <input type='submit' value='Sign in' id='bigger-buttons' >
  </form>

<% end %>


<h2>Here are all the Peeps:</h2>

  <div id='peeps-list'>
  <ul>
    <% @peeps.each do |peep| %>
      <li id='individual-peep'>
        <%= peep.body %>

        <div id='peep-data'>
        <%= User.first(:id => peep.user_id).real_name %> - @<%= User.first(:id => peep.user_id).username %> (<%= peep.time_stamp %>
        </div>



      </li>
    <% end %>
  </ul>
  </div>

  <% if @no_peeping == nil %>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
  <% end %>

</body>
