<form action='/peeps/new' method='GET'>
  <input class="btn btn-primary" type="submit" value="Create message">
</form>

<br>

<ul id='peeps' class="list-unstyled">

  <% @peeps.reverse.each do |peep|

arr_date = "#{peep.created_on}".split("-").reverse
  day = arr_date[0]
  month = Date::MONTHNAMES[arr_date[1].to_i]
  year = arr_date[2]
%>

  <% time = ("#{peep.created_at}".split("T")[1]).to_s[0...-9] %>

  <li class="text-justify">
<div class="h8">
    <%= day  %>
    <%= month %>
    <%= year  %>

    at
    <%= time %>
</div>
    <br>
    <blockquote class="blockquote bg-faded text-info ">
      <%= peep.message %>

      <div class="blockquote-footer"> Jane
    </div>
    </blockquote>
    <br>
    <br>

  </li>
  <% end %>
</ul>
