<div id='peepscontent'>

<div id='newpeep'>
  <% if current_user %>
    <p>Text in at 01233 800814!</p>
    <form action='/postpeep' method='post'>
      <textarea placeholder='Write a new peep' type='text' name='new_peep' required></textarea><br>
      <input class='signbutton' type='submit' value='Submit'>
    </form>
  <% end %>
</div>

<div class='peeplist'>
<ul id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <% if peep.id.odd? %>
      <li class='peep' id='oddpeep'>
    <% else %>
      <li class='peep' id='evenpeep'>
    <% end %>

        <p id='peepheader'>
          <strong id='peeptitle'><%= peep.user.name %> (<%= peep.user.username %>)
          </strong>
          <span id='time'>@ <%= peep.time_string %></span>
          <% if peep.user == @user %>
          <img id='img' src="<%= url('/images/trash.png') %>"/>
          <% end %>

        <p id='peepbody'>
          "<%= peep.text %>"
        </p>

    </li>
  <% end %>
</ul>
</div>



</div>
