
<%= partial :'partials/create_peep' %>

<label for="display all peeps">
  <main id="peeps">
    <% @peeps.reverse.each do |peep| %>
    <article>
    <p>
      <span class="textleft"><%="#{peep.user.name} "%></span>
      <span class="username"><%= peep.user.username %></span>
      <br>
      <span class="message"><%= peep.message %></span>
      <br>
      <span class="peeptime"><%= peep.created_at.strftime("%I:%M%p %d %b %Y") %>
      </span class>
    </p>
    </article>
    <% end %>
  </main>
</label>
