
<div>
  <%= link_to "Create new peep", new_peep_path %>
</div>

<div>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
</div>

<% @peeps.each do |peep| %>
<div class = "peep" style = "margin-bottom: 2em">
  <div>
    <%= link_to peep.title, peep %>
  </div>
  <div>
    Created <%= peep.created_at.strftime("at %I:%M%p on %d/%m/%Y") %>
  </div>
</div>
<% end %>
