<h1> Peeps </h1>

<ul id="peeps">
  <% @peeps.reverse.each do |peep| %>
    <li>
      <p>Posted: <%= peep.time.strftime("%b %e, %l:%m %p") %> By: <%= peep.user.name %> #<%= peep.username %></p>
      <p>Content: <%= peep.content %></p>
      <% peep.replies.each do |reply| %>
      <p>Replies: <%= reply.reply %></p>
      <% end %>
      <form action="peeps/<%= peep.id %>/replies">
        <input type="submit" value="Reply">
      </form>
    </li>
  <% end %>
</ul>

<% if current_user == nil %>
  <form action="/sessions/new">
    <input type="submit" value="Sign in">
  </form>
<% end %>

<% if current_user == nil %>
  <form action='/users/new'>
    <input type="submit" value="Sign up">
  </form>
<% end %>

<form action='/peeps/new'>
  <input type="submit" value="New peep">
</form>
