<h3>Latest peeps</h3>

<% @peeps.reverse_each do |peep| %>
  <article class="peep">
    <div class="peeplogo">
      <%= peep.user.username[0] %>
    </div>
    <div class="peepuser">
      @<%= peep.user.username %>
    </div>
    <div class="peeptime">
      <%= peep.datetime.strftime("%I:%M%p %a %b %e") %>
    </div>
    <div class="message">
      <%= peep.message %>
    </div>

    <% unless peep.replys.empty? %>
      <% peep.replys.each do |reply| %>
        <article class="peep_reply">
          <div class="peeplogo">
            <%= reply.user.username[0] %>
          </div>
          <div class="peepuser">
            @<%= reply.user.username %>
          </div>
          <div class="peeptime">
            <%= reply.datetime.strftime("%I:%M%p %a %b %e") %>
          </div>
          <div class="message">
            <%= reply.message %>
          </div>
        </article>
      <% end %>
    <% end %>

    <% if current_user %>
      <form action="/peeps/reply" method="post">
        <input type="hidden" name="peep_id" value="<%=peep.id%>">
        <div>
          <button type="submit">Reply</button>
        </div>
      </form>
    <% end %>
  </article>
<% end %>
