<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>


<h1><%=@welcome%> <%=@current_user%>, let's peep together!</h1>

<h1>
  Here are all the peeps. What do you want to peep about today?
</h1>

  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form>


  <form action="/peep/new" method="post" >

    <h2>Tell me everything. Now, pigdog!</h2>
      <input type="text" name="peep_body" placeholder = "Today I ate a breakfast and did a toilet" style="width:225px">

    <input type="submit" value="Peep">

  </form>


  <ol id='peeps_list'>
    <% @peeps.each do |peep| %>
      <li>
        Peep: <%= peep.body %> <%= peep.time_stamp %>
      </li>
    <% end %>
  </ol>
