<h1>Peeps</h1>
<table id="peeps">
  <% @peeps.reverse.each do |peep| %>
    <tr>
      <td><%= peep.content %></td>
      <td><%= peep.user.name %></td>
      <td><%= peep.created_at.strftime("%H:%M %b %d %Y") %></td>
      <td>
        <% peep.replies.each do |reply| %>
          <%= reply.user.name %>: <%= reply.body %><br>
        <% end %>
      </td>
      <td><a href="/peeps/<%= peep.id %>/reply">Reply</a></td>
    </tr>
  <% end %>
</table>

<a href="/users/<%= @peeps.first.user.id if @peeps.first %>/peeps/new">Create new peep</a>
