
<%= partial :create_peep %>

<label for="display all peeps">
  <ul id="peeps">
    <% @peeps.reverse.each do |peep| %>
    <li class="eachpeep">
      <span class="author"><%="#{peep.user.name} "%></span>
      <span class="username"><%= peep.user.username %></span>
      <br>
      <span class="message"><%= peep.message %></span>
      <br>
      <span class="peeptime"><%= peep.created_at.strftime("%I:%M%p %d %b %Y") %>
      </span class>
    </li>
    <% end %>
  </ul>
</label>
