<div class="headings">
  <h1> Peeps </h1>
</div>

<div id='peeps'>
  
  <% @peep.each do |peep| %>
    <li>
      <div class="peep_header">
        <p>  Name: <%= peep.user.name %>
         Username: @<%= peep.user.username %>
         Time: <%= peep.display_time_format %> </p>
      </div>
        <p>  Content: <%= peep.content %> </p>

        <% if current_user %>
          <form action="/response" method="post">
            <input type="hidden" name="current_peep" value="<%= peep.id %>">
            <input type="text" name="content">
            <input type="submit" value="Post Reply">
          </form>
        <% end %>

        <% peep.responses.each do |response| %>
          <div class="peep_header">
            <p>  Reply by <%= response.user.name %> (@<%= response.user.username %>) Time: <%= response.display_time_format %></p>
          </div>
          <p>   <%= response.content %> </p>
         <% end %>
    </li>
  <% end %>

</div>
