<ul id="peeps">
  <% @peeps.reverse.each do |peep|%>
  <!-- <li> -->
    <h4>Peep!</h4>
    <h4><%= peep.title %></h4>
     <%= peep.body %>
    <h4>Written by:</h4> @<%= peep.username %>
      <%= peep.name %>
    <h4>Created:</h4> <%= peep.created_at %><br>
    ---------------------------------------------
  <!-- </li> -->
  <% end %>
</ul>

<form action="/peeps/new" method="get">
<button type="submit" value="Submit" style="height:50px; width:500px">Peep again!</button>
</form>
