<h1>New Peep</h1>

<%= form_with scope: :peep, url: peeps_path, local: true do |form| %>
  <p>
    <%= form.label :msg %><br>
    <%= form.text_field :msg %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', peeps_path %>
