<h2> Submit a new peep! </h2>

<%= form_for :peep, url: peeps_path do |f| %>
<div>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</div>
<div div class="mt-3">
  <%= f.submit %>
</div>
<% end %>
