Submit a new peep!

<%= form_for :peep, url: peeps_path do |f| %>
<div>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
