<article class="peep">
  <div class="peeplogo">
    <%= @peep.user.username[0] %>
  </div>
  <div class="peepuser">
    @<%= @peep.user.username %>
  </div>
  <div class="peeptime">
    <%= @peep.datetime.strftime("%I:%M%p %a %b %e") %>
  </div>
  <div class="message">
    <%= @peep.message %>
  </div>

  <% unless @peep.replys.empty? %>
    <% @peep.replys.each do |reply| %>
      <article class="peep_reply">
        <div class="peeplogo">
          <%= reply.user.username[0] %>
        </div>
        <div class="peepuser">
          @<%= reply.user.username %>
        </div>
        <div class="peeptime">
          <%= reply.datetime.strftime("%I:%M%p %a %b %e") %>
        </div>
        <div class="message">
          <%= reply.message %>
        </div>
      </article>
    <% end %>
  <% end %>
</article>

<h3>Post your reply</h3>

<form class="signform" action="/peeps/newreply" method="post">
  <div>
    <label for="message">Message:</label>
    <textarea name="message" maxlength="150"></textarea>
  </div>
  <div>
    <button type="submit">Post</button>
  </div>
</form>
