<div class = "container">
<ul id='Peep' style="list-style: none;">
  <li>
    <div class="well peep">
    <p><%= User.get(@peep.user_id).full_name %> @<%= User.get(@peep.user_id).username %> - <%= @peep.created_at.strftime("%c") %></p>
    <div class="well peep-content"><p><%= @peep.content %></div>
      <div class="row">
        <div class="col-xs-8">
          Tags: <%= @peep.tags.map(&:name).map{ |tag| "<a href=\'/tags/#{tag}\'>#{tag}</a>" }.join(", ") %>
        </div>
        <div class="col-xs-2">
        <% if current_user and @peep.user_id == current_user.id %>
          <form stlye="float: right;" method='post' action='/peeps/delete'>
             <input type='hidden' name='peep_id' value='<%= @peep.id %>'>
             <input type="submit" value="Delete" class="btn-danger">
          </form>
        <% end %>
        </div>
          <div class="col-xs-2">
          <form stlye="float: right;" method='get' action='/peeps/reply'>
             <input type='hidden' name='peep_id' value='<%= @peep.id %>'>
             <input type="submit" value="Reply" class="btn-success">
          </form>
        </div>
      </div>
    </div>
  </li>

<% @replys.each do |reply| %>
<li>
  <div class="well">
    <p><%= User.get(reply.user_id).full_name %> @<%= User.get(reply.user_id).username %> replied on <%= reply.created_at.strftime("%c") %></p>
    <div class="well"><p>hi<%= reply.content %></div>
  </div>
</li>
<% end %>

</ul>
</div>
