<div class="row">
  <div class="col-sm-6">
<h3> Peep</h3>
<div class="panel-item">
 <img src="<%= User.get(@peep.user_id).avatar %>" class="timeline-img" />
<b><a href="/users/<%= @peep.user_id %>"><%= User.get(@peep.user_id).handle %></a></b> on <%= @peep.date.strftime('%A, %d %b %Y') %> @ <%= @peep.date.strftime('%l:%M %p')%>
</br></br><h6 class="message"><%= @peep.message %></h6>
<% unless @peep.media == "" %>
<img class="peep-img" src="<%= @peep.media %>" /></br>
<% end %>
 Tags:
 <% if @peep.tags.length == 0 %>
   No tags
 <% end %>
 &nbsp;|
 <% @peep.tags.each do |tag| %>
   <a href="/tags/<%= tag.tag%>"><%= tag.tag%></a>&nbsp;|&nbsp;
 <% end %>
 <% if current_user %>
 </br>
 </br>
   <a class="btn btn-success" href="/peeps/peep/<%= @peep.id %>">&nbsp;Reply</a>
 <% if @peep.user_id == current_user.id %>
 <form class="form-inline my-2 my-lg-0" method='post' action='/peeps/destroy'>
   <input type='hidden' name='_method' value='delete'>
   <input type='hidden' name='id' value='<%= @peep.id %>'>
   </br>
   </br>
   <input class="btn btn-danger" type="submit" value="Delete">
 </form>
 <% end %>
<% end %>
</div>
</div>
<div class="col-sm-6">
<h3>Replies</h3>
<% @replies.each do |reply| %>
  <div class="panel-item-reply">
    <b><a href="/users/<%= reply.user_id %>"><%= User.get(reply.user_id).handle %></a></b> on <%= reply.date.strftime('%A, %d %b %Y') %> @ <%= reply.date.strftime('%l:%M %p')%>
  </br></br><h6 class="message"><%= reply.message %></h6>
  </div>
</br>
<% end %>
<div>
<form  action="/peeps/peep/reply/<%= @peep.id %>" method="POST">
<div class="form-group">
    <label class="control-label">Message</label>
    <input type="text" class="form-control" name="message" value=''></input>
    </br>
    <input type="submit" class="btn btn-success" class="button" value="Send"/>
</div>
</form>
</div>
</div>
</div>
