<% unless current_user %>

  <form method='get' action='/users/new'>
    <input type='submit' value='Sign up'>
  </form>

  <form method='get' action='/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>

<% end %>

<h2> Peeps </h2>

<ul id="peeps">

  <% @peeps.each do |peep| %>
    <article class='peep'>
      <%= peep.user.name %> <%= peep.user.username %> <br>
      <% if peep.source %>
        reply to <%= peep.source.user.username %>:
      <% end %>
      <%= peep.content %><br>
      <%= peep.created_at.strftime('%c') %>
      <% if current_user %>
        <form action='peeps/<%= peep.id %>' method='post', id=<%= peep.id %> >
          <label for='reply'>
            Reply Here: <input name='reply' type='text' placeholder='reply here...'required>
          </label>
          <input type='submit' value='Submit reply'>
        </form>
      <% end %>
    </article>
  <% end %>

</ul>
