<div class="details">
  <h3>Peeps: <%= @peeps.count %> </h3>
  <ul>
    <% @peeps.each do |peep| %>
      <div class="peep">
        <li>
          <p><%= peep.user.user_name %>: "<%= peep.peep %>" | created <%= ((Time.now.to_i - peep.created_at.to_time.to_i)/60).floor %> minutes ago | <a href="/peeps/<%= peep.id %>">Add comment</a></p>
        </li>
      </div>
      <% peep.comments.reverse.each do |comment| %>
        <div class="comment">
          <ul>
            <li><p><%= comment.user.user_name %> | <%= comment.comment %></p></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
