<div class="p-4">
  <p class="font-weight-bold"><%= @peep.title %></p>
  <%= @peep.body %><br>
    <div class="font-italic">Created <%= @peep.created_at.strftime("on %d/%m/%Y at %I:%M%p") %>
    </div>
</div>

<div class="p-4 ml-3 font-italic">
  <% @peep.comments.each do |comment| %>
  <%= comment.body %> (by <%= comment.user.username %>)<br>
  <% end %>
</div>

<div class="p-4"> Join the conversation:
  <%= render "comments/form" %>
</div>
