<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @peep.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @peep.user_id %>
</p>

<%= link_to 'Edit', edit_peep_path(@peep) %> |
<%= link_to 'Back', peeps_path %>
