<div class="body-elements">

  <% if @user %>
    <% if @user.id %>
      <article class="status">
        <div class="welcome">
        <p>Welcome, <%= @user.name %></p>
        </div>
      </article>
    <% end %>
  <% end %>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-1 sidenav">
      </div>

      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <% if @user %>
            <% if @user.id %>
              <form action="/peeps" method="post">
                <div class="input-group">
                <textarea class="form-control" rows="3" name='message' maxlength="160" placeholder="What's happening?" required></textarea>
                <span class="input-group-addon"><button type='submit' formaction="/peeps" formmethod="post" class="btn btn-primary" name="post">Post</button></span>
                </div>
              </form>
              </div>
            <% end %>
            <% else %>
              <div class="panel-heading">Sign in to post a peep</div>
          <% end %>
            <div class="panel-body">
              <% @peeps.reverse.each do |peep| %>
              <%= peep.message %></br>
              posted by @<%= User.get(peep.user_id).username %> at
              <%= peep.created_at.strftime("%H:%M") %> <%= peep.created_at.strftime("%g %h") %>
              <hr>
              <% end %>
            </div>
            </div>
      </div>

      <div class="col-sm-1 sidenav">
      </div>
    </div>
  </div>
</div>
