<h1> Welcome, <%= @user.user_name %>!</h1>

<h2> Peeps </h2>

<form action='/peep/new' method='POST'>
  <label for='new_peep_box'>
    <input type='text' name='new_peep_box' placeholder='Enter new peep:' />
  </label>
  <input type='submit' value='Create Peep'>
</form>

<div id='peeps'>
  <% @peeps.reverse.each do |peep| %>
    <div>
      <%= @user.user_name %>: <%= peep.message %>
      <br>
      <% unless peep.datetime.nil? %>
        <%= peep.datetime.strftime(" %I:%M %p ") %>
        <%= peep.datetime.strftime(" %d-%b-%Y ") %>
      <% end %>
    </div>
    <br>
  <% end %>
</div>

<form action='/user' method='get'>
  <input type='submit' value="User">
</form>
