<% if current_user %>
<div class='ProfileCard'>
  <div class='ProfileCard-userfields'>
    <div class='ProfileCard-name'>
      <p>Welcome <%= current_user.name %><span class='ProfileCard-username'>@<%= current_user.username %></span></p>

    </div>
  </div>
  <div class="logout-button">
    <form action='/sessions' method='POST'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Log out'>
    </form>
  </div>
</div>
<div class='peep-add'>
  <div class='peep-box'>
    <form class='peep-form' action='/peep/new' method='POST'>
      <input class='peep-content' type="textarea" name='message' placeholder="what's going on?" maxlength='140'>
      <input class='peep-button' type='submit' value='Peep'>
    </form>
  </div>
</div>
<% end %>

<div class='peep-stream'>
  <ul class='stream-items' id='peeps'>
  <% @peeps.each do |peep| %>
    <li class='stream-item'>
      <p class='peep-name'><%= peep.user.name %></p>
      <p class='peep-username'><%= peep.user.username %></p>
      <p class='peep-message'><%= peep.message %></p>
      <p class="peep-time"><%= peep.timestamp %></p>
    </li>
    <% end %>
  </ul>
</div>
