<%= styled_flash %>

<% if !@user.nil? %>
  Welcome <%= @user.username %>
  <form action="/blahs/new">
    <button type="submit">New blah</button>
  </form>
<% else %>
  <form action="/users/new">
    <button type="submit">Sign up</button>
  </form>

  <form action="/sessions/new">
    <button type="submit">Log in</button>
  </form>
<% end %>

  <% if @blahs.empty? %>
    "No one has blah'd yet :("
  <% else %>

    <% @blahs.each do |blah| %>
      <li>
        <%= blah.id %>
        <%= blah.username %>
        <%= blah.blah %>
        <%= blah.date %>
      </li>
    <% end %>
  <% end %>
