<h1>Hello, Chitter!</h1>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or
  <%= link_to 'Log In', login_path %>
<% end %>
<p id='notice'><%= notice %></p>

<h2>Chitter#index</h2>
<p>Find me in app/views/chitter/index.html.erb</p>

<%= link_to 'Peeps Feed', controller: 'peeps' %>
