<div class='chitter-content'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-2'>
      <header>
        <div class='container'>
          <div class='navbar-header'>
            <div class='container'>
              <% if @user %>
                <a class='navbar-brand' href='/home'>Chitter</a>
              <% else %>
                <a class='navbar-brand' href='/'>Chitter</a>
              <% end %>
              
            </div>
          </div>
        </div>
        <% if @user %>
        <div class='sidebar'>
          <div class='card nav shadow rounded'>
            <div class='container'>
              <strong><%= @user.name %></strong>
              <p>@<%= @user.handle %></p>
            </div>
            <div class ='card-footer logout'>
              <form action='/sessions' method='POST'>
                <input type="hidden" name="_method" value="DELETE">
                <button class='btn btn-link logout-btn' type='submit'>Log out</button>
              </form>
            </div>
          </div>
        </div>
        <% end %>
      </header>
    </div>
    <div class='col-5'>
      <body>
        <div class='continer'>
        <div class='card'>
          <div class='card-body'>
            <h5>
              <strong>
                <%= @page.to_s.split("/")[0].capitalize %>
              </strong>
            </h5>
          </div>
        </div>
        <%= erb :'forms/peep_form' if @user %>
        <%= erb :'home/peeps' %>
      </body>
    </div>
    <div class='col-4'></div>
  </div>
</div>
