<link rel="stylesheet" type="text/css" href="/css/style.css">

<h1> Chitter </h1>

<% if current_user %>
  <h1>Welcome to Chitter <%= current_user.email %></h1>
<% end %>

<form action="/links/new">
  <input type="submit" value="Post a New Peep on Chitter">
</form>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Peep: <a href="<%= link.url %>"><%= link.title %></a>
      <!-- URL:   <%= link.url %> -->
       <!-- Tags: <% link.tags.each do |tag| %>
        <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
      <% end %> -->
    </li>
  <% end %>
</ul>
