<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    #peep {
      border: 1px solid lightblue;
      margin: 5px;
      padding: 5px;
      list-style-type: none;
      width: 25%;
      border-radius: 20px;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome, <%=@user.name%> (<%=@user.grip%>)</h1>
  <form action="/peeps" method='post'>
    <textarea rows="4" cols="57" name="content">Wha's Up?</textarea>
    <div>
      <button type="submit" name='submit_peep'>Submit</button>
    </div>
  </form>
  <% @peeps.each do |peep| %>
    <li id="peep">
      <p><%=@user.name%> (<%=@user.grip%>)</p>
      <p><%=peep.content%></p>
      <p><%=peep.created_at%></p>
    </li>
  <% end %>
</body>
</html>