<h1>Your Chitter Account</h1>
<div>Name: <%= @current_user.name%></div>
<div>Email: <%= @current_user.email%></div>
<div>Username: <%= @current_user.username%></div>
<p></p>
<a href="/">Chitter Home</a>
<p></p>
<%= erb :user_messages %>
<p></p>
<%= erb :sign_out %>
