<h1> Welcome to the Stream </h1>

<form action='/bottle/new'>
  <input type='submit' value='Put a Message in a Bottle'>
</form>

<% @bottles.each do |bottle| %>
  <div id="post<%= bottle.id %>" class='bottle' style='border: solid; padding: 5px; margin: 5px;'>
    <div class='message'>
      <%= bottle.message %>
    </div>
    <div class='time'>
      <%= bottle.time.strftime("%H:%M on %a %b %e %Y")%>
    </div>
    <div class='username'>
    Username: <%= User.get(bottle.user_id).username %>
    </div>
    <%#REFACTOR ------------%>
    <% unless User.get(bottle.user_id).name == "" %>
    <div class='name'>
    Name: <%= User.get(bottle.user_id).name %>
    </div>
  <% end %>

  </div>
<% end%>

