<div id='user'>
    <div>
      ID:<br>
      <%= @user.id %>
      <br><br>
      Email:<br>
      <%= @user.email %>
      <br><br>
      Password:<br>
      <%= @user.password %>
      <br><br>
      Name:<br>
      <%= @user.name %>
      <br><br>
      User name:<br>
      <%= @user.user_name %>
    </div>
    <br>
</div>

<form action='/home' method='get'>
  <input type='submit' value="Home">
</form>
