<%= styled_flash %>
<h1>Welcome <%= session[:user_id].name%> </h1>
<form action='/peeps/add'>
  <input type='submit' value='Peep!'>
</form>
<form action='/sessions/destroy' method='post'>
  <input type='submit' value='Sign out'>
</form>

<h1>What did you peep?</h1>
<ul>
<% Peep.list.each do |peep| %>
<h2> By <%= User.find(peep.user_id).name%> at <%= peep.time%> </h2>
<%= peep.content%>
  <h3>Comments</h3>
  <% peep.comments.each do |comment| %>
  By <%= User.find(comment.user_id).name%> at <%= comment.time %>
  <br><%= comment.content %></br>
  <%end%>
  <form action='/comments/<%= peep.id%>/new'>
    <input type="hidden" name="peep_id" value="<%= peep.id %>"/>
    <input type='submit' value='Comment'>
  </form>
<% end %>
</ul>
