<center>
<div>
  <h1>Welcome <%= @user.name %></h1>
  <form action="/users/new" method='get'>
    <input type="submit" value="a button" />
  </form>
</div>

<div>
  <form action="/" method="POST">
    <input style="height:30px;width:500px;" type='text' name='comment' placeholder='What do you feel like peeping today?'/>
    <input type="hidden" name="username" value="<%= @user.username %>">
    <input type="hidden" name="user_id" value="<%= @user.id %>">
     <input type='submit' value='Peep This!'/>
  </form>
</div>

<div>
  <h2>What are member's peeping about today?</h2>
  <% @peeps.each do |peep| %>
    <div>
        <ul>
            <p> <font size='3'> <%= peep.comment %> </font> </br>
              <font size='1'>  posted on <%= peep.time %> by <%= peep.user %> </font>
            </p>
       </ul>
    </div>
  <% end %>
</div>


</center>
