<h1> Create user account </h1>
<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action = "/users" method = "POST">
  <input type = "text" name = "user_name" placeholder = "enter user name">
  <input type = "text" name = "name" placeholder = "enter name">
  <input type = "text" name = "email" value='<%= @user.email %>' placeholder = "enter email address">
  <input type = "password" name = "password" placeholder = "enter password">
  <input type = "password" name = "password_confirmation" placeholder = "confirm password">
  <input type = "submit" value = "Create">
</form>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
  <li>
    Peep: <%= peep.post %>
    Created at: <%= peep.created_at %>
    Created by: <%= peep.user.name %>
  </li>
  <% end %>
</ul>
