<h2> Peeps </h2>
<div class="posts" id="posts">
  <% @posts.reverse.each do |post| %>
  <ul>
    <li id="peep"><%= post.message %></li>
    <li>Posted by: <%= post.user.username %></li>
    <li>Date: <%= (post.created_at).strftime("%d/%m/%y: %H:%M:%S") %></li>
    <% if current_user %>
    <form action="/comments" method="post">
      <label for="comment">Comment:</label>
      <input type="hidden" name="post_id" value="<%= post.id %>">
      <input type="text" name="comment">
      <input type="submit" value="Add Comment">
    </form>
    <%end%>
  <ul id="comments">
    <% post.comments.reverse.each do |comment| %>
      <li><%= comment.comment %></li>
      <li>Posted by: <%= comment.user.username %></li>
      <li>Date: <%= (comment.created_at).strftime("%d/%m/%y: %H:%M:%S") %></li>
    <%end%>
  </ul>
  </ul>
  <% end %>
</div>
