<p>
    --- Chitter ---
</p>
<p>
    --- Hello <%= @user.user_name %> ---
</p>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.created_at.strftime("%m/%d/%Y %H:%M") %> <%= post.message %> <%= post.author.user_name %>
      <form action="/posts/<%= post.id %>/delete" method="post">
        <input type="submit" value="Delete message" />
      </form>
    </li>
  <% end %>
</ul>

<form action='/posts' method='post'>
  <label for='message'> Message
    <input type='text' name='message' />
  </label>
  <input type='submit' value='Submit' />
</form>
<form action="/users/log_out" method="post">
  <input type="submit" value="Log out" />
</form>
<form action="/users/<%= @user.id %>/update" method="get">
  <input type="submit" value="Update user" />
</form>
