<form action='/feed' method='post'>
  Your peep:
  <input type='text' name='peep' />
  <input type="submit" value="Post" />
</form>

<ul>
  <% @peeps.reverse_each do |peep| %>
  <li class='peep' id='peep-<%=peep.id%>'>
    <p><%= peep.message %> </p>
    <i><%= peep.time_last_altered%></i>
    <form action='/feed/<%= peep.id %>/edit' method='get'>
      <input type='submit' value='Edit'/>
    </form>
    <form action='/feed/<%= peep.id %>' method='post'>
      <input type='hidden' name='_method' value="DELETE" />
      <input type='submit' value='Delete'/>
    </form>
  </li>
  <% end %>
</ul>
