<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
</head>
<body>

<h1>Chitter Challenge</h1>
<% if @user %>
<h1>Welcome, <%= @user.name %></h1>
<% else %>
<%= flash[:notice] %>
<% end %>

    <ul>
        <% @chirps.reverse.each do |chirp| %>
            <li class="chirp" id="chirp-<%= chirp.id %>">
                <h3><%= chirp.title %></h3>
                <p><%= chirp.chirp %></p>
                <form action="/chirps/<%= chirp.id %>" method="post">
                    <input type='hidden' name='_method' value='DELETE'/>
                    <input type="submit" value="Delete" />
                </form>
                <form action="/chirps/<%= chirp.id %>/edit" method="get">
                    <input type="submit" value="Edit" />
                </form>
                <form action="/chirps/<%= chirp.id %>/comments/new" method="get">
                    <input type="submit" value="Comment" />
                </form>
                <ul>
                    <% chirp.comments.each do |comment| %>
                    <li><%= comment.text %></li>
                    <% end %>
                </ul>
            </li>
        <% end %>
    </ul>

    <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
    </form>

</body>
</html>