<% if current_maker %>

signed in as <%=current_maker.username%>

<form action='/sessions/sign_out' method='post'>
  <input type='submit' value='sign out'>
</form>

<% end %>

<%=@maker.username%>'s peeps:

<% @peeps.reverse! %>
<% @peeps.each do |peep| %>
<div><a href='/peeps/filter/<%=peep.maker.username%>'><%=peep.maker.username%></a> peeped:</div>
<div><%=peep.text%></div>
<div>on: <%=peep.time%></div>
<% end %>
