<h1>Chitter</h1>
<h2>Get Peepin'</h2>
<body>
  <%@msgs.each { |msg|%> <%=msg.content%>
    [<%=msg.user.username%>(<%=msg.user.name.downcase%>) -<%=msg.time_string%>] <br> <%}%>
</body>
<form action='/chat' method='POST'>
  <input type='text' name='message'>
  <input type='submit' value='PeepIt'>
</form>
<%if @current_user%>
Signed in as <%=@current_user.username%>
<form action='/signout'>
  <input type='submit' value='Sign Out?'>
</form>
<%end%>
<%if flash[:no_user]%>
  <%=flash[:no_user]%>
  <form action='/'>
    <button type='submit' value='Sign In'>Sign In</button>
  </form>
<%end%>
