<% if current_user %>
Welcome <%= current_user.username %>! Chit away!
<form method="post" action="/sessions">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log out">
</form>
<br>
<form method="post" action="/create_chits">
  <label for="chit_field">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="text" name="chit_text" placeholder="Chit here!" required autofocus>
    <input type="submit" value="Chit!">
  </label>
</form>
<br>
<% end %>
<% if @chits %>
<section id="chits_section">
  <h3>Chits:</h3>
  <% @chits.each do |chit| %>
  <article id="chit_and_reply">
    <div id="chit">
      <%= chit.chit_text %>
      <%= chit.chit_time %>
      <%= chit.user.username %>
    </div>
    <% if current_user %>
      <form id="reply_form" method="post" action="create_reply">
        <label for="reply_field">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <input type="hidden" name="chit_id" value="<%= chit.id %>">
          <input type="text" name="reply_text" placeholder="Reply to <%= chit.user.username %>">
          <input type="submit" value="Reply">
        </label>
      </form>
    <% end %>
    <% if chit.replies %>
    <% chit.replies.each do |reply| %>
    <div id="reply">
      <%= reply.reply_text %>
      <%= reply.reply_time %>
      <%= reply.user.username %>
    </div>
    <% end %>
    <% end %>
  </article>
  <br>
  <% end %>
</section>
<% end %>
