<% if current_user %>
	<h2> Hi <%=current_user.username %>! </h2>
<% end %>

<div>
	Creets: </br>
	<% @messages.reverse.each do |message| %>
		<%= message.user.username %> posted at <%= message.time %>:</br>
		<%= message.text %> </br> 
	<% end %>
</div>

<div>
Want to critter your own message?
<form action='/messages', method='post'>
	Message: <input type='text', name='message'>
	<input type='submit', value='Add Creet'>
</form>
</div>

<div>
	<form action="/signout", method="post">
		<input type='hidden', name='_method', value='DELETE'>
		<input type='submit', value='Sign out'>
	</form>
</div>

<% if flash[:signout] %>
	<%= flash[:signout] %>
<% end %>
