<h1 id="title">All Peeps tagged with <%=@tag_filter%>:</h1>

<div id="peep_deck">
<ul>
<% @filtered_peep_deck.each do |peep| %>
<li> "<%= peep.message %>,"<br>
peeped <%= User.get(peep.user_id).username %> at <%= peep.created_at %><br>
<% peep.tags.each do |tag| %>
<div class="tag_link"><a href="/tags/<%=tag.name[1..-1]%>"><%=tag.name%></a></div><br>
<% end %>
</li>
<% end unless @filtered_peep_deck.empty? %>
</ul>
</div>
