<% if current_user %>
<form action='peep/new' method='post'>
    <textarea name='peep' placeholder='Write a new peep'></textarea>
    <input type='submit' value='Post' />
</form>
<% end %>

<% @peeps.reverse_each do |post| %>
        <div class='post'>
                <%= post.body %>
                <%= post.user.name %>
                <%= post.user.username %>
                <%= post.formatted_time %>
                <a href='/<%= post.id %>/reply'>Reply</a> 
                <% post.replies.each do  |reply| %>
                      <div class='reply'> 
                              <%= reply.body %>
                              <%= reply.user.username %>
                              <%= reply.formatted_time %>
                      </div>
                <% end %>
        </div>
<% end %>
    
