<!DOCTYPE html>

<h1> Chitter </h1>

<% if flash[:unknown_username] %>
  <%= flash[:unknown_username] %>
<% end %>

<% if @user == nil %>
  <form action='/log_in' method='post'>
    <label for="username">
      Username:
      <input type="text" name="username">
    </label>
    <label for="password">
      Password:
      <input type="password" name="password">
    </label>
    <input type='submit' value='Log In'>
  </form>

<form action='/sign_up' >
  <input type='submit' value='Sign Up'>
</form>

<% else %>
  <h2> <%= @user.username %> is logged in </h2>

  <form action='/goodbye' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value="Log Out">
  </form>
<% end %>

<form action='/post_peep' method='post' >
  <input type="text" name="peep_input">
  <input type='submit' value="Peep">
</form>


<!-- <div class="title"> -->
      <ul id="peep_list">
        <h1> Peeps: </h1>
        <%@peep.each do |peep| %>

          <li><%= peep.peep %>
              <% @username = User.first(id: (PeepUser.first(peep_id: peep.id).user_id)).username %>
              <%= @username %>
              <%= peep.time %>
              <% (PeepReply.all(peep_id: peep.id)).each do |reply| %>
                <ul>
                  <li>
                    <% reply_route = (Reply.first(id: (reply.reply_id))) %>
                    <%= reply_route.reply %>
                    <%= User.first(id: reply_route.user_id).username %>
                    <%= reply_route.time %>
                  </li>
                </ul>
              <% end %>
                <form action='/reply' method='post'>
                  <input name="peep_id" type="hidden" value="<%= peep.id %>" />
                  <input type="text" name="reply">
                  <input type='submit' value="Reply">
                </form>
          </li>
        <% end %>
      </ul>
    <!-- </div> -->
