<img src="https://i.imgur.com/kxUv1Bg.png" height="68" width="257" />

<h2>Welcome back, <%= @user.handle %></h2>

<form action='/peeps/new' method="post">
  <input type=“text” name="peep_text" placeholder="Your text goes here" />
  <input type="submit" value="Peep" />
</form>

<div><%=flash[:error]%></div>

<% @peeps.each do |peep| %>
  <h3>Name: <%= @user.name %></h3>
  <h3>Handle: <%= @user.handle %></h3>
  <h4>Peep: <%= peep['peep_text'] %></h4>
  <h4>Peeped at: <%= peep['created_at'] %></h4>
  <hr>
<% end %>
