<head>
  <link rel="stylesheet" href="/css/main.css"/>
</head>
<div class="container">
    <div id="left">
      <% if current_user %>
        <div class="userbox">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="10" height="42">&nbsp;</td>
              <td colspan="2" align="center" class="WhiteText"><span class="MiniTitle">User Account Details</span></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td width="110" rowspan="3"><img src="<%= @current_user.image %>" width="100" height="100" alt="User" /></td>
              <td height="33" class="WhiteText"><%= @current_user.name %></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td height="33" class="WhiteText"><%= add_tag("@"+@current_user.username) %></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td height="33" class="WhiteText">Peeps <a href="/users/<%=@current_user.username%>"><%= @current_user.peeps %></a></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
    <% else %>
      <div class="userbox">
        <form action='/sessions' method='post'>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="10" height="42">&nbsp;</td>
              <td colspan="2" align="center" class="WhiteText"><span class="MiniTitle">Log into your account</span></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td width="123" class="WhiteText">Email</td>
              <td width="579" height="33"><input name='email' type='email' size="30" required></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td width="123" class="WhiteText">Password</td>
              <td height="33"><input name='password' type='password' size="30"></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td height="33" colspan="2" align="center" valign="middle"><input type="submit" name="submit" id="submit" value="Submit" /></td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </form>
      </div>
    <% end %>
    </div>

    <div id="right">
      <% if current_user %>
        <div class="newpeepbox">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="10">&nbsp;</td>
              <td width="80">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td width="80" rowspan="3" valign="middle"><img src="<%= @current_user.image %>" width="70" height="72" alt="User" /></td>
              <td class="WhiteText">Whats on your mind? send a peep</td>
            </tr>
            <tr>
              <td width="10">&nbsp;</td>
              <td></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
                <form id="peep" name="form1" method="post" action="/peeps">
                  <textarea name="body" id="body" cols="90" rows="3"></textarea>
                  <input type="submit" name="submit" id="submit" value="Submit" />
                </form>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td width="80">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
        <br>
      <% end %>

      <% @peeps.each do |peep|
          peep_user(peep.users)
          if @search == @peep_user.username || @search == nil %>
          <div class="peepbox">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="10" height="35">&nbsp;</td>
                  <td height="35" align="center" valign="middle" class="WhiteText">&nbsp;</td>
                  <td height="35" align="center" valign="middle" class="WhiteText"><%= add_tag("@"+@peep_user.username) %> peeps...</td>
                  <td width="10" height="35" align="center" valign="middle" class="WhiteText">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td width="90"><img src="<%= @peep_user.image %>" width="70" height="72" alt="User" /></td>
                  <td bgcolor="#FFFFFF"><%= check_tags(peep.body) %></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr>
                  <td width="10" height="30">&nbsp;</td>
                  <td width="90" height="30">&nbsp;</td>
                  <td height="30" align="center" valign="middle" class="WhiteText"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td rowspan="2" valign="middle" class="WhiteText"><%= peep.time_stamp.to_s[0..19] %></td>
                      <td width="50">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="50" align="right">
                        <% if current_user && session[:peep_id] != peep.id %>
                          <form name="repeep" method="post" action="/repeep/new">
                            <input type='hidden' name="peep_id" value='<%= peep.id %>'>
                            <input type="submit" name="submit" id="submit" value="Repeep">
                          </form>
                        <% else %>
                          &nbsp;
                        <% end %>
                      </td>
                    </tr>
                  </table></td>
                  <td width="10" height="30">&nbsp;</td>
                </tr>
              </table>
          </div>
          <% if current_user && session[:peep_id] == peep.id %>
          <div class="repeepbox">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10">&nbsp;</td>
                <td width="50">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="10">&nbsp;</td>
                <td width="50" valign="top"><img src="<%= @current_user.image %>" width="40" height="40" alt="User" /></td>
                <td class="WhiteText">
                  <form id="peep" name="repeep" method="post" action="/repeep/message">
                    <textarea name="repeep_body" id="repeep_body" cols="90" rows="3"></textarea>
                    <input type="submit" name="submit" id="submit" value="Repeep" />
                  </form>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td width="50">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div>
          <% end %>
          <br>
          <% end %>
      <% end %>
    </div>
</div>
