
<br>
<br>
<% unless current_user %>
<form action='/signup' method='get'>
  <input type="submit" value="Sign up!" class="button1">
</form>
<form action='/login' method='get'>
  <input type="submit" value="Log in" class="button1">
</form>
<br>
<br>
<% end %>
<% if current_user %>
  <form action='/peeps' method='post'>
    <textarea name="peep" id="peep" >
    </textarea>
    <input type="submit" value="Peep!" class="button">
  </form>
<% end %>

<br>
<br>

<% if @peeps %>


  <% @peeps.each do |peep| %>
<div class='peep' >
    <p class='username'><%= peep.user.username %></p> <p class='time'>peeped on <%= peep.created_at.strftime(" %d/%m/%y at %I:%M%p") %></p>
    <p class='message'><%= peep.message %></p>


    <% peep.reply.each do |reply| %>
       <p class='username'><%= reply.user.username %></p> <p class='time'>replied on <%= reply.created_at.strftime(" %d/%m/%y at %I:%M%p")%> </p>
      <p class='reply'><%= reply.message%></p>
    <%end%>

  <% if current_user %>
    <form action='/reply/<%= peep.id %>/new' method='get'>
      <input type='submit' value='Reply' name='reply' class="button">
    </form>
    <%end%>
  </div>
  <%end%>
<%end%>
