
<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.text %>

      Posted by <%= peep.user.name %> (<%= peep.user.username %>) on <%= peep.format_time %>

      <form action="/responses" method="post">
        <input type="hidden" name="current_peep" value="<%= peep.id %>">
        <input type="textarea" name="reply">
        <input type="submit" value="Post Reply">
      </form>

      <% peep.responses.map do |response| %>
          <h3>
            <%= response.text %>
          </h3>
          <p>
            From <%= response.user.name %> (<%= response.user.username %>) on <%= response.format_time %>
          </p>
      <% end %>

    </li>
  <% end %>
</ul>
