
<br>
<br>
<% unless current_user %>
<form action='/signup' method='get'>
  <input type="submit" value="Sign up!" class="button1">
</form>
<form action='/login' method='get'>
  <input type="submit" value="Log in" class="button1">
</form>
<br>
<br>
<% end %>
<% if current_user %>
  <form action='/peeps' method='post'>
    <textarea name="peep" id="peep" >
    </textarea>
    <input type="submit" value="Peep!" class="button">
  </form>
<% end %>

<br>
<br>

<% if @peeps %>
<div class='peep'>
  <% @peeps.each do |peep| %>
  <ul>
    <li><h5><%= peep.user.username %> peeped on <%= peep.created_at.strftime(" %d/%m/%y at %I:%M%p") %></h5></li>
    <h5><%= peep.message %></h5>

    <ul>
    <% peep.reply.each do |reply| %>
      <h5><li> <%= reply.user.username %> replied on <%= reply.created_at.strftime(" %d/%m/%y at %I:%M%p")%> </li></h5>
      <h5><%= reply.message%></h5>
    <%end%>
  </ul>
</ul>
  <% if current_user %>
    <form action='/reply/<%= peep.id %>/new' method='get'>
      <input type='submit' value='Reply' name='reply' class="button">
    </form>
    <%end%>
  </div>
  <%end%>
<%end%>
