<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
  </head>
  <body>
    <%= erb(:navbar) %>
    <div class='notice'>
      <%= flash[:notice] %>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class='back'>
          <% if @user %>
            <form id='new-peep' method='post' action='/peep'>
              <textarea class="form-control" id="peep-input" placeholder='Join the chitter chatter!' name='peep' form='new-peep' rows="3"></textarea>
              <br />
              <input class='btn btn-outline-danger my-2 my-sm-0 btn-peep' type='submit' value='Peep!'>
            </form>
            <br />
          <% end %>
          <% @peeps.reverse.each do |peep| %>
            <div class='peep-container'>
              <div class='peep-header'>
                <% @author = User.get(peep.user_id) %>
                <img src="../images/user.jpg" class='peep-img' width="50" height="50" alt="">
                <h4 class='peep-username'><%= "#{@author.name} " %>
                  <span class='peep-info'>
                    <a class='username' href='/user/<%= @author.username %>'><%= "@#{@author.username}" %></a>
                    <%= " - #{peep.timestamp}" %>
                  </span>
                </h4>
              </div>
              <div class='peep-body'>
                <h4 class='peep-body-text'><%= peep.body %></h4>
              </div>
              <!-- Ideally all CSS should live in the stylesheets, with no styling information in the HTML -->
              <p style='margin-left:10px;'><%= "#{peep.comments.count} comments" %></p>
              <form method='get' action='/peeps/<%= peep.id %>'>
                <input class='btn btn-outline-danger my-2 my-sm-0 btn-comment' type='submit' value='Comment'>
              </form>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </body>
</html>
