<h1>Welcome to Chitter!</h1>

<Peeps>
<ul>
  <% Peep.all(order: [:time.desc]).each do |peep| %>
    <li><%= peep.text %> (Peeped by <%= peep.user.name %> (aka <a href="/users?username=<%= peep.user.username %>"><%= peep.user.username %></a>) on <%= peep.time.strftime("%A %d %B %Y at %l:%M%p (%S secs)") %>) (<a href="/peeps/reply?peep_id=<%= peep.id %>">Reply</a>)</br>
      <ul style="list-style-type:circle">
        <% Reply.all(peep_id: peep.id, order: [:time.asc]).each do |reply| %>
          <li><%= reply.text %> (Reply by <%= reply.user.name %> (aka <a href="/users?username=<%= reply.user.username %>"><%= reply.user.username %></a>) on <%= reply.time.strftime("%A %d %B %Y at %l:%M%p (%S secs)") %>)
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<div id='new-peep'>
  <form action='/peeps' method='post'>
    Peep: <input type='text' name='text'>
    <input type='submit' value='Peep!'>
  </form>
</div>