<head>
  <title>Chitter</title>
</head>
<body>
  <% if current_user %>
    <p><b>Hi, <%= current_user.username %></b></p>
    <form action="/peeps">
      <input type="submit" value="New Peep">
    </form> 
  <% else %>
    <p>Please log in to post Peeps</p>
    <form action="/login">
      <input type="submit" value="Log In">
    </form>
    <form action="/registrations/new">
      <input type="submit" value="Sign Up">
    </form>
  <% end %>
  <ul>
    <% @sorted_peeps.each do |peep| %>
      <div id="<%= peep.id %>">
        <li>@<%= peep.username %>: <%= peep.body %> (<%= peep.posted_on %>)</li>
        <% if peep.edited_on %>
          <p>Edited on: <%= peep.edited_on %></p>
        <% end %>
        <form action="/peeps/<%= peep.id %>/edit">
          <input type="submit" value="Edit">
          <input type="hidden" name="peep_id" value="<%= peep.id %>">
        </form>
        <form action="/peeps" method="POST">
          <input type="submit" value="Delete">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="peep_id" value="<%= peep.id %>">
        </form>
      </div>
    <% end %>
  </ul>
</body>