<h1>Chitter</h1>
<%= flash[:notice] %>
<% unless @user %>
  <p>Sign in to make a peep!</p>
  <form method='get' action='/login'>
    <input type='submit' value='Log in'>
  </form>
  <form method='get' action='/signup'>
    <input type='submit' value='Sign up to Chitter!'>
  </form>
<% else %>
  <form method='post' action='/logout'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form>
  <form id='new-peep' method='post' action='/peep'>
    <textarea name="peep" form="new-peep">Enter text here...</textarea>
    <input type='submit' value='Peep!'>
  </form>
  <% end %>
<% @peeps.reverse.each do |peep| %>
  <% @author = User.get(peep.user_id) %>
  <h3><strong><%= "#{@author.name} " %></strong><em><small><a href='/user/<%= @author.username %>'><%= "@#{@author.username}" %></a></small></em> <%= " -- #{peep.timestamp}" %></h3>
  <h4><%= peep.body %></h4>
  <form method='get' action='/peeps/<%= peep.id %>'>
    <input type='submit' value='Comment'>
  </form>
<% end %>
