<h2>Home</h2>
<form action=/new method="post">
  <input type="text" name="username" placeholder="Username" maxlength="50" required/>
  <input type="comment" name="body" maxlength="240" placeholder="What's up?" required/>
  <input type="submit" value="Peep">
</form>
<ul>
  <% @peeps.each do |peep| %>
  <li class="peep" id="peep-<%= peep.id %>">
    <%= peep.username %>
    <%= peep.time_posted %>
    <%= peep.body %>
    <form action="/<%= peep.id %>/edit" method="get">
      <input type="submit" value="Edit">
    </form>
  </li>
  <% end %>
</ul>
