<h2>Home</h2>
<form action=/new method="post">
  <input type="text" name="username" placeholder="Username" maxlength="50" required/>
  <input type="comment" name="body" maxlength="240" placeholder="What's up?" required/>
  <input type="submit" value="Peep">
</form>
<section class="row">
  <% @peeps.each do |peep| %>
    <div class="col-md-4">
      <article class="peep card" id="peep-<%= peep.id %>" style="width: 100;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="card-subtitle mb-2 text-muted">@<%= peep.username %></h6>
            <p class="card-text text-right"><small class="text-muted"><%= peep.time_posted.strftime("%d/%m/%Y %k:%M") %></small></p>
          </div>
          <p class="card-text"><%= peep.body %></p>
          <footer class="btn-group btn-group-sm justify-content-end" role="group" aria-label="Basic example">
            <form action="/<%= peep.id %>/edit" method="get">
              <input class="btn btn-link" type="submit" value="Edit">
            </form>
            <form action="/<%= peep.id %>" method="post">
              <input type='hidden' name='_method' value='DELETE'/>
              <input class="btn btn-link" type="submit" value="Delete">
            </form>
          </footer>
      </article>
    </div>
  <% end %>

</section>
