<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to ChitterChatter</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to ChitterChatter</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<div>
  <a href="/peeps/new">New peep</a>

<ul>
  <% @peeps.each do |peep| %>
    <%=peep.text %><br>
    Posted by: <a href=/users/<%=(User.first(id: peep.user_id)).username %>><%= (User.first(id: peep.user_id)).username %></a>,
    <br>
    <%=(User.first(id: peep.user_id)).name%>
    at <%=peep.timestamp.hour%>:<%=peep.timestamp.min %> on <%=peep.timestamp.day%>/<%=peep.timestamp.month%>/<%=peep.timestamp.year%><br><br>
  <% end %>
</ul>
  </body>
</html>

