<!DOCTYPE html>
<html lang="en">
  <%= erb :header %>

  <div class="jumbotron">
    <div class="container">
      <h1> Welcome To Chitter! </h1>
      <h4> The Grown Ups Social Network </h4>
    </div>
  </div>

  <div class='container'>
    <%= erb :flash %>

    <div class="row">
      <div class="col-md-6">
        <% if Peep.count > 0 %>
          <% peeps = Peep.all(order: [:id.desc]) %>
          <% peeps.each do |peep| %>
            <div id='peep'>
            <%= peep.peep %><br>
            Posted by User: <%= peep.user.username %> Real name: <%= peep.user.name %>
          </div><br>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-6">
        <% unless session[:name] %>
            <%= erb :logged_out %>
        <% else %>
            <%= erb :logged_in %>
        <% end %>
      </div>
    </div>
  </div>
</html>
