<h1>This is Chitter!</h1>
<br>
<html>
<head>
</head>
<body align="center">
<div id="new-chit">
  <form action="/chits" method="post">
    Username: <input type="text" name="username">
    Text: <input type="text" name="text">
    <input type="submit" value="Add new Chit!'">
  </form>
</div>

<br>
Current Chits
<br>
<div align="center">
  <tr>
  <% @chit.each do |chit| %>
    
    <tr>
      <td><h3><a href="<%= chit.username %>"><%= chit.username %></h3></a>
    
      <p><a href="<%= chit.text %>"><%= chit.text %></a></p></td>  
    </tr></div>
  
  <% end %>
  
  <!--   <% @chit.each do |chit| %>
    <a href="<%= chit.text %>"><%= chit.text %></a></li>
  <% end %> -->
<!-- </ul> -->

</body>
</html>
