<div class='row'>
  <div class="col-md-2 col-md-offset-5">
  <%if session["user_id"] %>
    <button id='peep_button' class="btn btn-danger btn-lg"> <a id='peep' href='/peeps/new'>Dare to Peep?</a> </button>
    </div>
  <%end%>
</div>

<br>
<br>

<div class='row' id='peeps'>
  <div class"col-md-10 col-md-offset-1">
    <% if @peeps %>
      <% @peeps.reverse.each do |peep| %>
      <div class='row'>
        <div class"col-md-6 col-md-offset-3">
          <div class ="col-md-3"> <%=peep.message%> </div>
          <div class ="col-md-1">User: <%=peep.user.name%> </div>
          <div class ="col-md-1">Handle: <%=peep.user.username%> </div>
          <div class ="col-md-1">Time Posted: <%=peep.created_at.strftime('%F %H:%M:%S')%> </div>
          <%if session["user_id"] %>
            <button id='reply' class='btn btn-danger'>
                 <form action='peeps/makereply' method='post'>
                    <input type='hidden' name='original_id' value='<%=peep.id%>'>
                    <input type='submit' value='Reply?'>
                  </form>
            </button>
          </div>
        </div>
          <br>
        <%end%>
      <%end%>
    <%end%>
    </div>
</div>