
<br>
<br>
<% unless current_user %>
<form action='/signup' method='get'>
  <input type="submit" value="Sign up!" style="background-color:purple;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
</form>
<form action='/login' method='get'>
  <input type="submit" value="Log in" style="background-color:purple;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
</form>
<br>
<br>
<% end %>
<% if current_user %>
  <form action='/peeps' method='post'>
    <textarea name="peep" id="peep" style="width:96%;height:90px;background-color:white;color:black;border:2px solid black;padding:2%;font:22px/30px sans-serif;">
    </textarea>
    <input type="submit" value="Peep!" style="background-color:purple;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
  </form>
<% end %>

<br>
<br>

<% if @peeps %>
<div class='peep'>
  <% @peeps.each do |peep| %>
    <p><%= peep.user.username %> at <%= peep.created_at %></p>
    <p><%= peep.message %></p>

    <ul>

    <% peep.reply.each do |reply| %>
    <li> <%= reply.user.username %> at <%= reply.created_at%> </li>
     <p><%= reply.message%></p>
    <%end%>
  </ul>
  <% if current_user %>
    <form action='/reply/<%= peep.id %>/new' method='get'>
      <input type='submit' value='Reply' name='reply' style="background-color:purple;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
    </form>
    <%end%>
  </div>
  <%end%>
<%end%>
