<head>
  <title>Chitter</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="main_wrapper">
    <div id="left_side">

      <% if flash[:errors] %>
       <ul id="errors"></ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% end %>

      <% if @current_user %>
        logged in as: <%= @current_user.username %>
        <form action='/peep' method='post'>
          <input type="text" name="new_peep" placeholder="enter message!" class="input_box" required>
          <input type="submit" value="post" class="login_button">
        </form>

        <form action='/sessions' method='post'>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="log out" class="login_button">
        </form>
      <% else %>
        <form action='sign_in' method='post'>
          <input type="text" name="username" placeholder="username" class="input_box" required>
          <input type="password" name="password" class="input_box" placeholder="password">
          <input type="submit" value="log in" class="login_button">
        </form>

        <div id="form_divider"><span>or</span></div>

        <form action='sign_up' method='get'>
        	<input type="submit" value="sign up" class="signup_button">
        </form>

      <% end %>

    </div>

    <div id="right_side">
      <br><br>
      <% if @peeps %>
        <% @peeps.each do |peep| %>
          <div class="entry">
            <div style="margin-bottom: 5px">
              <span class="name"><%= peep.name %></span> | <span class="username">@<%= peep.username %></span><br>
            </div>
            <%= peep.message %>
          </div>
          <div class="entry_footer"></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="site-footer">
  	<div class="site-footer-box">
	  <a href="http://www.github.com/kennbarr" class="git"></a>
	  <img src="images/kenneth.png"style="float: left; display: block"/>
	  <a href="http://www.makersacademy.com" class="makers"></a>
  	</div>
  </div>
</body>
