<! DOCTYPE html>
<html>

<h1> CHITTER </h1>

<body>
  <% if current_user %>
    Welcome, <%= current_user.username %> (<%= current_user.email %>)
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
    <br >
    <br >
    <form method='post' action='/post_message'>
      <label> Message
      <input type='text' name='message'></label>
      <input type='submit' value='Post'>
    </form>
<% else %>
 <a href="users/new">Sign Up</a> or <a href='/sessions/new'>Sign In</a>
  <% end %>
<% if @messages != nil %>

<ul id='messages' style="list-style-type:none">
  <% @messages.each do |message| %>
  <li>
      <strong><%= message.username %> &nbsp </strong><%= message.time %>
     <ul>
       <em><%= message.text %></em> &nbsp <a href="/reply">Reply</a>
     </ul>
     <br >
  </li>
  <% end %>
</ul>
<% end %>
</body>
</html>

<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
