<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/peeps.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
    <title>Chitter</title>
  </head>
  <body>
    <header>
      <div>
        <form>
          <button type="submit" formaction="/" formmethod="get" id="home_button">Chitter.</button>
        </form>
      </div>
      <% if current_user %>
        <div id="new_peep">
          <form>
            <button type="submit" formaction="/peeps/new">New Peep</button>
          </form>
        </div>
      <% end %>
      <% if !current_user && request.path_info != '/sessions/new' && request.path_info != '/users/new' %>
        <div id="sessions">
          <nav>
            <ul>
              <li id="sign_up">
                <form>
                  <button type="submit" formaction="/users/new" class="session_fields">Sign up</button>
                </form>
              </li>
              <li id="log_in"><%= erb :'sessions/new' %></li>
            </ul>    
          </nav>
        </div>
      <% elsif current_user %>
        <div id="log_out">
          <nav>
            <form action="/sessions" method="post">
              <ul>
                <li>
                  <input type='hidden' name='_method' value='delete'>
                </li>
                <li>
                  <button type="submit" class="session_fields">Log out</button>
                </li>
              </ul>
            </form>
          </nav>
        </div>
      <% end %>
    </header>



     <% if current_user %>
    <p>Welcome, <%=  @current_user.name %></p>
    <% end %>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>
<%= yield %>

  </body>
</html>