<% title="Chitter" %>
<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <% if current_user %>
    Welcome,
    <%= current_user.email %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <% end %>
        <% if flash[:notice] %>
          <div id='notice'>
            <%= flash[:notice] %>
          </div>
          <% end %>
            <% if flash[:errors] && !flash[:errors].empty? %>
              Please refer to the following errors below:
              <ul id='errors'>
                <% flash[:errors].each do |error| %>
                  <li>
                    <%= error %>
                  </li>
                  <% end %>
              </ul>
              <% end %>
                <br>
                <%= yield %>
</body>
<br>
<a href="/">Go to Home Page</a>

</html>
