<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('./style.css') %>"/>
    <title>Chitter</title>
  </head>

  <body>
    <%= partial :logged_in %>
    <%= partial :guest %>
    <%= partial :notice %>
    <%= partial :flash %>
    <%= yield %>
    <%= partial :footer %>
  </body>
</html>
