<html>
  <head>
    <title>CHITTER</title>
    <link href='style.css' rel='stylesheet'/>
  </head>

  <body>
    <%= partial :sign_in %>
    <%= partial :title %>
    <%= partial :user_action %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
