<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chitter, not Twitter</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" href="/favicon.png" type"image/png">
</head>
<body>
  <%= partial(:navigation) %>
  <div class="wrapper">
    <%= partial(:notices) %>
    <%= yield %>
    <%= partial(:errors) %>
  </div>
  <%= partial(:footer) %>
</body>
</html>
