<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" hred="<%=url('./public/stylesheet.css')%>">
    <title>Chitter</title>
  </head>
  <body>
    <% if  flash[:notice]%>
      <%= flash[:notice]%>
    <%end%>

    <% if  flash[:errors]%>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%=error%></li>
        <% end %>
      </ul>
    <%end%>
    
    <% if current_user %>
    Welcome <%= current_user.name %>
      <form action='/session' method=post>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>

      <div id='add'>
        <form action='feed/new'>
          <button type='submit'>New Peep</button>
        </form>
      </div>
    
    <%else%>

      <div id='sigin'>
        <form action='session/new'>
          <button type='submit'>Login</button>
        </form>
      </div>

    <%end%>
    <%= yield %>
  </body>
</html>