<!DOCTYPE html>
<head>
  <style type="text/css">
  body {
    background-color: #a2c8e8
  }
  </style>
</head>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

    <%= erb :welcome_message %>
    <%= erb :flash %>
    <%= erb :signed_in %>
    <%= erb :create_new_account %>
    <%= erb :view_peeps %>
    <%= yield %>
  </body>
</html>
