<!DOCTYPE html>

<html>

<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/stylesheet.css")%>">
</head>

<body>
  <h1>Chitter</h1>
  <%= erb :welcome_message %>
  <%= yield %><br>
  <%= erb :log_out_button %><br>
  <%= erb :display_messages_button %><br>
  <%= erb :flash %>
</body>


</html>
