<!DOCTYPE html>
<html>
<head><title>Chitter</title>
<link href="http://assets.makersacademy.com/images/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="<%= url('/normalize.css') %>">
<link rel="stylesheet" type="text/css" href="<%= url('/main.css') %>">
</head>
<body>
<div id="main">

  <% if current_user %>
    <p>You are logged in as <%= current_user.email %></p>
    <form method='post' action='/login'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Logout'>
    </form>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li><br />
      <% end %>
    </ul>
  <% end %>

  <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
