<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css" />
    <title>Chitter</title>
  </head>

  <body>
    <div class="container">
      <a href="/peeps"><h1 class="hotpink"> CHITTER </h1></a>
      <div class="top_container">
        <%= partial :welcome %>
        <%= partial :sign_out %>
        <%= partial :register %>
        <%= partial :compose_peep %>
      </div>

      <%= partial :notice %>
      <%= partial :errors %>


      <%= yield %>
    </div
  </body>
</html>
