<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/peeps.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/new_peeps.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
    <title>Chitter</title>
  </head>
  <body>
    <header>
      <div>
        <form>
          <button type="submit" formaction="/" formmethod="get" id="home_button">Chitter<span id="dot">.</span</button>
        </form>
      </div>
      <% if current_user && request.path_info != '/peeps/new' %>
        <div id="new_peep">
          <form>
            <button type="submit" formaction="/peeps/new"><div class="left top"></div><div class="right top"></div><div class="left bottom"></div><div class="right bottom"></div></button>
          </form>
        </div>
      <% elsif request.path_info == '/peeps/new' %>
        <div id="new_peep"></div>
      <% end %>
      <% if !current_user %>
        <div id="sessions">
          <nav>
            <ul>
              <% if request.path_info != '/users/new'%>
                <li id="sign_up">
                  <form>
                    <button type="submit" formaction="/users/new" class="session_fields">Sign up</button>
                  </form>
                </li>
              <% end %>
              <% if request.path_info != '/sessions/new' %>
                <li id="log_in"><%= erb :'sessions/new' %></li>
              <% end %>
            </ul>    
          </nav>
        </div>
      <% else %>
        <div id="log_out">
          <nav>
            <form action="/sessions" method="post">
              <ul>
                <li>
                  <input type='hidden' name='_method' value='delete'>
                </li>
                <li>
                  <button type="submit" class="session_fields">Log out</button>
                </li>
              </ul>
            </form>
          </nav>
        </div>
      <% end %>
    </header>
    <%= yield %>


     <% if current_user %>
    <p>Welcome, <%=  @current_user.first_name %></p>
    <% end %>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>


  </body>
</html>