<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chitter</title>
    <link type="text/css" rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
    <header>
      <nav class="navbar-default navbar-fixed-top">
        <div class="container-fluid bg-danger">
          <div class="navbar-header">
            <a class="navbar-brand" href="/signup">Chitter</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default btn-sm">Submit</button>
            </form>
            <a href="/signup"><button type="button" class="btn btn-danger btn-sm navbar-btn">Sign Up</button></a>
            <a href="/login"><button type="button" class="btn btn-danger btn-sm navbar-btn">Login</button></a>
            <a href="/home"><button type="button" class="btn btn-danger btn-sm navbar-btn">Peeps</button></a>
            <form class="navbar-form navbar-right" action="/sessions" method="post">
              <div class="form-group">
                <input type="hidden" class="form-control" name="_method" value="delete">
              </div>
              <button type="submit" class="btn btn-danger btn-sm">Logout</button>
            </form>
            <% if current_maker %>
              <p class="navbar-text navbar-right"><span class="glyphicon glyphicon-user"></span> Welcome, <%=current_maker.name%></p>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <br>
      <br>
      <br>
      <div id='notice'><%= flash[:logout] if flash[:logout] %></div>

      <%= flash[:login_error] if flash[:login_error] %>

      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to the following errors below:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

        <ul id='peeps'>
          <% if @peeps %>
          <h3>List of Peeps:</h3>
            <% @peeps.sort_by{ |peep| peep.time }.reverse.each do |peep| %>
          <li>
             <p><%=peep.maker.username%> <em><%=format_time(peep.time)%></em></p>
             <p><%= peep.peep %> </p>
          </li>
            <% end %>
          <% end %>
        </ul>
      <%= yield %>
    </main>

    <footer>
        © 2015 Chitter by Hamza Sheikh, while at <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> | <a href="https://github.com/hsheikhm" target="_blank">GitHub</a> | <a href="https://uk.linkedin.com/in/hamza-sheikh-b111a975" target="_blank">LinkedIn</a> | <a href="https://hsheikhm.wordpress.com/" target="_blank">Blog</a> |
    </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/npm.js"></script>
  </body>

</html>
