<!DOCTYPE html>
<html>
<head><title>Chitter</title>
  <link href="http://assets.makersacademy.com/images/favicons/favicon-16x16.png"
  rel="icon" sizes="16x16" type="image/png">
  <link rel="stylesheet" type="text/css" href="<%= url('/normalize.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('/main.css') %>">
</head>
  <body>
    <div id='user_welcome'>
    <% if current_user %>
      <h1> Welcome, <%= current_user.username %>!</h1>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <div id="peep_new">
        <textarea rows="4" cols="50" name="peep_new_message" form="peep_new" id='peep_new_message'>
        <form method='post' action="/peep/new" id="peep_new">
          <input type="submit" value='Peep!'>
        </form>
        <br>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    </div>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
