<!DOCTYPE html>
<html>
  <head>
    <%= bootstrap_css false%>
    <%= bootstrap_js_legacy %>
    <link href='/css/custom.css' rel='stylesheet'>
    <title>Pronto</title>
    <style>
      body {padding-top: 50px;}
      .myclass {vertical-align: middle;}
    </style>
  </head>
  <body>
    <%= bootstrap_js_default %>
    <%= partial :header %>
    <%= partial :messages %>
    <%= yield %>
    <%= partial :footer %>
  </body>
</html>
