<!DOCTYPE html>
<html>
<head>

  <title>Kwitter</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

</head>

<body>


  <div id="header">




    <center>
    <img src="<%= url('/logo.png') %>">
    <center>


    <div id="menu">
      <ul>
        <% if current_user %>
        <li>  <a href="<%= url('/kweet/new') %>">Kweet</a>                  </li>
        <li>  <a href="<%= url('/kweet/from_user') %>">My Kweets</a>        </li>
        <% end %>
        <li>  <a href="<%= url('/') %>">All Kweets</a>                      </li>
        <li>  <a href="<%= url('/sessions/new') %>">Sign in</a>             </li>
        <li>  <a href="<%= url('/users/new') %>">Sign up to Kwitter</a>     </li>
      </ul>
    </div>
  </div>

    <% if flash[:errors] && !flash[:errors].empty? %>
    <div class= "mainstyle">

    Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>

    <% end %>

    <% if flash[:notice] %>
    <div class= "mainstyle">

    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  </div>

    <% end %>



  <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  <% if current_user %>

  <div class= "footer">
    <p class="footerp">Kwitter - A pretty shitty twitter clone</p>

    <% if current_user %>
    Welcome, <%= current_user.user_name %>

    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input class="form"  type='submit' value='Sign out'>
    </form>


  </div>

    <% end %>
    <% end %>

</body>
</html>
