<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <!-- <link rel='stylesheet' href='styles.css'/> -->
  </head>
  <body>
    <% if flash[:error_message] %>
      <h2><%= flash[:error_message] %></h2>
    <% end %>
    <% if flash[:goodbye] %>
      <h2><%= flash[:goodbye] %></h2>
    <% end %>
    <% if current_user %>
      <h3>You are logged in as <%= current_user.name %> (@<%= current_user.username %>)</h3>
      <form method="post" action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <button type="submit">Sign Out</button>
      </form>
    <% else %>
      <form method='get'>
        <button type='submit' formaction='/sessions/new'>Log in</button>
        <button type='submit' formaction='/users/new'>Sign up</button>
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>
