<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chitter</title>
    <link rel="stylesheet" href="../public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../public/css/master.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="btn btn-default navbar-btn"><a class="navbar-chitter" href="/signup">Chitter</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a class="navbar-sign-up" href="/signup">Sign Up</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a class="navbar-login" href="/login">Login</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a class="navbar-peeps" href="/home">Peeps</a></button>
            <form class="navbar-form navbar-right"action="/sessions" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="btn btn-default" type="submit">Logout</button>
            </form>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default navbar-right">Submit</button>
            </form>
            <% if current_maker %>
              <p class="navbar-text navbar-right">Welcome, <%= current_maker.name %></p>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <h2>Chitter</h2>

      <div id='notice'><%= flash[:logout] if flash[:logout] %></div>

      <%= flash[:login_error] if flash[:login_error] %>

      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to the following errors below:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

        <ul id='peeps'>
          <% if @peeps %>
          <h3>List of Peeps:</h3>
            <% @peeps.sort_by{ |peep| peep.time }.reverse.each do |peep| %>
          <li>
             <p><%=peep.maker.username%> <em><%=format_time(peep.time)%></em></p>
             <p><%= peep.peep %> </p>
          </li>
            <% end %>
          <% end %>
        </ul>
      <%= yield %>
    </main>

    <footer>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/npm.js"></script>
  </body>

</html>
