<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('./css/style.css') %>"/>
    <title>Cheetah</title>
  </head>

  <body>
    <%= partial :navbar %>
    <%= partial :notice %>
    <%= partial :flash %>
    <%= yield %>
    <%= partial :footer %>
  </body>
</html>
