<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>

    <%= erb :welcome_message %>
    <%= erb :flash %>
    <%= erb :signed_in %>
    <%= erb :create_new_account %>
    <%= yield %>
  </body>
</html>
