<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <h2>Chitter</h2>
    <% if current_maker %>
      Welcome, <%= current_maker.name %>
      <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% end %>

    <div id='notice'><%= flash[:logout] if flash[:logout] %></div>

    <%= flash[:login_error] if flash[:login_error] %>

    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

      <ul id='peeps'>
        <% if @peeps %>
        <h3>List of Peeps:</h3>
          <% @peeps.sort_by{ |peep| peep.time }.reverse.each do |peep| %>
        <li>
           <p><%=peep.maker.username%><em><%=format_time(peep.time)%></em></p>
           <p><%= peep.peep %> </p>
        </li>
          <% end %>
        <% end %>
      </ul>
    <%= yield %>
  </body>
</html>
