<!DOCTYPE HTML>
<html>
  <head>
    <title>Chirper</title>
  </head>

  <body>
    <% if session[:user_id] %>
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type="submit" value="Log out">
      </form>
      <% end %>

    <% if flash[:welcome] %>
      <div id='welcome'><%= flash[:welcome] %></div>
    <% end %>

    <% if flash[:log_out] %>
      <div id='log_out'><%= flash[:log_out] %></div>
    <% end %>

    <% if flash[:mismatch] %>
      <div id='mismatch'><%= flash[:mismatch] %></div>
    <% end %>

    <% if flash[:login_succesful] %>
      <div id='login_succesful'><%= flash[:login_succesful] %></div>
    <% end %>

    <% if flash[:login_unsuccesful] %>
      <div id='login_unsuccesful'><%= flash[:login_unsuccesful] %></div>
    <% end %>

    <% if flash[:user_exists] %>
    <div id='user_exists'><%= flash[:user_exists] %></div>
  <% end %>
    <%= yield %>

  </body>
</html>
