<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.name %>
    <% end %>
    <%= flash[:name_error] if flash[:name_error] %>
    <%= flash[:email_error] if flash[:email_error] %>
    <%= flash[:username_error] if flash[:username_error] %>
    <%= yield %>
  </body>
</html>
