<head>
  <title>Logged in</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link type="text/css" href='style.css' rel='stylesheet'>
  <style type="text/css">

  </style>
</head>

<h1> Welcome <%= !!@user ? @user.username : "guest" %> </h1>

<form action='/' method='get'>
  <i class="fa fa-sign-out" aria-hidden="true"></i>
  <input type='submit' value="log out">
</form>

<form action='/add_peep' method='post'>
  <label for='title'> Title </label>
  <input type='text' name='title'>

  <br>

  <label for='content'> Content </label>
  <input type='text' name='content'>

  <br>
  <i class="fa fa-twitter" aria-hidden="true" ></i>
  <input type='submit' value='submit'>
</form>

<h2> Latest peeps... </h2>

<ul>
  <% Peep.reverse_each do |peep| %>
  <li>
    Title: <%= peep.title %>
    <br>
    Content: <%= peep.content %>
    <br>
    Time: <%= peep.time.strftime("%I:%M%p,%e %b %Y") %>
    <br>
    Author: <%= peep.user.username %>
    <br>
  </li>
  <% end %>
</ul>
