<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
  </head>
  <body>
    <div class="nav">
      <div class="nav-section logo">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.clipartbest.com%2Fcliparts%2FncB%2FK8g%2FncBK8gGAi.png&f=1&nofb=1"
          alt="chitter logo"
          class="bird"
        />
      </div>
      <div class="nav-section space"></div>
      <div class="nav-section user">
        <h2 class="user">Username: <%= @user.username %></h2>
      </div>
      <div class="nav-section logout">
        <form action="/logout" class="logout" method="post">
          <input type="submit" value="Logout" />
        </form>
      </div>
    </div>

    <div class="page">
      <div class="grid-container">
        <div class="grid-item input-container">
          <form action="/add-message" method="post">
            <textarea
              type="input"
              name="post-message"
              placeholder="spread some positivity.."
              class="message-input"
              value=""
            ></textarea>
            <input type="submit" value="Post" />
          </form>
        </div>
        <% @messages.each { |message| %>
        <div class="message-container">
          <h1 class="message"><%= message.message %></h1>
          <p><%= message.create_date %> posted by <%= message.username %></p>
          <div class="reply-container">
            <form action="/reply/<%=message.id%>" method="post">
              <input type="text" name="reply" class="reply" />
              <input type="submit" value="Reply" />
            </form>
          </div>
          <div class="replies">
            <% message.replies.each { |reply| %>
            <div class="reply-block">
              <h1><%=reply.message%></h1>
              <h1><%=reply.username%></h1>
            </div>
            <% } %>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </body>
</html>
