<html>
<body>
<% if flash[:notice] %>
   <div id='notice'>
     <%= flash[:notice].to_s %>
   </div>
   <br>
 <% end %>

 <% if current_user %>
   <h3>Welcome, <%= current_user.username %>.</h3>
   <form action='/sessions' method='post'>
     <input type='hidden' name='_method' value='delete'>
     <input type='submit' value='Log Out'>
   </form>
 <% end %>
 <form action="/peeps" method="post">
   <label for="user_peep">What are you peeping about? </label>
   <input type="text" name="user_peep">
   <input type="submit" value="Peep">
   </label>
 </form>
 <img src="http://static.tumblr.com/3be444dace80fba3b7f0e7d8a1c92069/x14p0zj/ygOnclkzd/tumblr_static_8q08dfddlegwcc0wo8w4k4cg8.png" style="width:300px;height:200px;">

 <h2>Most recent Peeps:</h2>
<% Peep.all(order: [:time.desc]).each do |peep| %>
<strong>Peep: </strong><%= peep.peep %><br>
<strong>Sent by: </strong><%= peep.user.username %><br>
<strong>Date/time: </strong><%= peep.time.strftime '%d-%m-%Y %I:%M %p' %>
<br>
<br>
<% end %>
</body>
</html>
