<% unless @filter_type.nil? %>
<%= erb :filtered_list %>
<% end %>

<div name="peep_list">
  <div>Hottest peeps right now:</div>
  <% @peep_list.reverse.each do |peep| %>
    <div class="peep_block">
      <div class="peep_text"><%= peep.content %>
      <% peep.tags.map(&:name).each do |tag| %>
        <a href="/peeps/<%=tag %>">#<%= tag %></a>
      <% end %>
      </div>
      <div class="peep_info">
        posted by <%= peep.user_id %> at <%= peep.date.strftime("%H:%M:%S on %d-%m") %>
      </div>
    </div>
  <% end %>
</div>
