<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Newsfeed</title>
  </head>
  <body>
<div class="hero-bkg-animated text">

<h2>Welcome <%= @user.username %> </h2>

<form action="/add_peep" method="post">
  <label for="peep">
    <h4>Write a new peep:</h4>
  </label>
  <input type="text" name="peep">
  <input type="submit" value="Peep" class="button">
</form>

<h3>Newsfeed</h3>
  <% @peeps.each do |peep| %>
    <% @users.each do |user| %>
    <% if user.id == peep.user_id %>
    ☻ <%= user.name %> says: <%= peep.peep %> (<%=peep.time%>)
    <% end %>
    <form action="/add_comment" method="get">
      <input type="hidden" name="id" value="<%=peep.id%>">
        <% if user.id == peep.user_id %>
      <input type="submit" value="Comment on <%=user.name%>'s peep" class="button"><p>
        <% end %>
    </form>
    <% if user.id == peep.user_id %>
    <% @comment_list.each do |comment| %>
      <% if peep.id == comment.peep_id %>
      <% if user.id == comment.user_id %>
      <%= user.name %> commented: <%= comment.text %><br><p>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
  <% end %>
  <% end %>

<form action="/logout" method="post">
<input type="submit" value="Logout" class="button">
</form>
