<% if current_user %>
  <%= "Welcome, #{current_user.real_name}!" %>
<% else %>
  <a id="sign_in" href="/users/sessions/new" style="text-decoration: none;">
    <input type="button" value="Sign in"/>
  </a>
  <a id="sign_up" href="/users/sign_up" style="text-decoration: none;">
    <input type="button" value="Sign up"/>
  </a>
<% end %>

<h1>Chitter chatter:</h1>
<h3><em>It's sweet to peep</em></h3>
<br>

<% if current_user %>
  <form action="/peeps/new" method="post">
    <input type="text" name="message"
    placeholder="Your message here (140 chars max)" required/>
    <input type="submit" value="Peep!"/>
  </form>
  <br>
<%end%>

<% unless Peep.all.empty? %>
  <% Peep.all.reverse.each do |peep| %>
    <div class="peep-div">
      <em><%= peep.handle %></em><br>
      <b><%= peep.author %></b> peeps:<br>
      "<%= peep.message %>"<br>
      <%= peep.time %><br><br>
    </div>
  <% end %>
<% end %>
