<h1> Welcome, <%= current_user.nil?  ? "New here? Why not sign up?" : current_user.name %>  </h1>

<% if current_user.nil? %>
  <form action="/login" method="get">
    <input type="submit" value="Log in">
  </form>

  <form action="/signup" method="get">
    <input type="submit" value="Sign up">
  </form>
<% else %>
  <form action="/peeps/new" method="get">
    <input type="submit" value="Pop a Peep">
  </form>
  <form action="/logout" method="get">
    <input type="submit" value="Log out">
  </form>
<% end %>

<ul id='peeps'>
  <% @peeps.each do |peep| %>
    <li>
      <p>Peep: <%= peep.message %></p>
      <p>Popped at: <%= peep.created_at.strftime("%H:%M %d-%m-%Y") %> by
      <%= User.get(peep.user_id).name %>
      (<%= User.get(peep.user_id).username %>)</p>
    </li>
  <% end %>
</ul>
