<% if flash.now[:notice]%>
<%= flash.now[:notice] %>
<%end%>


<h1>Chitter app - Peeps</h1>

<% if !@user %>
<form action="/sessions/new" method = 'post'>
<input type="submit" name="type" value="login">
<input type="submit" name="type" value="signup">
</form>
<%end%>

<% if @user %>

<form action = "/sessions/destroy", method = 'post'>
  <input type="submit" value = "Log out">
</form>

<form action = "/peeps/new">
  <input type = "submit" name = "send" value = "New peep">
</form>

<h2>Welcome <%= @user.username%> </h2>

<%end%>

<form action='/' method = 'post'>

</form>

<% @peeps.each do |peep| %>

<div class = 'peep'>

  <p class = 'name'> <%= peep['name'] %></p>
  <p class = 'handle'> <%= peep['username'] %></p>
  <p class = 'time'>  <%= peep['peep_time'] %></p>
  <br>
  <p class = 'text'><%= peep['peep'] %></p>
  <br>
  <br>
  
</div>

<br>
<%end%>

