<body>
  <h3>Current messages with <%= @receiver %>:</h3>
  <form method='post' class="form-horizontal" action='/main/private'>
    <div class="form-group">
      <label for="inputPeep">Write a new private peep here: </label>
      <input type='text' placeholder='Peep here...' name='message'>
      <input type="hidden" name="receiver" value= <%= @receiver %> >
      <button type="submit" class="btn btn-primary" name='Peep'>Peep</button>
    </div>
  </form>
  <br>
  <% if @private_feed %>
    <% @private_feed.each do |peep| %>
    <% user = @all_users.get(peep.user_id) %>
      <dl>
        <dt><%= peep.sender %> (<%= user.username %>) at <%= peep.time.strftime('%r')%>:</dt>
        <dt> <%= peep.message %> </dt>
      </dl>
      <br>
    <% end %>
  <% end %>
  <form method="get" action="/main">
    <button type="submit" class="btn btn-primary" name='Back'>Back</button>
  </form>
</body>