Current messages with <%= @receiver %>:
<br>
<% if @all_peeps %>
  <% @all_peeps.each do |peep| %>
    <% if (peep.personal_message_to == @receiver && peep.personal_message_from == @sender) || (peep.personal_message_to == @sender && peep.personal_message_from == @receiver) %>
      <%= peep.personal_message_from %> said: <%= peep.message %> at <%= peep.time.strftime('%r') %>
      <br>
      <% end %>
  <% end %>
<% end %>
Write a new private peep here

<form method='post' action='/main/private'>
  <input type='text' placeholder='Write your peep here...' name='message'>
  <input type="hidden" name="receiver" value= <%= @receiver %> >
  <input type='submit' value='Peep' name='peep'>
</form>
<br>
<form method="post" action="/session">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Logout">
</form>