
<section class='peep_container'>
<ul>
  <% @peeps.each do |peep| %>
  <li class='peeps'>

    <div class='posted'>Posted @<%= (peep.time).strftime("%d-%m-%Y -- %H:%M:%S")%></div>
    <div class='user_name'><%= peep.user.username %>:</div>
    <div class='content'><%= peep.content %></div>
    <a href='/session/reply/<%="#{peep.id}"%>' class='reply_link'>Reply</a>
    </li>
    <% if peep.replies %>
      <ol>
        <% peep.replies.each do |reply| %>
        <li class='replies'>
          <div class='posted'> Posted @<%= (reply.time).strftime("%d-%m-%Y -- %H:%M:%S")%></div>
          <div class='user_name'><%= reply.user.username %>:</div>
             <div class='content'><%= reply.content %></div>
        </li>
        <% end %>
      </ol>

    <% end %>
  <% end %>
</section>
</section>
</ul>
