<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Chitter </title>
    <!-- <link rel="stylesheet" href='sign_up.css' type='text/css'> -->
  </head>

  <body>
  <div>
    <h1> Chitter HQ <h1>
    <%= erb(:'user/logout')%>
    <form action="/post_peep" method="post">
      <label for="peep">
        Make a Peep:
        <% if flash[:too_long] %>
        <%= flash[:too_long] %>
        <% end %>
        <textarea rows="2" cols="50" name="peep">
        </textarea>
      </label>
      <label for="submit" class="submitform">
        <input type="submit" value="Word Vom">
      </label>
      <% if flash[:no_author] %>
      <%= flash[:no_author] %>
      <% end %>
    </form>
  </div>

  <%@peeps.each do |peep| %>
  <div class="single_peep" >
    <p><%= peep.peep_message %></p>
    <p><%= readable_time(peep.created_at) %></p>
    <p><%= readable_date(peep.created_on) %></p>
    <p><%= peep.author %></p>
  </div>
  <% end %>

  </body>
</html>
