<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
  </head>
  <body>
    <%= erb(:navbar) %>
    <form action='/signup' method='post'>
      <% if flash[:signup_errors] %>
        <ul>
          <% flash[:signup_errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class='back'>
            <div class='center-form'>
              <br />
              <!-- Seeing as you seem super interested in front-end work — I'd
              spend some time considering this question: given HTML & CSS is not
              a big focus of the course, and you are working mostly with people
              less experienced than you — how can you improve? Happy to feed
              into this, but you should lead it. -->
              Name: <input type='text' class='sign-in' name='name' value='<%= @user.name %>' required /> <br /> <br />
              Username: <input type='text' class='sign-in' name='username' value='<%= @user.username %>' required /> <br /> <br />
              Email: <input type='email' class='sign-in' name='email' value='<%= @user.email %>' required /> <br /> <br />
              Password: <input type='password' class='sign-in' name='password' required /> <br /> <br />
              Confirm Password: <input type='password' class='sign-in' name='confirm_password' required /> <br /> <br />
              <input class='btn btn-outline-danger my-2 my-sm-0 btn-move' type='submit' value='Submit' />
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </body>
</html>
