<form action='/registration' method='post' class="form-signin">
  <label for='name' class='sr-only'>Name:</label>
  <input placeholder="Name" type='text' name='name' id='name' class="form-control" required>

  <label for='username' class='sr-only'>Username:</label>
  <input placeholder="Username" type='text' name='username' id='username' class="form-control" required>

  <label for='email' class='sr-only'></label>
  <input placeholder="Email address" type='email' name='email'  id='email' class="form-control" value="<%=@email%>" required>

  <label for='password' class='sr-only'></label>
  <input placeholder="Password" type='text' name='password' id='password' class="form-control">

  <label for='confirm_password' class='sr-only'></label>
  <input placeholder="Confirm password" type='text' name='confirm_password' id='confirm_password' class="form-control" >

  <input class="btn btn-lg btn-primary btn-block" type='submit' value='Submit'>
</form>

<% if flash[:mismatch] %>
<%= flash[:mismatch] %>
<%end%>

<% if flash[:missing_email] %>
<%= flash[:missing_email] %>
<%end%>

<% if flash[:invalid_email] %>
<%= flash[:invalid_email] %>
<%end%>

<% if flash[:duplicate_email] %>
<%= flash[:duplicate_email] %>
<%end%>
