<ul>
    <li class="peep" id="peep-<%= peep.id %>">
    <p> <%= peep.text %></p>
    <span class="time">at <%= peep.time %> </span>
    <span class="author">by <a href="/users/<%= peep.username %>/peeps"> <%= peep.username %></a></span>
    </li>
  </ul>