<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>

     <div class="modal-body row">
        <div class="col-md-3">
          <%= link_to "Home page", root_path %><br>
          <%= link_to "Create new peep", new_peep_path %><br>
          <%= link_to "Sign up", new_user_registration_path %><br>
          <%= link_to "Log in", new_user_session_path %><br>
          <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
        </div>
      <div class="col-md-9 ">
        <%= yield %>
      </div>
    </div>

  </body>

</html>
